<style>
    .wps_upsell_offer_parent_wrapper {
        border: double #f4004d 4px;
        margin: 0 auto;
    }

    .wps_upsell_offer_parent_wrapper {
        font-family: 'Source Sans Pro', sans-serif;
    }

    .wps_upsell_offer_wrapper {
        background-color: #f0ff21;
        padding: 20px;
    } 

    .wps_upsell_offer_discount_section {
        margin: 0;
        text-align: center;
        background-color: #ff8121;
        line-height: 1.68;
    }

    .wps_upsell_offer_discount_section h3 {
        color: #0c0c0c;
        margin: 2px;
        padding: 1px;
        font-size: 39px;
        border: none;
    }

    .wps_upsell_offer_product_section {
        text-align: left;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        font-size: 16px;
        align-items: start;
    }

    .wps_upsell_offer_product_section p {
        margin: 0;
        color: #720121;
        font-size: 15px;
    }

    .wps_upsell_offer_product_content h4 {
        display: inline-block;
        vertical-align: middle;
        font-weight: 500;
    }

    .wps_upsell_offer_product_content p {
        white-space: pre-line;
    }

    p.wps_upsell_offer_product_price {
        font-size: 15px;
        font-weight: 700;
    }

    p.wps_upsell_offer_product_price del {
        font-size: 15px;
    }

    .wps_upsell_offer_product_section h4 {
        margin: 0;
        color: #720121;
        font-size: 25px;
        font-weight: 300;
    }

    .wps_upsell_offer_product_content {
        word-break: break-word;
    }

    .wps_upsell_offer_primary_section {
        align-items: center;
    background-color: transparent;
    display: flex;
    margin: 14px auto;
    padding: 10px;
    border: none;
    margin-top: 40px;
    margin-bottom: -10px;
    width: 366px !important;
    margin-left: 0px;
    background: #f9fff1;
    max-width: 100%;
    margin: 0 auto;
    border-radius:0px; 
    border: 1px solid #73994a;

} 

    .wps_upsell_offer_primary_section .add_offer_in_cart_text {
        color: black;
        font-size: 13px;
        margin: 0 0 0 5px; 
        font-weight: 600;
        padding: 0;
        line-height: 1;
        letter-spacing: 1px;
        text-transform: capitalize;    min-height: 25px;
    margin-top: 3px;
    display: flex;
    align-items: center;
    }
 
    .wps_upsell_offer_secondary_section {
        padding: 8px;
        background-color: #c1f0db;
        text-align: center;
        white-space: pre-line;
    }

    .wps_upsell_offer_secondary_section p {
        color: #485f75;
        margin: 0;
        font-size: 20px;
    }

    .wps_upsell_offer_primary_section .wps_upsell_bump_checkbox_container {
        cursor: pointer;
        width: auto;
        font-size: 22px;
        height: 23px;
        margin: 0 0 6px 0;
        padding-left: 35px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .wps_upsell_bump_checkbox_container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        margin: 3px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eeeeee;
        animation: shadow-pulse 1.5s infinite;
        border: 2px solid #73994a;
        border-radius: 20px;
    }
 
    .wps_upsell_offer_arrow {
        width: 40px;
        margin-right: 4px;
        transform: scaleX(-1);
        animation: leftright 0.4s infinite ease;
        padding: 0 2px;
        position: relative;
        top: 5px;
    }

    .wps_upsell_offer_arrow svg {
        width: 100%;
        height: auto;
        fill: #dd3333;
    }

    .wps_upsell_bump_checkbox_container:hover input~.checkmark {
        background-color: #ccc;
    }

    .wps_upsell_bump_checkbox_container input:checked~.checkmark {
        background-color: #ffffff;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .wps_upsell_bump_checkbox_container input:checked~.checkmark:after {
        display: block;
    }

    .wps_upsell_bump_checkbox_container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid #333;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .wps_upsell_offer_image {
        margin-right: 10px;
    }

    .wps_upsell_offer_img {
        width: 80px;
        height: 80px;
        max-width: 200px;
        max-height: 200px;
    }

    @media only screen and (min-width : 768px) and (max-width: 1100px) {
        .wps_upsell_offer_wrapper .wps_upsell_offer_product_section {
            flex-wrap: wrap;
            justify-content: center;
        }

        .wps_upsell_offer_wrapper .wps_upsell_offer_product_content {
            width: 100% !important;
        }
    }

    @media screen and (max-width: 480px) {
        .wps_upsell_offer_product_content {
            margin-left: 0;
        }
    }

    /*! CSS Used keyframes */
    @keyframes shadow-pulse {
        0% {
            box-shadow: 0 0 0 1px #73984a; 
        }

        100% {
            box-shadow: 0 0 0 7px transparent;
        }
    }

    @keyframes leftright {
        0% {
            transform: translateX(-5px)scaleX(-1);
        }

        60% {
            transform: translateX(-2px)scaleX(-1);
        }

        100% {
            transform: translateX(-5px)scaleX(-1);
        }
    }
</style>
{% if handle contains 'prolon-offer' %}
<div class="wps_upsell_offer_primary_section">
    <label class="wps_upsell_bump_checkbox_container">
        <input type="checkbox"  name="add_offer_in_cart_checkbox"
            class="add_offer_in_cart water-bottle-add-to-cart" 
            
            ><span class="checkmark"></span>
         
    <h5 class="add_offer_in_cart_text">+ Add Signature Water Bottle for only $7.50</h5>
</label>
    </div>

{% endif  %}