<div class="grid__item one-whole healthy-warning">
<h3 class="section-header__title" style="text-align: center; color: #73994a;">Healthy Start Commitment</h3>
<p class="rte text-spacing" style="text-align: left; font-weight: 600; font-size: smaller;">Do not use ProLon if: </p>
<ul class="ul2">
<li>You are allergic to nuts, oats, sesame, celery/celeriac, or other ingredients in the product.</li>
</ul>
<p class="rte text-spacing" style="text-align: left; font-weight: 600; font-size: smaller;">ProLon is a very low calorie diet designed to support fasting. Not everyone should fast.</p>
<ul class="ul2">
<li>If you have any pre-existing conditions or are taking any prescription medications, consult your healthcare provider before starting fast. </li>
<li>Do not start a fast if you may have an infection or may be at risk for a repetitive infection; are underweight, pregnant, breastfeeding; have a known, diagnosed or suspected eating disorder; or have dietary restrictions.</li>
<li>If you are under 18 or over 70, consult your healthcare provider about fasting.</li>
</ul>
<p class="rte text-spacing" style="text-align: left; font-size: smaller;"><span style="font-weight: 600;">If you are a patient enrolling in the ProLon Professional Program</span>, by using the QR code or purchasing from this website using your healthcare professional’s code or information, you are identifying as a patient. As part of the program, you agree to participate in coaching; receipt of educational materials through coaching, text messages, and/or email; and provision of a report back to your healthcare provider regarding your participation.</p>
<div class="row" style="background-color: #ffffff; color: #002500; padding: 10px 10px 0px;">
  <h5><small>By clicking on the box, you agree that you have read and can adhere to this Healthy Start Commitment.</h5></small>
</div>
</div>


            <hr class="hr--medium">


 <style>
   
.healthy-warning {
    background-color: #f4f7fa;
    padding: 30px 20px;
    margin-top: 10px;
    border: 1px solid #f4f7fa;
}
   .ul2 {
     font-size: smaller; 
   }
   
</style>