<style>
  .gift-product-wrapper {display: flex;justify-content: space-between;align-items: center;}

.gift-product-wrapper .side-cart__addon-image {width: 150px;height: 150px;background: white;padding: 10px;}

.gift-product-wrapper li.side-cart__item__addon-container {list-style: none;background: none;margin: 0;}

.choose-free-gift {text-align: center;background: #f4f7fa;padding: 10px;
  display: none;

}
.gift-product-wrapper {max-width: 97%;margin: 0 auto;padding: 0px;margin-left: 0px;justify-content: space-around;}

.choose-free-gift h3 {font-size: 20px;;margin-top: 0px;margin-bottom: 5px;}

.choose-free-gift h5 {margin-top: 0px;margin-bottom: 10px;}

.slide-cart-full .side-cart__product-style {font-weight: bold;color: black;}
.side-cart__item-addon{
background-color: white;
padding-bottom: 10px;

} span.side-cart__addon-action .btn.update-choose-gift {background: #73984a!important;} 
.or-between {padding: 0px 30px;font-family: 'Harmonia Sans';font-weight: 100;top: -30px;position: relative;letter-spacing: 1px;}
button.btn.update-choose-gift {border-radius: 30px;font-size: 12px;}
.gift-product-wrapper li.side-cart__item__addon-container .side-cart__addon-meta {padding-top: 10px;} 
</style> 
<div class="choose-free-gift">

  <h3>You are eligible for a free gift.</h3><h5>Choose your free gift.</h5>
  <div class="gift-product-wrapper">
      
       
      <li class="side-cart__item__addon-container" >
        <a>
          <div class="side-cart__item-addon">
            <div class="side-cart__addon-image">
              <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/products/22_PL_Reset_v2_720x.png?v=1648821163" alt="Reset Kit"> 
            </div>
            <div class="side-cart__addon-meta">
              <span class="side-cart__product-style">1-Day Reset Kit</span>
              <span>$35 VALUE</span> 
              
            </div>
            <span class="side-cart__addon-action">  
              <button type="button" data-variant-id="41562580320414" data-add-addon="Buy" aria-label="Add Item" class="btn update-choose-gift">
                Select  
              </button></span>
          </div>
        </a>
      </li>
       
      <li class="side-cart__item__addon-container" >
        <a>
          <div class="side-cart__item-addon">
            <div class="side-cart__addon-image">
              <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/products/FastBar12ct-Nibs.png?v=1650554304" alt="Fast Bar® 12ct"> 
            </div> 
            <div class="side-cart__addon-meta">
              <span class="side-cart__product-style">Fast Bar 12ct</span>
               <span>$35 VALUE</span> 
               
            </div>  
            <span class="side-cart__addon-action">
              <button type="button" data-variant-id="41607825752222" data-add-addon="Buy" aria-label="Add Item" class="btn update-choose-gift"> 
                Select
              </button></span>
          </div>
        </a>
      </li></div>
  </div> 