<div class="flex py-2 bg-white md:p-4" :class="{ 'hidden': item.title.toLowerCase().includes('order protection') }">
  <div class="flex-shrink-0 "><img v-if="item.image" loading="lazy" class="object-cover object-center w-20 h-20 rounded-md sm:h-20 sm:w-20" :src="item.image"
    :alt="item.title">
      </div>
  <div class="flex flex-col justify-between flex-1 ml-4 sm:ml-6">
    <div class="relative pr-9 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:pr-0">
      <div>
        <div class="flex justify-between">
          <h3 class="text-sm">
            <a :href="item.url" class="text-sm">${ item.product_title }</a>
            </h3>
        </div>
        <div>
          <p class="mt-1 text-xs font-medium text-gray-700">${
            item.variant_title
          }</p>
         
        </div> 
        <div class=" product-bundle-items" v-if="item.has_components"> 
          
          <div @click="item.hide_bundles=!item.hide_bundles" class="text-xs underline cursor-pointer">
            <span v-if="item.hide_bundles">Show</span>
            <span v-else>Hide</span>
            ${bundle_component_length(item)} items ›
          </div>
          <div v-html="bundle_components(item)" v-if="!item.hide_bundles" >
          

            


          </div>
        </div>
        <span color="subtle" class="flex mt-1 text-[0.825rem] text-gray-7500" v-if="selling_planName(item)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" class="w-4 h-4 mr-2">
            <path fill="#317040" fill-rule="nonzero"
              d="M7 0a6.969 6.969 0 0 0-5.315 2.462L0 .778v4.666h4.667L2.794 3.571A5.413 5.413 0 0 1 7 1.556 5.45 5.45 0 0 1 12.444 7H14c0-3.86-3.14-7-7-7zM0 7c0 3.86 3.14 7 7 7a6.969 6.969 0 0 0 5.315-2.462L14 13.221V8.556H9.333l1.873 1.873A5.414 5.414 0 0 1 7 12.444 5.451 5.451 0 0 1 1.556 7H0z">
            </path>
          </svg>
          ${selling_planName(item)}
        </span>
          <p class="mt-1 text-sm font-medium text-black"
          v-if="provider_code"
          >
            {% comment %} <s class="pr-2 text-gray-500" v-if="item.original_line_price>0 && item.original_line_price>item.final_line_price">${ money(item.original_line_price) }</s>  {% endcomment %}
 
            <span v-if="item.final_line_price>0">${ money(item.original_line_price) }</span>
            <span v-else-if="item.sku=='BK1002'"> 
              Life changing book — discover what to eat to help you live, healthy long!
            </span> 
            <span :data-sku="item.sku" v-else>Free </span>
          </p>

            <p v-else class="mt-1 text-sm font-medium text-black">
              <s class="pr-2 text-gray-500" v-if="item.original_line_price>0 && item.original_line_price>item.final_line_price">${
                money(item.original_line_price) }</s>
            
              <span v-if="item.final_line_price>0">${ money(item.final_line_price) }</span>
              <span v-else-if="item.sku=='BK1002'">
                Life changing book — discover what to eat to help you live, healthy long!
              </span>
              <span :data-sku="item.sku" v-else>Free </span>
            </p>


          <p class="flex items-center justify-start gap-2 mt-1 text-sm font-medium text-gray-600"
          v-if="!provider_code"
          v-for="d in item.discounts">  
            <svg class="w-[20px] h-[20px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" focusable="false" aria-hidden="true"
              >
              <path stroke-linecap="round" class="text-gray-400 fill-current" 
                d="M7.284 1.402h4.964a.35.35 0 0 1 .35.35v4.964a.7.7 0 0 1-.205.495L7.49 12.115a.7.7 0 0 1-.99 0L1.885 7.5a.7.7 0 0 1 0-.99L6.79 1.607a.7.7 0 0 1 .495-.205Z">
              </path>
              <circle cx="9.1" cy="4.9" r="0.7"></circle>
              <path stroke-linecap="round" stroke-linejoin="round" d="M9.102 4.897h-.005v.005h.005v-.005Z"></path>
            </svg> 

            <span >
              ${ d?.title } (-${money(d.amount)})
            </span>
              
          </p>

      </div>
      <div class="mt-4 sm:mt-0 sm:pr-9">
        
       
          <div class="text-gray-500">
            <label class="sr-only">Quantity, ${item.quantity}</label>
            <div class="flex items-center rounded w-fit" :class="
                      {
                        'border' : !(item.title.toLowerCase().includes('free')|| item.handle=='reset-by-prolon')  || item.handle=='expidited-shipping',
          
                      }
                    ">
              <button v-if="!item.loading_minus " :disabled="disableCart" aria-label="Decrease quantity"
                class="w-8 h-8 transition text-primary/50 hover:text-primary disabled:cursor-wait" :class="
                        {
                          'hidden' : item.title.toLowerCase().includes('free') || item.handle=='reset-by-prolon'  || item.handle=='expidited-shipping',
                        } 
                      " @click="decrement(item,index)">
                −
              </button>
              <svg v-if="item.loading_minus" aria-hidden="true" role="status"
                class="inline w-4 h-4 ml-2 text-white animate-spin text-prolon_green" viewBox="0 0 100 101" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="#E5E7EB"></path>
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentColor"></path>
              </svg>
              <div class="px-2 text-center">${item.quantity}</div>
              <button v-if="!item.loading_plus" aria-label="Increase quantity" :disabled="disableCart"
                class="w-8 h-8 transition text-primary/50 hover:text-primary disabled:cursor-wait" @click="increment(item,index)"
                :class="
                        {
                          'hidden' : item.title.toLowerCase().includes('free')  || item.handle=='reset-by-prolon'  || item.handle=='expidited-shipping',
                        }
                      ">
                +
              </button>
              <svg v-if="item.loading_plus" aria-hidden="true" role="status"
                class="inline w-4 h-4 ml-2 mr-3 text-white animate-spin text-prolon_green" viewBox="0 0 100 101" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="#E5E7EB"></path>
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentColor"></path>
              </svg>
            </div>
          </div>
    
        <div class="absolute top-0 right-0">
          <button type="button"
          :disabled="disableCart"          
          @click="removeItem(item,index)"
          class="inline-flex p-2 -m-2 text-gray-400 hover:text-gray-500 disabled:cursor-wait !text-black !bg-transparent"
          >
          
          
          <span
              class="sr-only">Remove</span>
                <svg v-if="item.removing" aria-hidden="true" role="status"
                  class="inline w-4 h-4 ml-2 text-white animate-spin text-prolon_green" viewBox="0 0 100 101" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="#E5E7EB"></path>
                  <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentColor"></path>
              </svg>
              <svg v-else xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd"
                d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
            
            </div>
      </div>
    </div>
  </div>
</div> 
 