<div class="page-width" style="text-align:center; padding:30px 0px" >
	{% if customMessage %}
	<p>
		{{customMessage}} 
	</p>
	{% else%}
	<p> This is a "Providers only" {{type}}. Either you do not have access or you are not logged in.</p> 
  
	<a href="/account/login?view=provider&checkout_url=/{{type}}s/{{handle}}" class="btn" > LOGIN</a>	{%endif %}
</ div>   