<script src="https://unpkg.com/vue3-otp-input" defer></script>
<script src="{{'king-patient-popups.js' | asset_url }}" defer></script>
<div 

class="patient-popup-wrapper"
>
<div class="fixed top-0 backdrop-blur-[10px] left-0 z-50 flex items-center justify-center w-full h-full bg-black bg-opacity-60"> 
    
</div> 


</div>