<div class="prolon-top-section">
  
    <br>
    <p class="h3">
      Prolon’s Brand Purpose
    </p> 
    <p>To deliver many of the benefits of fasting with convenience and ease with a complete 5 day Fast, while empowering you to take control of your own health</p>
    <div class="section-top-message">ProLon® is a 5-day dietary program carefully designed to nourish and rejuvenate your body while supporting metabolic balance.
  
      The ProLon FastingMimicking Diet® gives many of the benefits of a fast while letting you eat delicious food to help fight hunger and lose weight while protecting lean body mass.* Get a trimmer waistline and many of the associated benefits of fasting without requiring ongoing lifestyle changes, such as long-term dieting.
      <br><small style="font-color: #333333;"><br>*In a clinical study, ProLon was shown over three cycles (one per month for three months) to help individuals lose an average of 5.7 lbs and 1.6 inches off their waist circumference.</small>
      </div> 
      <h3 class="purchase-notice">All ProLon purchases include a 20 minute health coach consultation — a <span style="color:red">$74 Value!</span></h3>
  </div>    