<style>
  .line-item-property__field .flex {
    display: flex;
  }
  .flex {
    display: flex;
    /* margin-top: 21px; */
  }

  .line-item-property__field .flex label {
    margin: 0px;
    line-height: 2;
  }

  .line-item-property__field .flex input {
    margin-top: 5px;
  }
  .line-item-property__field .flex label {
    font-family: var(--typeBasePrimary), var(--typeBaseFallback);
    font-weight: 500;
    text-transform: uppercase;
  }.line-item-property__field {
    text-align: left;
}
.line-item-property__field{
    border: 2px solid #c8c8c8; background: #fdfcf5;
}
.line-item-property__field .background-wrapper {
    background: #fdfcf5;
    padding: 20px;
  
}
.line-item-property__field img {
margin-bottom: -7px;
}

@media(max-width:767px){
    .page-content.page-content--product .grid__item {
    margin: 0px;
    padding: 0px;
}
}
</style>
<br />
<div class="line-item-property__field">
    <div  class="background-wrapper" >
  <h5>Bonus Pack Includes: </h5>
 
  <p>✅  &nbsp; 4 x Extra Kale Crackers</p>
  <p>✅  &nbsp; 4 x Extra L-Bar Choco Crisp</p>
  <p>✅  &nbsp; 4 x Extra Soup Mix ( 2 x Tomato Soup, 2 x Butternut Squash)</p>
</div>
  <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/21_CON_PL_Sampler-check_out-100x400-b.jpg?v=1631818707" />
</div>
  