<div class="testimonials-wrapper">
    <br>
    <div class="testimonials-slider" id="Testimonials-testimonials" data-count="3">
      
        <div
          class="testimonials-slide--1601661782381"
          data-aos="row-of-3"
          >
          <blockquote class="testimonials-slider__text">
            <span class="quote-icon" style="display:none;"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35"><path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"/></svg></span>
            
              <div class="rte-setting text-spacing"><img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/5Stars_120.png?v=1600302123" alt="Trust Pilot 5 Star Review" class="lazyload"><strong>This was my first 5 day.</strong> I was amazed about how I was rarely hungry and how much energy I had. Highly recommend!!</div>
            
            
            
              <cite>Michele K.</cite>
            
          </blockquote>
        </div>
      
        <div
          class="testimonials-slide--1601661959308"
          data-aos="row-of-3"
          >
          <blockquote class="testimonials-slider__text">
            <span class="quote-icon" style="display:none;"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35"><path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"/></svg></span>
            
              <div class="rte-setting text-spacing"><img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/5Stars_120.png?v=1600302123" alt="Trust Pilot 5 Star Review" class="lazyload"><strong>The best fasting product out there.</strong><p>Very healthy, I felt renewed and ready to continue my journey to a healthier me.</p></div>
            
            
            
              <cite>Monica Monroy &amp; Jonathan Garcia</cite>
            
          </blockquote>
        </div>
      
        <div
          class="testimonials-slide--1601662011130"
          data-aos="row-of-3"
          >
          <blockquote class="testimonials-slider__text">
            <span class="quote-icon" style="display:none;"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35"><path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"/></svg></span>
            
              <div class="rte-setting text-spacing"><img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/5Stars_120.png?v=1600302123" alt="Trust Pilot 5 Star Review" class="lazyload"><strong>Great diet.</strong> Second time. Got easier. And the results are amazing - lost 4kg (9-10 lbs) in 5 days and I feel great.*</div>
            
              
              
              <cite>Elad Shoushan</cite><br>
              <small>*Results not typical. &nbsp;On average, weight is loss is 5 pounds in 5 days</small>
          </blockquote>
        </div>
      
    </div>
  </div> 