<style>
  .provider_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #577d95;
    padding: 20px;
    text-align: center;
  }
  .provider_wrapper h2 {
    color: #ee6c10;
    font-size: 30px;
  }
  .provider_wrapper p {
    color: #002500;
    font-size: 26px;
    letter-spacing: 1px;
  }
</style>

<div class="provider_wrapper">
  <div
    class="row"
    style="
      background-color: #f8fbfd; padding: 20px; margin-top: 0px; text-align: center; box-shadow: inset 0 0 0 2px #577d95;
      border: 20px solid #f8fbfd;
    "
  >
    <h3 style="font-size: 1.4em; color: #f1903a;">GET FREE FAST BARS WITH YOUR ORDER!</h3>
    <h4>1 - 3 Units Get 20 FREE Fast Bars</h4>
    <h4>4 - 9 Units Get 50 FREE Fast Bars</h4>
    <h4>10 Units or More Get 100 FREE Fast Bars</h4>
  </div>
</div>
