<style>
    #reset-terms-cover * {
  color: black;
} 
div#reset-terms-cover.hidden {display: none;} 
#reset-terms-cover .visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
#reset-terms-cover h1 {
  font-size: 26px;  
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 20px;
  max-width: 255px;    white-space: nowrap;
 
}
#reset-terms-cover p {
  font-size: 18px;
  line-height: 150%;
  margin: 0 0 24px;
}
#reset-terms-cover section {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#reset-terms-cover header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#reset-terms-cover .price {
  color: #5a31f4;
  font-weight: 600;
  display: inline-flex;
  flex-direction: column;
  line-height: 1;
  align-items: center;
}
#reset-terms-cover .price__icon {
  width: 43px;
  height: 10px;
}
#reset-terms-cover .list {
  list-style: none;
  padding: 0;
  margin: 0;
}
#reset-terms-cover .list-item {
  display: flex;
  padding-bottom: 24px;
}
#reset-terms-cover .list-item__heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  padding-bottom: 4px;
}
#reset-terms-cover .list-item__subheading {
  font-size: 14px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.7);
}
#reset-terms-cover .list-item__icon {
  width: 24px;
  height: 24px;
  flex: 0 0 21px;
  padding-right: 12px;
}
#reset-terms-cover .btn__close {
  position: relative;
  overflow: visible;
  margin: 0;
  background: transparent;
  border: none;
  -webkit-font-smoothing: inherit;
  appearance: button;
  cursor: pointer;
} 
#reset-terms-cover .btn__close--primary {
  background-color: #eff5e3;
  color: black;
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  transition: background-color 100ms ease-in-out, opacity 100ms ease-out, color 100ms ease-in-out;
}
#reset-terms-cover .btn__close--icon {
  display: inline-flex;
  flex-shrink: 0;
  padding: 16px;
  border-radius: 6px;
}
#reset-terms-cover .btn__close--icon:hover,
#reset-terms-cover .btn__close--icon:active,
#reset-terms-cover .btn__close--icon:focus {
  background-color: #eff5e3;
  color: black;   
}  
#reset-terms-cover .btn__close--primary:hover,
#reset-terms-cover .btn__close--primary:active,
#reset-terms-cover .btn__close--primary:focus {
  background-color:#9ac93b ;  
} 
#reset-terms-cover .help_text {
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 12px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
#reset-terms-cover .help_text__link {
  color: rgba(0, 0, 0, 0.6);
}
#reset-terms-cover .help_text__link:hover,
#reset-terms-cover .help_text__link:active,
#reset-terms-cover .help_text__link:focus {
  color: #3f22ab;
}
#reset-terms-cover footer {
  text-align: center;
}
#reset-terms-cover .close__icon {
  width: 13px;
  height: 13px;
}
#reset-terms-cover .affirm-logo {
  width: 39px;
  height: 21px;
  padding-left: 4px;
}
#reset-terms-cover .affirm-text {
  display: flex;
  font-size: 12px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}  
</style> 
<div id="reset-terms-cover" class="hidden" 
    style="position: fixed; inset: 0px; z-index: 999999; background: rgba(0, 0, 0, 0.3);">
    <div id="reset-payment-terms-modal" role="dialog" aria-modal="true"
        aria-labelledby="reset-payment-terms-modal-heading" 
        style="position: fixed; inset: 0px; z-index: 999999; background: white; height: 550px; width: 432px; max-width: 95%; max-height: 95%; margin: auto; border-radius: 7px; padding: 32px; box-sizing: border-box; overflow: auto;" >
           
        <reset-installments-modal  > 

            <section>
                <header>
                  <h1 id="shopify-payment-terms-modal-heading">ProLon Reset.</h1>
                  <button type="button" class="btn__close btn__close--icon" aria-label="Close"> 
                    <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/271203.png?v=1645189494" style="
                    width: 12px;
                ">                   </button>  
                </header> 
                <p>
              <span>ProLon ReSet is the only scientifically backed 1-day nutrition kit that puts your body in a fasting state, helping you take the time to reset and recharge.
              </span>  
            
              
            </p> 
            <div class="list-item__subheading">Use it during any day of the week whenever you feel that you had a few days of overindulgence or unhealthy lifestyle. Or adopt it as a fasting nutrition lifestyle program by consuming it once or twice a week (for example, use it as the 5:2 diet - two days of fasting nutrition, 5 days of traditional food). 
<br><br>
              It is also the perfect companion if you want to transition to an easier Intermittent Fasting experience during which you eat carb-controlled food and recoup some of the benefits of fasting!</div>   
              <br >  
                <button type="button" class="btn__close btn__close--primary">Close</button>
               
              
            
              </section> 
        </reset-installments-modal>
    </div>
</div>