<link rel="stylesheet" href="{{"shop-pay.css" | asset_url }} " /> 
<!-- <link rel="stylesheet" href="http://localhost:9050/css/shop-pay.css" class="href"> -->
<style>

  
  @media(min-width:990px){
  .shoppay-main-hero-image {
    position: relative;
    top: -170px;

}  
  }
</style> 
<div class="flex">

  <div class="hero_plus_image" style="display: none;">
    
    <div class="___main-banner-prolon-wrapper">
      
   <div class="__left-col-prolon-wrap">
     <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Header-_Fast_Now_Pay_Later_d8dffc1c-75fa-45d9-9f6a-f9f09efd8d8f.png?v=1624347454">
   </div>
      
     <div class="__right-col-prolon-wrap">
      <section class="hero-text-banner">
<!--       <h3 class="_shoppay-hero-heading">
        Introducing FAST NOW, PAY LATER with Shop Pay
      </h3>
      <p class="font-bold __payment-split--text">
        Split your purchase into 4 easy payments — with no hidden fees, no
        surprises!*
      </p> -->
      <div class="shop-now-atc-snip">
<!--         <p class="font-bold uppercase prolon-offer">Limited-time offer</p>
 -->
        <img
          src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/175ProLon.png?v=1630083351
        "
          class="w-64 prolon-main-price"
        />

        <a href="#product-choice" class="w-20 h-8 bg-red-100 orange-atc">ORDER NOW</a>
        <div class="shop-pay affirm-section">
          <img src="{{ "shop-pay-logo.png" | asset_url }}" alt=""
          class="shop-pay-svg">

          <span class="installment-text">
            installments in partnership with <img src="{{
              "affirm-logo.png" | asset_url
            }}" class="inline-block afirm-inline-logo" /> <br />
            with 4 interest-free payments of $43.75
          </span>
        </div>
      </div>
      <div class="shop-pay-notice">
        With Shop Pay Installments, you split your purchases into four equal,
        <br class="only-desktop" />
        interest-free payments — with no additional, hidden, or late fees, and
        no <br class="only-desktop" />
        impact to your credit score.
      </div>
    </section>
    </div>
    
     </div>
    
    <div class="shoppay-main-hero-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/hero-box-prolon-nobars.png?v=1630083307"
        alt=""
        class="hero-box-prolon"
      />
    </div>
  </div>
  {% include 'banner-pay', priceToShow:'$43.75'%}

</div>

<div class="flex main-shop-pay--wrapper">   

  <section class="facts-shop-pay-section">
    <div class="single-fact-shop-pay">
      <img
        src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Quick_Approval.jpg?v=1621626581"
        alt=""
        class="singl-fact-image"
      />
      <h3 class="single-fact-title">Quick Approval</h3>
      <p class="fact-description">
        Get a real-time decision with <br />no interest, no fees, and no<br />
        impact to your credit score.
      </p>
    </div>

    <div class="single-fact-shop-pay">
      <img
        src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/No_Hidden_Fees.jpg?v=1621626581"
        alt=""
        class="singl-fact-image"
      />
      <h3 class="single-fact-title">Easy Payments</h3>
      <p class="fact-description">
        Split your purchase <br />
        into 4 easy payments 
      </p>
    </div>

    <div class="single-fact-shop-pay">
      <img
        src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Easy_Payments.jpg?v=1621626581"
        alt=""
        class="singl-fact-image"
      />
      <h3 class="single-fact-title">No Hidden Fees</h3>
      <p class="fact-description">0% interest payments</p>
    </div>
  </section> 

  <section class="ultimate-combination" style=" display:none;background-image:url('https://cdn.shopify.com/s/files/1/0126/2921/3243/files/bg-nobars.png?v=1630083633')">
    <div class="text-column-for-combination">
      <h4 class="subtitle-combination">PROLON x FAST BAR</h4>
      <h2 class="main-combination-title" title="The Ultimate Combination"><img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/PROLON_x_FAST_BAR_Th.png?v=1621627960" alt="" class="title-combination"></h2>
      <p class="combination-description">
        For a limited time, enjoy a complimentary <br class="only-desktop" />
        24 ct. of Fast Bar® with your purchase of <br class="only-desktop" />
        ProLon Fasting Mimicking Diet®.<br />
        Enjoy Fast Bar, between your cycles of <br class="only-desktop" />
        ProLon, to extend your intermittent fast.
      </p>
    </div>
  </section>

  <section class="add-to-cart-now">
    <div class="shop-now-atc-snip">

      <img
        src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/175ProLon.png?v=1630083351"
        alt=""
        class="w-64 prolon-main-price"
      />  

      <a href="#product-choice" class="w-20 h-8 bg-red-100 orange-atc">ORDER NOW</a>
      <div class="shop-pay affirm-section">
        <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/t/86/assets/shop-pay-logo.png?v=17456860908830433420" alt=""
        class="shop-pay-svg">
 
        <span class="installment-text">
          installments in partnership with <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/t/86/assets/affirm-logo.png?v=10486612333608295017" class="inline-block afirm-inline-logo" /> <br />
          with 4 interest-free payments of $43.75
        </span>
      </div>
    </div>
  </section>

  <section class="paying-with-shop-pay">
    <h3 class="paying-step-hero-heading">
      Paying with Shop Pay is as easy as 1, 2, 3!
    </h3>
    <p class="font-bold normal-split--text">
      Finally, you don’t have to pay for your fast all at once. Happy days!
      <span class="shop-pay-text">Shop Pay</span> makes it easy to find a
      payment plan that suits you so you can focus on getting your fast started.
    </p>
    <div class="three-payment-steps">
      <div class="single-payment-step">
        <div class="stepcount">1</div>

        <h4 class="step-title">Add items to your cart</h4>
      </div>
      <div class="single-payment-step">
        <div class="stepcount">2</div>

        <h4 class="step-title">Check out with Shop Pay</h4>
      </div>
      <div class="single-payment-step">
        <div class="stepcount">3</div>

        <h4 class="step-title">Pay in 4 easy installments</h4>
      </div>
    </div>
    <div class="shop-pay-notice">
      <p>Your first payment will be due at checkout.</p>

      <p>
        The next 3 remaining installments will be automatically charged every 2
        weeks to your card saved on
        <span class="font-bold">Shop Pay</span>.<br />
        And don't worry, you'll get an email reminder before each payment to
        keep you in the know.
      </p>
    </div>
  </section> 


<!-- FAQS -->
  <div class="prolon-main-container-wrap">
  <div class="prolon_faq-title-faq-sec">
    <h2>Frequently Asked Questions</h2>
  </div>

  <div class="___prolon-faqs-main-wrapper">
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer">What is Shop Pay and how does it work?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>Shop Pay helps you check out faster when you’re shopping in participating stores
            by automatically filling in your saved payment and shipping information when you
            enter your email address at checkout.
          </p>
        </div>
      </div>
    </div>
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-2" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-2">What is the option to pay in installments on Shop Pay?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>When you check out with Shop Pay, you have the option to pay in installments.
            Installments are a flexible payment option that can help you invest in larger
            purchases up to $1000 by dividing your purchase amount into four equal,
            biweekly, and interest-free payments. There are no additional fees.
          </p>
        </div>
      </div>
    </div>
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-3">How does the payment schedule work?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>Your first payment is due at checkout or up to 2 weeks after your purchase for
            approved customers. The next 3 remaining installments are automatically
            charged to your card saved on Shop Pay every 2 weeks.
          </p>
        </div>
      </div>
    </div>
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-4" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-4">What if I can’t pay a Shop Pay installment?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>Login to your shop pay account and contact them for further assistance. Prolon
and L-Nutra do not manage your installment payments, they are provided by
Shop Pay and underwritten by Affirm. You may also visit
https://shoppay.affirm.com/help/s/
for additional information.
          </p>
        </div>
      </div>
    </div>
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-5" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-5">Are there any additional costs to use this service?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>There are no additional charges, interest rates, or late fees.
          </p>
        </div>
      </div>
    </div>
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-6" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-6">When will my items be delivered if I use a Shop Pay installment?
      </label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>Items in your order will be delivered normally, depending on the shipping service
            selected at checkout.</p>
        </div>
      </div>
    </div>
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-7" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-7">Is there a limit to how much I can spend on a single transaction using Shop
        Pay?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>Shop Pay installments can be used for purchases between $50– $1,000.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
  
</div> 
