<style>
  top-header {
    display: flex;
    background: white; 
    justify-content: flex-end;
  }

  top-header > a {
    padding: 5px 10px;
    line-height: 1.3;
  }

  top-header > a:hover {
    background: #73994a;
    color: white;
    cursor: pointer;
  }
  @media(max-width:400px){

  top-header > a {
  font-size: 12px;
  }   
 
  } 
</style>
<top-header class="hidden md:flex">
  <a href="/products/prolon-professionals" class="">
    <span>Patient Registration</span>
  </a>  
        
  <a href="/pages/find-provider" class="">
    <span>Practitioner Locator</span>
  </a>
 
  <a href="/account/login?view=provider" class="" style="">
    <span>Practitioner Login</span>
  </a>
  </top-header> 
