<div class="{% if mobile %}block lg:hidden {% else %}hidden lg:block {% endif %} mt-2">

<div class="flex w-full gap-2 overflow-x-scroll overflow-y-hidden aspect-w-1 aspect-h-1 flex-nowrap md:grid md:grid-cols-2 md:justify-center md:items-center md:overflow-hidden">
  <div class="shrink-0  col-span-2 md:!max-w-full   relative " style="transition-delay: 1.2s;">
    <img src="https://cdn.shopify.com/s/files/1/0613/8069/0174/files/1_3.jpg?v=1721226238" class="!w-auto md:!w-full md:!max-w-full min-h-[350px] m:!max-h-[350px] md:!h-full !object-cover" alt="Product image" loading="eager">
  </div>
  <div class="shrink-0   relative " style="transition-delay: 1.6s;">
    <img src="https://cdn.shopify.com/s/files/1/0613/8069/0174/files/ProLon_Life_PDP_Image_1-L_Protein.jpg?v=1720544889" class="!w-auto md:!w-full md:!max-w-full min-h-[350px] m:!max-h-[350px] md:!h-full !object-cover" alt="Product image" loading="eager">
  </div>
  <div class="shrink-0   relative " style="transition-delay: 2s;" >
<video autoplay muted loop id="Video_LProtein">
  <source src="https://cdn.shopify.com/videos/c/o/v/a26be6d7be63426bb8c3e5fabd7f2bdc.mp4" type="video/mp4">
</video>
</div>
  <img class="col-span-2 hidden md:block !max-w-full !h-auto !object-contain" src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/pl-Featured.png?v=1690546584&amp;width=2754&amp;height=129">
</div>
  
</div>
