


<div class="{% if mobile %}block lg:hidden {% else %}hidden lg:block {% endif %}">
  {%- comment -%}
     <div class="max-w-full lg:max-w-[70%] mx-auto">
      <img
        src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Fastbar_Smart_Way.png?v=1666353353"
        class=" rounded-lg"
      >
    </div>
  {%- endcomment -%}
  <div class="grid grid-cols-1 lg:grid-cols-2  lg:gap-4 mt-4 m:max-w-[90%] m:mx-auto">
    <img
      loading="lazy"
      src="https://cdn.shopify.com/s/files/1/0569/1654/1632/files/NUTRIZIONE_DI_PRECISIONE_SCIENTIFICAMENTE_TESTATA.png?v=1673437085"
      class=" rounded-lg"
    >

    <div class="overflow-hidden relative rounded-lg bg-prolon_primary">
      <div class="video-background">
        <div class="video-foreground">
          <iframe
            class="m:min-h-500"
            src="https://player.vimeo.com/video/823712245?h=b46f8e18f9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
            frameborder="0"
            allowfullscreen=""
            data-dashlane-frameid="19690"
          ></iframe>
          <div style="padding:56.25% 0 0 0;position:relative;"></div><script src="https://player.vimeo.com/api/player.js"></script>
        
        </div>
      </div>
    </div>

    <img
      loading="lazy"
      src="https://cdn.shopify.com/s/files/1/0524/9898/9237/files/prolon_longevity_spread_wb_extra.webp?v=1689226599"
      class=" rounded-lg"
    >
     <img
      loading="lazy"
      src="https://cdn.shopify.com/s/files/1/0569/1654/1632/files/NUTRIZIONE_DI_PRECISIONE_SCIENTIFICAMENTE_TESTATA_5.png?v=1673455960"
      class=" rounded-lg"
    >
  </div>

  <div class="flex flex-wrap {%if mobile  %} only-mobile {% endif %}" v-cloak>
    <div class="py-8 w-full">
      <div class="md:max-w-2xl ml-auto">
        <div class="flex flex-wrap">
          <div
            class="w-full single-accordion"
            :class="
              {
                 'is-open': isAccordionOpen.includes(1)
              }
            "
          >
            <div class="pb-5 border-b border-gray-300">
              <div class="flex flex-wrap -m-1.5">
                <div class="w-auto p-1.5">
                  <svg
                    class="relative top-1"
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M5.14229 5.625C5.48549 4.89675 6.41152 4.375 7.50003 4.375C8.88075 4.375 10 5.21447 10 6.25C10 7.12465 9.20152 7.85942 8.12142 8.06662C7.78242 8.13166 7.50003 8.40482 7.50003 8.75M7.5 10.625H7.50625M13.125 7.5C13.125 10.6066 10.6066 13.125 7.5 13.125C4.3934 13.125 1.875 10.6066 1.875 7.5C1.875 4.3934 4.3934 1.875 7.5 1.875C10.6066 1.875 13.125 4.3934 13.125 7.5Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </div>
                <div class="flex-1 p-1.5">
                  <h3
                    class=" font-avenir font-semibold leading-normal cursor-pointer text-[17px]"
                    @click="toggleAccordion(1)"
                    :class=" 
                      {
                         'mb-4': isAccordionOpen.includes(1)
                      }
                    "
                  >
                    Qu’est-ce qu’il y a à l’intérieur du kit ?
                  </h3>
                  <div
                    class="mb-5 text-gray-600 font-medium leading-relaxed"
                    :class="
                      {
                          'block': isAccordionOpen.includes(1),
                          'hidden': !isAccordionOpen.includes(1)
                      }
                    "
                  >
                    <div class="text-black rte">
        
               
                      <style>
        .inside-img { margin-right: 10px; border-radius: 8px;}</style>
        <meta charset="utf-8">
        <p><strong>Avec ProLon, vous obtenez tout ce dont vous avez besoin préemballé et prêt à l’emploi. Chaque kit est livré avec cinq boîtes étiquetées par jour afin que vous sachiez l’ordre de consommation.</strong></p><p><strong>Saveurs originales des soupes :</strong>&nbsp;légumes, minestrone, quinoa minestrone, champignon, tomate.<strong> - ou —</strong></p><p><strong>Nouvelles saveurs des soupes :</strong>&nbsp;courge musquée, haricots noirs, courge musquée au quinoa, épinards aux haricots blancs, tomate.</p><p><strong>Soupes :</strong>&nbsp;Une variété de soupes faciles à préparer faites avec un mélange exclusif d’ingrédients entièrement naturels d’origine végétale.</p><p><strong>Barres aux noix :</strong>&nbsp;délicieuses barres aux noix pressées à froid avec des ingrédients entiers comme les amandes, les noix de macadamia et les noix de pécan</p><p><strong>Collations :</strong>&nbsp;des collations comme les olives du sud de l’Espagne où la consommation d’olives est associée à la longévité, et les crackers au chou frisé enrichis en protéines végétales.</p><p><strong>Compléments :</strong>&nbsp;compléments alimentaires multivitaminés, contenant des acides aminés, des minéraux et des acides gras oméga-3 pour nourrir le corps</p><p><strong>L-Drink:</strong>&nbsp;mélange de glycérol exclusif à saveur de fruits, conçu pour alimenter et protéger les muscles tout au long du jeûne.</p><p><strong>Infusions :</strong>&nbsp;des tisanes sans caféine chargées d’antioxydants sains qui vous garderont hydraté pendant votre semaine.</p>
                    
              </div> 
                  </div>
                </div>
                <div class="w-auto p-1.5">
                  <a>
                    <svg
                      class="relative top-1"
                      width="15"
                      height="15"
                      viewBox="0 0 15 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      :class="
                        {
                            'block': isAccordionOpen.includes(1),
                            'hidden': !isAccordionOpen.includes(1)
                        }
                      "
                    >
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.21967 3.21967C3.51256 2.92678 3.98744 2.92678 4.28033 3.21967L7.5 6.43934L10.7197 3.21967C11.0126 2.92678 11.4874 2.92678 11.7803 3.21967C12.0732 3.51256 12.0732 3.98744 11.7803 4.28033L8.56066 7.5L11.7803 10.7197C12.0732 11.0126 12.0732 11.4874 11.7803 11.7803C11.4874 12.0732 11.0126 12.0732 10.7197 11.7803L7.5 8.56066L4.28033 11.7803C3.98744 12.0732 3.51256 12.0732 3.21967 11.7803C2.92678 11.4874 2.92678 11.0126 3.21967 10.7197L6.43934 7.5L3.21967 4.28033C2.92678 3.98744 2.92678 3.51256 3.21967 3.21967Z" fill="black"></path>
                    </svg>
                    <svg
                      :class="
                        {
                            'block': !isAccordionOpen.includes(1),
                            'hidden': isAccordionOpen.includes(1)
                        }
                      "
                      class="relative top-1"
                      width="15"
                      height="15"
                      viewBox="0 0 15 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 2.25C7.91421 2.25 8.25 2.58579 8.25 3V6.75H12C12.4142 6.75 12.75 7.08579 12.75 7.5C12.75 7.91421 12.4142 8.25 12 8.25H8.25V12C8.25 12.4142 7.91421 12.75 7.5 12.75C7.08579 12.75 6.75 12.4142 6.75 12V8.25H3C2.58579 8.25 2.25 7.91421 2.25 7.5C2.25 7.08579 2.58579 6.75 3 6.75L6.75 6.75V3C6.75 2.58579 7.08579 2.25 7.5 2.25Z" fill="black"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="w-full single-accordion"
            :class="
              {
                 'is-open': isAccordionOpen.includes(2)
              }
            "
          >
            <div class="block border-b border-gray-300">
              <div class="flex flex-wrap justify-between py-7 -m-1.5">
                <div class="flex-1 p-1.5">
                  <div class="flex flex-wrap -m-1.5">
                    <div class="w-auto p-1.5">
                      <svg
                        class="relative top-1"
                        width="15"
                        height="15"
                        viewBox="0 0 15 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path d="M5.14229 5.625C5.48549 4.89675 6.41152 4.375 7.50003 4.375C8.88075 4.375 10 5.21447 10 6.25C10 7.12465 9.20152 7.85942 8.12142 8.06662C7.78242 8.13166 7.50003 8.40482 7.50003 8.75M7.5 10.625H7.50625M13.125 7.5C13.125 10.6066 10.6066 13.125 7.5 13.125C4.3934 13.125 1.875 10.6066 1.875 7.5C1.875 4.3934 4.3934 1.875 7.5 1.875C10.6066 1.875 13.125 4.3934 13.125 7.5Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </div>
                    <div class="flex-1 p-1.5">
                      <h3 
                        class="font-avenir font-semibold leading-normal cursor-pointer text-[17px]"
                        @click="toggleAccordion(2)"
                        :class="
                          {
                             'mb-4': isAccordionOpen.includes(2)
                          }
                        "
                      >
                        
      Pourquoi ajouter ProLon dans votre vie ?

                      </h3>
                      <div
                        class="w-full"
                        :class="
                          {
                              'block': isAccordionOpen.includes(2),
                              'hidden': !isAccordionOpen.includes(2)
                          }
                        "
                      >
                        <div class="collapsible-content__inner rte">
        
                          <p>ProLon est un programme de nutrition de 5 jours seulement qui a été conçu et testé par 14 universités mondiales pour vous nourrir avec des aliments d’origine végétale de qualité supérieure, tout en induisant les avantages cellulaires, métaboliques et émotionnels d’un jeûne prolongé.</p><p><strong>C’est une percée scientifique qui a nécessité 2 décennies et 48 millions de dollars de recherche, et à laquelle plus de 40 brevets —</strong><a href="https://www.businesswire.com/news/home/20180731005885/en/Fasting-Mimicking-Diet%C2%AE-Is-Awarded-First-Ever-Patent-for-Optimizing-Human-Healthspan"><strong>ont été décernés, dont le seul brevet de l’histoire pour un programme de nutrition visant à améliorer la longévité et la santé</strong></a><strong>.</strong></p><p>Le jeûne prolongé (&gt; 2 à 3 jours) a des avantages uniques tels que l’autophagie ou le rajeunissement cellulaire. Le programme a reçu le prix Nobel de médecine 2016.</p><p>En effet, les 2 à 3 premiers jours de jeûne, le corps brûle les graisses pour compenser cette première étape de déficit calorique, mais par la suite le jeûne devient un stress positif sur chacune des cellules de votre corps qui passe ensuite par le rajeunissement et l’autophagie, miracle clé de notre biologie humaine qui est essentiel au vieillissement sain et à la longévité.</p>
<p>Vous êtes aussi sain (corps, esprit et âme) et dynamique que vos cellules. Ajoutez ProLon à votre style de vie quotidien et rajeunissez vos cellules</p>
                        
                  </div> 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-auto p-1.5">
                  <svg
                    class="relative top-1"
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    :class="
                      {
                          'block': isAccordionOpen.includes(2),
                          'hidden': !isAccordionOpen.includes(2)
                      }
                    "
                  >
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.21967 3.21967C3.51256 2.92678 3.98744 2.92678 4.28033 3.21967L7.5 6.43934L10.7197 3.21967C11.0126 2.92678 11.4874 2.92678 11.7803 3.21967C12.0732 3.51256 12.0732 3.98744 11.7803 4.28033L8.56066 7.5L11.7803 10.7197C12.0732 11.0126 12.0732 11.4874 11.7803 11.7803C11.4874 12.0732 11.0126 12.0732 10.7197 11.7803L7.5 8.56066L4.28033 11.7803C3.98744 12.0732 3.51256 12.0732 3.21967 11.7803C2.92678 11.4874 2.92678 11.0126 3.21967 10.7197L6.43934 7.5L3.21967 4.28033C2.92678 3.98744 2.92678 3.51256 3.21967 3.21967Z" fill="black"></path>
                  </svg>
                  <svg
                    :class="
                      {
                          'block': !isAccordionOpen.includes(2),
                          'hidden': isAccordionOpen.includes(2)
                      }
                    "
                    class="relative top-1"
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 2.25C7.91421 2.25 8.25 2.58579 8.25 3V6.75H12C12.4142 6.75 12.75 7.08579 12.75 7.5C12.75 7.91421 12.4142 8.25 12 8.25H8.25V12C8.25 12.4142 7.91421 12.75 7.5 12.75C7.08579 12.75 6.75 12.4142 6.75 12V8.25H3C2.58579 8.25 2.25 7.91421 2.25 7.5C2.25 7.08579 2.58579 6.75 3 6.75L6.75 6.75V3C6.75 2.58579 7.08579 2.25 7.5 2.25Z" fill="black"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
