<div class="{% if mobile %}block lg:hidden {% else %}hidden lg:block {% endif %} mt-2">

<div class="flex w-full gap-2 overflow-x-scroll overflow-y-hidden aspect-w-1 aspect-h-1 flex-nowrap md:grid md:grid-cols-2 md:justify-center md:items-center md:overflow-hidden">
  <div class="shrink-0  col-span-2 md:!max-w-full  hero__animation-contents relative " style="transition-delay: 1.2s;">
    <img src="https://cdn.shopify.com/s/files/1/0613/8069/0174/files/20.webp?v=1727797168" class="!w-auto md:!w-full md:!max-w-full min-h-[350px] m:!max-h-[350px] md:!h-full !object-cover" alt="Product image" loading="eager">
  </div>
  <div class="shrink-0  hero__animation-contents relative " style="transition-delay: 1.6s;">
    <img src="https://cdn.shopify.com/s/files/1/0613/8069/0174/files/01_copia.jpg?v=1727800145" class="!w-auto md:!w-full md:!max-w-full min-h-[350px] m:!max-h-[350px] md:!h-full !object-cover" alt="Product image" loading="eager">
  </div>
  <div class="shrink-0  hero__animation-contents relative " style="transition-delay: 2s;" >
<video autoplay muted loop id="Video_FastingShake">
  <source src="https://cdn.shopify.com/videos/c/o/v/88118bf59b944421bfe768264271a88d.mp4" type="video/mp4">
</video>
</div>  
</div>
</div>