<div class="{% if mobile %}block lg:hidden {% else %}hidden lg:block {% endif %} mt-2">

<div class="grid grid-cols-1 lg:grid-cols-2  lg:gap-4 mt-4 m:max-w-[90%] m:mx-auto">
    <img
      loading="lazy"
      src="https://cdn.shopify.com/s/files/1/0569/1654/1632/files/NUTRIZIONE_DI_PRECISIONE_SCIENTIFICAMENTE_TESTATA.png?v=1673437085"
      class=" rounded-lg"
    >

    <div class="overflow-hidden relative rounded-lg bg-prolon_primary">
      <div class="video-background">
        <div class="video-foreground">
          <iframe
            class="m:min-h-500"
            src="https://player.vimeo.com/video/799071452?h=7c18ea9b73&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479%22"
            frameborder="0"
            allowfullscreen=""
            data-dashlane-frameid="19690"
          ></iframe>
          <div style="padding:56.25% 0 0 0;position:relative;"></div><script src="https://player.vimeo.com/api/player.js"></script>
        
        </div>
      </div>
    </div>
</div>
<div class="flex w-full gap-2 overflow-x-scroll overflow-y-hidden aspect-w-1 aspect-h-1 flex-nowrap md:grid md:grid-cols-2 md:justify-center md:items-center md:overflow-hidden">
  <div class="shrink-0  hero__animation-contents relative " style="transition-delay: 1.6s;">
    <img src="https://cdn.shopify.com/s/files/1/0613/8069/0174/files/l-pill.png?v=1698937365" class="!w-auto md:!w-full md:!max-w-full min-h-[350px] m:!max-h-[350px] md:!h-full !object-cover rounded-lg" alt="Product image" loading="eager">
  </div>
  <div class="shrink-0  hero__animation-contents relative " style="transition-delay: 2s;">
    <img src="https://cdn.shopify.com/s/files/1/0613/8069/0174/files/l-biome.png?v=1698937365" class="!w-auto md:!w-full md:!max-w-full min-h-[350px] m:!max-h-[350px] md:!h-full !object-cover rounded-lg" alt="Product image" loading="eager">
  </div>
  <img class="col-span-2 hidden md:block !max-w-full !h-auto !object-contain" src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/pl-Featured.png?v=1690546584&amp;width=2754&amp;height=129">
</div>
  
</div>
