<div class="page-width page-content">
  <header class="section-header{% unless settings.type_headers_align_text %} section-header--with-link{% endunless %}">
    <h1 class="section-header__title">{{ 'customer.account.title' | t }} - Professional Resources</h1>
<a href="/account" class="btn btn--secondary btn--small section-header__link">Account Overview</a>

  </header>
   
 
  <div class="grid">

    <div class="grid__item medium-up--two-thirds">
     <h2>Welcome to the ProLon Professional Provider Network</h2>
      
      <p>We at L-Nutra are excited to support your efforts to improve your patient’s health and wellness using the ProLon® Fasting Mimicking Diet®. 
        As a valued healthcare provider, we want to make sure you have all the information, tools and support you need to best implement L-Nutra products in your practice. 
        Together, we can help improve countless lives by giving people a way to reset their system for a fresh start and rejuvenate their bodies from within.</p>

      <p>Please review the following resources for all the information you’ll need to raise awareness and interest in our
health-enhancing, products and services. If you have any questions, or need anything in addition, please contact
your dedicated Account Manager or call our Sales Support Team at sales-support@l-nutra.com.</p> 
<br><br>
      <div class="section" style="max-width: 900px; margin: auto;">
<button class="accordion">Your Referral Links and Codes</button>
<div class="panel">

  <br>
<strong>Your Sharable Link:</strong><p id="ref-link">https://www.prolonfmd.com/products/prolon-professionals</p><br>
      <a href="#" onclick="CopyToClipboard('ref-link');return false;"class="btn" style="background-color: #F28F3B; min-width: 245px;">Copy Referral Link</a>
      <script>
function CopyToClipboard(id)
{
var r = document.createRange();
r.selectNode(document.getElementById(id));
window.getSelection().removeAllRanges();
window.getSelection().addRange(r);
document.execCommand('copy');
window.getSelection().removeAllRanges();
}
</script>
      <br><br><br> <strong>Your Sharable QR Code:</strong><br><img src="https://cdn.shopify.com/s/files/1/0508/0625/9870/files/HCP_my-referral_link.png?v=1629754129" p id="qr-code" style="width: 200px;">
       <br><a href="#" onclick="CopyToClipboard('qr-code');return false;"class="btn" style="background-color: #F28F3B; min-width: 245px;">Copy QR Code</a>
      <script>
function CopyToClipboard(id)
{
var r = document.createRange();
r.selectNode(document.getElementById(id));
window.getSelection().removeAllRanges();
window.getSelection().addRange(r);
document.execCommand('copy');
window.getSelection().removeAllRanges();
}
</script>
</div>       
<br><br>      



  
<button class="accordion">Prospective Emails</button>
<div class="panel">
  <br><br><b>COVID-19</b><br><em>Body:</em><span> </span>Hello [Name],<br>We know you’re doing all you can to ensure the health and safety of you and your loved ones during the current COVID-19 pandemic.<br>While your isolation and social distancing sacrifices are crucial for everyone’s best interest, they’re likely to create a lot of stress in your life, which often leads to unhealthy behaviors. Tops on that list is finding comfort in food.<br>Unfortunately, when we’re stressed, fearful or just bored, we often eat…way too much! Add to the mix the inability to exercise at your local health club, and you’ve got the perfect storm for weight gain!<br>If you feel like you’re losing control of your healthy eating habits, and starting to gain weight, now is a good time to reset and refocus on your weight goals with ProLon<sup>®</sup>.<br>Along with<span> </span><strong>losing weight and reducing excess belly fat</strong>, ProLon can also help you:
<br>
  <ul>
<li>Establish a better relationship with food</li>
<li>Reduce cravings</li>
<li>Break unhealthy food habits</li>
<li>Control your portions</li>
</ul>
<p>During this stressful time, your wellness should be a priority. If you’re healthy and not considered to be at high risk per<span> </span><a href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html" target="_blank" rel="noopener noreferrer">CDC guidelines</a>, ProLon<sup>®</sup>, 5-day Fasting Mimicking Diet*, can help you quickly lose weight and get you back on track toward the healthy lifestyle you set out to achieve at the start of the year.<br>To learn more about how ProLon can help you lose weight and establish healthier eating habits, click here (link).<br>Sincerely,<br>[name] [Title]<br><hr>*<em>L-Nutra, the makers of ProLon® did not test nor has data on fasting mimicking concurrent with or around viral infections. We advise that:</em></p>
<ul>
<li><em>If you are healthy and if you are practicing social distancing, then you may consider ProLon for supporting your general health. </em></li>
<li>
<em>if you are over 65 years old, are at higher risk (see<span> </span></em><a href="http://www.cdc.gov/" target="_blank" rel="noopener noreferrer"><em>www.cdc.gov</em></a><em>), or currently have an active infection or symptoms of an infection, and either are planning to start ProLon, or are using ProLon; please do not start or please discontinue its use and return to a high nourishment diet until all symptoms have resolved and you are well again.</em>
</li>
<li><em>If you have any additional questions on whether fasting is right for you during this period, we advise you to contact your health care provider.</em></li>
</ul>
<br>

        <br><hr>
<br><br>
<div class="copy-text-wrapper" id="clip-board-content-3">
<strong>Email 1</strong><br><em>Subject Line:</em><span> </span>Our Practice Now Offers ProLon<sup>®</sup><br><em>Body:</em><span> </span>Over the past few months, I’ve heard from some of my patients about their struggles with fad diets and their feelings of frustration around staying healthy with such busy lives. To each of you, you are not alone! Based on published research, the average person diets 4x per year. In most cases, unfortunately, these efforts do not create sustainable long-term results. This is why I’m so excited to share more details about a 5-day meal program that is backed by 20 years and $36 Million in research and development. It’s called ProLon<sup>®</sup>—the world’s first and only “Fasting Mimicking Diet®.” ProLon was developed to give you the benefits of a prolonged fast. It has been shown to:
<br>
  <br><ul>
<li>Reduce visceral fat while maintaining lean body mass</li>
<li>Initiate cellular clean-up (autophagy)</li>
<li>Help maintain healthy levels of metabolic markers</li>
<li>And more…all without giving up food!</li>
</ul>
<p>If you’re interested in learning more, please click on this link or call my office to schedule a private consultation.</p>

<br>

  <br><hr>
<br><br>
<div class="copy-text-wrapper" id="clip-board-content-4">
<strong>Email 2</strong><br><em>Subject Line:</em><span> </span>Fasting for Health<br><em>Body:</em><span> </span>Fasting has received all kinds of attention in the media these days. In 2018, it was one of the most searched for diet terms on Google, and many weight loss experts are touting the benefits of fasting to the public. Our practice supports fasting because it has been clinically shown to promote health and help patients lose weight and feel better. What’s more, a longer (five day) fast has been shown to help rejuvenate cells by enhancing the natural process of cellular renewal. There are several types of fasting, from prolonged (2+ consecutive days) to intermittent (i.e. 5:2 or alternate day) to time-restricted eating (i.e. 12:12 or 16:8). Overall these fasts are attractive because they’re easy to follow, require minimal planning, and are somewhat easy to stick to vs. a complete dietary overhaul. However, there is a problem–and not because the fasts are bad. They aren’t. In fact, short fasts and intermittent fasting can be helpful tools for improving your health. The issue is short fasts only deliver a portion of results possible with fasting. Until recently, most people didn’t know this. This is why our practice encourages patients to incorporate a prolonged 5-day fast instead, where additional health benefits such as cellular clean-up can be achieved. And, the easiest way to do this is by using ProLon<sup>®</sup>. If you have used ProLon and had a good experience consider adding your own experience, such as: Personally, I have used this product myself and loved it. To get started, click on this link or call my office to schedule a private consultation to see if ProLon is right for you.
<br>
<br>

  <br><hr>
<br>
<div class="copy-text-wrapper" id="clip-board-content-5">

<h3 class="text-center">Fasting Week Emails</h3>
<div class="text-left">
<p><strong>Email 1</strong><br><em>Subject Line:</em><span> </span>Join us for Fasting Week<br><em>Body:</em><span> </span>We want to talk to you about<span> </span><u>fasting</u>. For many, the prospect of foregoing food for any prolonged period of time seems scary, even dangerous. But over the last 20 years countless studies and new discoveries have validated the incredible health benefits associated with caloric restriction as well as various fasting protocols. These benefits include:</p>
<ul>
<li>Weight loss*</li>
<li>Visceral fat reduction</li>
<li>Cellular clean-up (an incredible process called autophagy)</li>
<li>Help maintain metabolic health</li>
</ul>
<p>We’ve concluded that fasting done safely and wisely can play a crucial role in promoting overall health. As such, we are happy to incorporate fasting opportunities into our practice.<strong>Maximizing benefits with a “prolonged fast”</strong><span> </span>One of the most beneficial forms of fasting is what’s known as a “prolonged fast.” This is 3 or more days of little or no caloric intake. But compliance for a prolonged water-only fast can be difficult, daunting even. Thankfully we recently discovered a new program to help: ProLon. ProLon is a 5-day low calorie, plant-based meal program that provides the same benefits of a fast, but with food. It is the first “fasting mimicking diet” ever created, and it really works! ProLon is convenient, simple, and delicious. With this plan, the body is “tricked” into fasting mode while eating tasty foods like fresh olives, hearty soups, and sweet nut bars.<span> </span><u>Click here to learn a bit more</u>.<span> </span><strong>ADD DESIRED HYPERLINK (We suggest adding ProLon splash page to your website)</strong><span> </span><strong>Join our upcoming Fasting Week</strong><span> </span>To spread the word about the incredible health benefits of fasting, we’re utilizing ProLon for our own “Fasting Week” from DATE—DATE. This is a great opportunity to jump-start your wellness plan and give your body a much-needed tune-up! If interested in participating please [SELECT 1 OF THE FOLLOWING CALLS-TO-ACTION]</p>
<ul>
<li>[REPLY TO THIS EMAIL/CONTACT<span> </span><a href="mailto:EMAIL@DR.COM">EMAIL@DR.COM</a><u>]</u><span> </span>for additional information and to secure your ProLon kit.<span> </span><strong>DEADLINE TO CONFIRM:</strong><span> </span>DATE</li>
<li>Visit [GETHEALTHY.STORE url] to order your ProLon kit directly<span> </span><strong>no later than DATE</strong>.</li>
</ul>
<p><em>(Optional) For Fasting Week participants we are offering a $XX discount on the initial order.</em><span> </span>We’re excited for you to take this journey with us! Signature<br><small>*In a clinical study, ProLon<sup>®</sup><span> </span>is shown over three cycles to help individuals lose an average of 5.7 lbs and 1.6 inches off their waist circumference. Benefits seen in a clinical study of the 5-day ProLon cycle once a month for three months.</small></p>

<br>
<br><hr>
<br><br>
<div class="copy-text-wrapper" id="clip-board-content-6">
<strong>Email 2</strong><br><em>Subject Line:</em><span> </span>REMINDER: Join us for Fasting Week<br><em>Body:</em><span> </span>As a reminder, we have only ______ weeks before we start our Fasting Week! If you are interested in joining us please let us know no later than: DATE<span> </span><strong>About Fasting Week</strong><span> </span>Fasting Week is our effort to educate our patients about the myriad of health benefits of fasting. These benefits include:
<ul>
<li>Weight loss*</li>
<li>Visceral fat reduction</li>
<li>Cellular clean-up (an incredible process called autophagy)</li>
<li>Help maintain metabolic health</li>
</ul>
<p>We are suggesting the ProLon “fasting mimicking diet” as the optimal solution for this initiative.  In our opinion this is a safer, simpler option for getting the same benefits of a prolonged fast while still getting the macro and micro nutrients your body needs.<span> </span><u>Click here to learn a bit more</u>.<span> </span><strong>ADD DESIRED HYPERLINK (We suggest adding ProLon splash page to your website)</strong><span> </span><strong>Join our upcoming Fasting Week</strong><span> </span>If interested in participating please [SELECT 1 OF THE FOLLOWING CALLS-TO-ACTION]</p>
<ul>
<li>[REPLY TO THIS EMAIL/CONTACT<span> </span><a href="mailto:EMAIL@DR.COM">EMAIL@DR.COM</a><u>]</u><span> </span>for additional information and to secure your ProLon kit.<span> </span><strong>DEADLINE TO CONFIRM:</strong><span> </span>DATE</li>
<li>Visit [GETHEALTHY.STORE url] to order your ProLon kit directly<span> </span><strong>no later than DATE</strong>.</li>
</ul>
<p><em>(Optional) For Fasting Week participants we are offering a $XX discount on the initial order.</em><span> </span>We hope you will join us in promoting continued health and longevity! Signature<br><small>*In a clinical study, ProLon<sup>®</sup><span> </span>is shown over three cycles to help individuals lose an average of 5.7 lbs and 1.6 inches off their waist circumference. Benefits seen in a clinical study of the 5-day ProLon cycle once a month for three months.</small></p>

<br>

  <br><hr>
<br><br>
<div class="copy-text-wrapper" id="clip-board-content-7">
<strong>Email 3</strong><br><em>Subject Line:</em><span> </span>LAST CALL: Join us for Fasting Week<br><em>Body:<span> </span></em>Greetings, We wanted to extend one final invitation to join our upcoming Fasting Week (DATE—DATE). Since we plan to utilize the ProLon Fasting Mimicking Diet for this initiative we need to order kits ahead of time. Please confirm your participation no later than: DATE<span> </span><strong>Why should we fast?</strong><span> </span>Throughout human evolution (and even before) food scarcity was a fact of life. For most species it still is. During this time we evolved natural mechanisms to protect the body during periods of famine, mechanisms that enhance the process of cellular repair. But these benefits have been minimized in recent decades as food abundance and all-day eating schedules have become the norm. Add to the mix a proliferation of unhealthy, processed foods and it’s no wonder rates of obesity, type-II diabetes, heart disease, and other metabolic-related disorders have skyrocketed in recent years. It needs to stop. Your body needs a break. Periodic fasting, such as a fasting mimicking diet like ProLon, can give your body a chance to restore and renew. Fasting has always been an important part of life, much in the same way that we require sleep to give the body time to reset and “heal” from the day. It’s time to rediscover the healing power already inside of you. We hope you will join us.<span> </span><strong>Join our upcoming Fasting Week</strong><span> </span>If interested in participating please [SELECT 1 OF THE FOLLOWING CALLS-TO-ACTION]
<ul>
<li>[REPLY TO THIS EMAIL/CONTACT<span> </span><a href="mailto:EMAIL@DR.COM">EMAIL@DR.COM</a><u>]</u><span> </span>for additional information and to secure your ProLon kit.<span> </span><strong>DEADLINE TO CONFIRM:</strong><span> </span>DATE</li>
<li>Visit [GETHEALTHY.STORE url] to order your ProLon kit directly<span> </span><strong>no later than DATE</strong>.</li>
</ul>
<p><em>(Optional) For Fasting Week participants we are offering a $XX discount on the initial order.</em><span> </span>Signature</p>

<br>

  <br><hr>
<br><br>
<div class="copy-text-wrapper" id="clip-board-content-8">
   
<strong>New Year HCP to Patient Reminder</strong><br><em>Subject Line:<span> </span></em>Better Health Begins Here!<br><em>Subhead:</em><span> </span>your reminder to get off to a strong start<br><em>Body:</em><span> </span>Dear First Name, Happy New Year! Did you make any resolutions to lose weight and start eating healthier for [Enter Year Here]? If so, you’re not alone, which is why I’m sending you this important reminder.If losing excess weight and establishing healthier eating habits has been difficult for you to achieve, I encourage you once again to try ProLon<sup>®</sup>. [Shop Now Tab] ProLon gives you the perfect opportunity to start the New year with a clean slate, and get on track toward achieving your health goals. With the ProLon Fasting Mimicking Diet<sup>®</sup><span> </span>(FMD<sup>®</sup>), you’ll experience the rejuvenating effects of a 5-day fast, while still getting to eat food! Make your weight loss and healthy eating resolutions a reality this year with ProLon. Don’t wait to let bad habits take over. Start off your new year on the right foot and you’ll be more likely to succeed with your health resolutions. You can do this! Have a happy and healthy New Year, Dr. [Name]</div>
<br>

  <br><hr><br>
  </div></div></div></div></div></div></div>


  <br><br>    
<button class="accordion">Social Media Posts</button>
<div class="panel">
<ol><br>
<li>Quick! Can you name the top 4 benefits you get from a 5-day fast? If you are not sure, go here to find out what the benefits are and how you can get them without having to give up food! </li>
<li>Did you know that you can experience weight loss and other health benefits of fasting…while still being able to eat delicious food? Learn more&gt;&gt;</li>
<li>Activate cellular rejuvenation and put your body on a path towards greater health.</li>
<li>Want to get many benefits of a fast and be able to eat real food? There’s one way to do it that’s been scientifically tested and shown to work.</li>
<li>Regenerate from within and give your body the reboot it needs for a fresh start.</li>
<li>Get many benefits of a 5-day fast with food. It’s the ultimate body reset plan as part of your quest for better overall health.</li>
<li>Want to look and feel better? You can by replicating the effects of a 5-day fast, but with food. Check out the science here.</li>
</ol>
<p></p>
</div>
      

      
{% comment %}
<br><br>
<button class="accordion">Additional Resources</button>
<div class="panel">

  <br>
<p><a href="../wp-content/uploads/2019/03/ProLon-Transition-Day-Meal-Guide.pdf">ProLon – Transition Day Meal Guide</a><br>
<a href="../wp-content/uploads/2020/04/Patient-Focused-PPT-FINAL-SHARED.pdf">Patient Focused Presentation</a><br>
<a href="https://player.vimeo.com/external/395246775.hd.mp4?s=638ba7d46940fdc44bf420da79a1fe9c39d1a4fe&amp;profile_id=175&amp;download=1">Video Loop – ProLon Ads (no audio)</a><br>
<a href="https://player.vimeo.com/external/386299704.source.mp4?s=644867ddce5dd1b301b3c3c70a75a4cd97e8269a&amp;download=1">About ProLon FMD</a></p>
</div>
{% endcomment %}
<br><br>
<button class="accordion">Legal & Regulatory Considerations</button>
<div class="panel">
 <br> As an HCP partner, you are required to follow certain guidelines when communicating with consumers and using the links provided to you. Some important points to remember include:</span><br><span>Our products, including ProLon, are food products and are subject to both federal and state regulation. In particular, there are some legal restrictions regarding communications about our products. Therefore, any communications you make, whether directly or indirectly via your website, social media (including reposts),</span><br><span>or other medium, must:</span><span></span>
<ul>
<li>Not use the terms like “treat,” “cure,” and “prevent” or reference (expressively or implicitly) any specific disease or their recognizable/characteristic symptoms and attributes.
<ul>
<li>Instead, Use claims that match or are substantially similar to:
<ul>
<li>ProLon helps maintain metabolic health.</li>
<li>Reduce excess fat* while maintaining body mass</li>
<li>Trim your waistline* with focused weight loss from visceral fat in the abdomen</li>
<li>Trigger apoptosis and autophagy in your body for clean-up of old and worn out cell</li>
</ul>
</li>
<li>*In a clinical study, ProLon® is shown over three cycles to help individuals lose an average of 5.7 lbs and 1.6 inches off their waist circumference. Benefits seen in a clinical study of the 5-day ProLon cycle once a month for three months.</li>
<li>Not discuss specific numerical or percentage changes in markers in L-Nutra’s clinical studies, or use any graphs or images from or derived from L-Nutra’s clinical studies.</li>
<li>All HCP partners must comply with the Federal Trade Commission’s Guides Concerning the Use of Endorsements and Testimonials in Advertising. This means, among other things, that you must clearly and conspicuously disclose the material connection between you and L-Nutra in all of your communications.</li>
<li>Content in your communications must not, to the best of your knowledge, infringe the copyright, trademark, privacy, publicity, or other personal or proprietary rights of any person or entity. Content must not contain trademarks or other registered marks owned by others without written permission.</li>
<li>Your communications cannot contain content that is lewd, obscene, sexually explicit, pornographic, disparaging, defamatory, libelous, or that is otherwise inappropriate, in L-Nutra’s sole opinion and determination.</li>
<li>Your communications cannot be “spam” or unsolicited, and they cannot conceal or misrepresent your identity, domain name, or return email address.</li>
</ul>
</li>
</ul>
<button class="btn copytext">Copy</button><br>      
</div> 

</div> 
</div>
<div class="grid__item medium-up--one-third" style="padding: 0 10px;">
  <a href="account?view=resale-certificate" class="btn">Update My Resale License</a>
</div>
</div>


<style>
   .announcement-bar {
    display: none;}
  
.panel {
  padding: 0 30px;
  background-color: #f9e7b73b;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-width: 1000px;
  
}
  
  
  .accordion {
margin: auto;
    background-color: #f1c14166;
    padding: 10px;
    color: #002500;
   
    min-width: 100%;
    border: 2px solid #f0c141;
}
    
</style>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
  
</div>

    {% if customer.metafields.adv_reg.token and shop.metafields.adv_reg.showProfile == 'on' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.2.1/iframeResizer.min.js"></script>
    
    <iframe id="advancedRegForm" onload="iFrameResize({log:false}, '#advancedRegForm')" 
    src="https://taloncommerce.com/advanced_registration/api/registration_form/?id=3355&form=profile&token={{customer.metafields.adv_reg.token}}" 

     style="min-width: 100%; 
    margin: 0 auto;padding-top:30px;border:none;  min-height:500px;overflow:hidden;" width="100%" height="100%" allowtransparency="true">
      <p>Your browser does not support iframes.</p>
    </iframe>
    {% endif %} 
<!-- 
    <div class="aaa-success-msg-account"></div><div class="aaa-error-msg-account"></div><div class="aaa_customer_all_plan_listing" data-customer-email="{{ customer.email }}" data-customer-id="{{ customer.id }}"> </div> -->
