<style>
    .main-wrapper-benifits{
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background: #f5f5f5;
    padding: 50px 0px;
  }
  .cards-main-wrapper-benifits{
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 95%;
  }
  .card-wraper-benifits{
    width: 33%;
    /* max-width: 200px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
  }
  .card-image-benifits{
    height: 100px;
    width: auto;
  }
  .card-title-benifits{
    font-family: "Harmonia Sans", sans-serif;
    font-size: 30px;
    color: #000;
    line-height: 1.4;
    text-align: center;
    width: 100%;
    max-width: 350px;
    padding: 20px 0px;
  }
  .card-title-benifits p {
    margin: 0 0 0px 0;
  }
  .card-text-benifits{
    font-family: "Harmonia Sans", sans-serif;
    font-size: 18px;
    color: #000;
    line-height: 1.4;
    text-align: center;
    width: 100%;
    max-width: 350px;
    /* padding: 20px 0px; */
  }
  @media(max-width:1000px){
    .cards-main-wrapper-benifits{
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
  }
  .card-wraper-benifits{
    min-width: 300px;
    padding: 0px 10px;
  }
  .card-title-benifits{
    font-family: "Harmonia Sans", sans-serif;
    font-size: 26px;
    color: #000;
    line-height: 1.4;
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 20px 0px;
  }
  .card-text-benifits{
    font-family: "Harmonia Sans", sans-serif;
    font-size: 15px;
    color: #000;
    line-height: 1.4;
    text-align: center;
    width: 100%;
    max-width: 300px;
    /* padding: 20px 0px; */
  }
  }
</style>
<div class="main-wrapper-benifits" >
    <div class="cards-main-wrapper-benifits">
      {% for block in section.blocks %}
      <div class="card-wraper-benifits">
        <img class="card-image-benifits" src="{{block.settings.image | img_url: 'medium'}}" alt="" />
        <div class="card-title-benifits">
          {{block.settings.title}}
        </div>
        <p class="card-text-benifits">
          {{block.settings.text}}
        </p>
      </div>
      {% endfor %}
    </div>
</div>


{% schema %}
{
    "name": "Affiliate Banifits",
    "settings": [
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Cards",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Affiliate Banifits",
        "category": "Image"
      }
    ]
  }
{% endschema %}
