<style>
    /* Style the buttons that are used to open and close the accordion panel */
    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
    }
  
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active,
    .accordion:hover {
      background-color: #ccc;
    }
  
    /* Style the accordion panel. Note: hidden by default */
    .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
  
    .content-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .categories-grid {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 30px;
      row-gap: 30px;
    }
  
    .categories-card {
      cursor: pointer;
      width: 20%;
      padding: 0px;
      /* border: 1px solid #d8d8d8; */
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      height: 150px;
      padding: 20px 30px;
      text-align: center;
      font-size: 18px;
      line-height: 1.2;
      cursor: pointer;
      box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    }
  
    .card-selected {
      box-shadow: 0 1px 3px rgb(185 230 177 / 12%), 0 1px 2px rgb(30 62 22 / 24%);
      border: 3px solid #9aca39;
    }
  
    .faqs-content {
      margin-top: 15px;
    }
  
    h1.main-faq-title {
      padding-top: 50px;
      padding-bottom: 10px;
      font-size: 50px;
      color: #9aca39;
      font-weight: 600;
    }
  
    h3.main-faq-sub-title {
      color: gray;
      font-weight: 600;
    }
  
    div#safety-precautions {
    }
  
    form#faq-search-form {
      width: 600px;
      max-width: 100%;
      position: relative;
      padding: 60px 0px;
    }
  
    form#faq-search-form input {
      width: 100%;
    }
  
    button#btn-faq-search {
      position: absolute;
      right: 0px;
      background: #fd6d10;
      height: 43px;
      padding: 0px 30px;
      color: white;
    }
  
    @media (max-width: 767px) {
      h1.main-faq-title {
        font-size: 35px;
        text-align: center;
      }
  
      form#faq-search-form {
        padding: 20px 0px;
      }
  
      .categories-card {
        width: 46%;
      }
    }
  </style>
  <div class="page-width page-content">
    {%- render 'breadcrumbs' -%}
   
    <div class="flex justify-center">
      <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">
        <!--
          <header class="section-header">
            <h1 class="section-header__title">{{ page.title }}</h1>
          </header>
  
          <div class="rte rte--nomargin">
            {{ page.content }}
          </div>
        -->
  
        <div class="container">
          <div class="content-center">
            <h1 class="main-faq-title">Hello, how can we help?</h1>
          </div>
          <div class="content-center">
            <h3 class="main-faq-sub-title">Frequently Asked Questions</h3>
          </div>
          <div>
            <div class="content-center">
              <form id="faq-search-form">
                <input type="text" id="txt-faq-search" required placeholder="Ask a question...">
                <button type="submit" id="btn-faq-search">Search</button>
              </form>
            </div>
            <small class="content-center" id="search-validation" style="color: red;"></small>
          </div>
  
          <div class="categories-grid"></div>
          <hr>
          <div class="faqs-content"></div>
        </div>
      </div>
    </div>
  </div>
    
  <script>
    var CATEGORIES = [
      {
        title: 'Tips for a successful Fast',
        tag: 'tips',
      },
      {
        title: 'General Information',
        tag: 'general-information',
      },
      {
        title: 'Safety Precautions',
        tag: 'safety-precautions',
      },
      {
        title: 'Medically Related',
        tag: 'medically-related',
      },
      {
        title: 'Clinical Trials',
        tag: 'clinical-trials',
      },
      {
        title: 'Quality & Form',
        tag: 'quality-and-form',
      },
      {
        title: 'Product Care & Storage',
        tag: 'product-care-and-storage',
      },
      {
        title: 'Fasting with ProLon- General Information',
        tag: 'fasting-with-prolon-general-information',
      },
      {
        title: 'Before the ProLon 5-Day Fast',
        tag: 'before-the-prolon-5-day-fast',
      },
      {
        title: 'Eating During the ProLon 5-Day Fast',
        tag: 'eating-during-the-prolon-5-day-fast',
      },
      {
        title: 'After the ProLon 5-Day Fast',
        tag: 'after-the-prolon-5-day-fast',
      },
      {
        title: 'About Multiple ProLon Cycles',
        tag: 'about-multiple-prolon-cycles',
      },
      {
        title: 'Food Sensitivites & ProLon Ingredients',
        tag: 'food-sensitivites-and-prolon-ingredients',
      },
    ];
    var CURRENT_QUESTIONS = [];
    $(document).ready(function () {
      console.log('ready!');
      _fillCategoriesGrid();
    });
  
    function _initializeAccordians() {
      var acc = document.getElementsByClassName('accordion');
      var i;
  
      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener('click', function () {
          this.classList.toggle('active');
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + 'px';
          }
        });
      }
    }
  
    function _fillCategoriesGrid() {
      let html = '';
      CATEGORIES.forEach((cat) => {
        html += `<div id="${cat.tag}" onclick="categorySelected('${cat.tag}')" class="categories-card">
                    ${cat.title}
                </div>`;
      });
      $('.categories-grid').html(html);
    }
  
    function categorySelected(tag) {
      $(`.categories-card`).removeClass('card-selected');
      $(`#${tag}`).addClass('card-selected');
      getQuestions(tag);
    }
  
    async function getQuestions(tag) {
      let categoryTitle = CATEGORIES.find((cat) => cat.tag == tag).title;
      $('#txt-faq-search').val('');
      let url = `https://prolonfast.com/blogs/faqs/tagged/${tag}?view=json`;
      try {
        const res = await $.ajax({
          url: url,
          type: 'GET',
        });
        let questions = JSON.parse(res);
        setQuestionsHTML(questions, categoryTitle);
        CURRENT_QUESTIONS = questions;
      } catch (err) {
        console.log('err: ', err);
        $('.faqs-content').html(`<button class="accordion">No questions available.</button>`);
      }
    }
  
    function setQuestionsHTML(questions, categoryTitle, reset = true, animate = true) {
      if (reset && questions.length == 0) {
        $('.faqs-content').html(`<button class="accordion">No questions available.</button>`);
        $('html, body').animate(
          {
            scrollTop: $('.faqs-content').offset().top - 100,
          },
          2000
        );
        return;
      }
      let html = ``;
      if (!reset) {
        html += $('.faqs-content').html();
      }
      html += `
            <div>
              <h3>${categoryTitle}</h3>
            </div>
            `;
      questions.forEach((ques) => {
        html += `<button class="accordion">${ques.title}</button>
            <div class="panel">
              <p>${ques.body_html}</p>
            </div>`;
      });
      html += `<hr />`;
      $('.faqs-content').html(html);
      _initializeAccordians();
      if (animate) {
        $('html, body').animate(
          {
            scrollTop: $('.faqs-content').offset().top - 100,
          },
          2000
        );
      }
    }
  
    function filterQuestions() {
      CURRENT_QUESTIONS = [];
      let query = $('#txt-faq-search').val();
      $('#search-validation').html('');
      if (!query || query == '') {
        $('#search-validation').html('Required.');
        return;
      }
      $('.faqs-content').html('').css({
        height: 0,
        overflow: 'hidden',
      });
      setTimeout(() => {
        $('.faqs-content')
          .css({
            height: 'unset',
            overflow: 'unset',
          })
          .fadeIn('slow');
      }, 1500);
      $('#btn-faq-search').text('...');
      const promises = [];
      for (let category of CATEGORIES) {
        let categoryTitle = category.title;
        let url = `https://prolonfast.com/blogs/faqs/tagged/${category.tag}?view=json`;
        const promise = $.ajax({
          url: url,
          type: 'GET',
        })
          .done(function (result) {
            let questions = JSON.parse(result);
            let rquery = new RegExp(query, 'i');
            let filtered = questions.filter((ques) => ques.title.match(rquery) || ques.body_html.match(rquery));
            if (filtered.length > 0) {
              setQuestionsHTML(filtered, categoryTitle, false, false);
              CURRENT_QUESTIONS.push(filtered);
            }
          })
          .fail(function (err) {
            console.log('err: ', err);
          });
        promises.push(promise);
      }
      Promise.allSettled(promises).then((results) => {
        // results.forEach((result) => console.log(result))
        if (CURRENT_QUESTIONS.length == 0) {
          $('.faqs-content').html(
            `<button class="accordion">There are no FAQs that matches your search, try a different term or using the categories below to find an answer that may assist you.</button>`
          );
        }
      });
  
      $('html, body').animate(
        {
          scrollTop: $('.faqs-content').offset().top - 100,
        },
        2000
      );
      setTimeout(() => {
        $('#btn-faq-search').text('Search');
      }, 2000);
    }
    $('#faq-search-form').submit(function (e) {
      //prevent Default functionality
      e.preventDefault();
      // console.log('Form submitted.')
      filterQuestions();
    });
  </script>
  