<section>
<div class="contanir max-w-[1420px] mx-auto py-[40px] md:py-[60px] p-3 md:p-[24px]">
  <div class="mx-auto collab-contanir !grid md:!gird-row-7 gap-[20px] ">
    <div class="flex justify-center img">
<img src="https://uploads.dovetale.net/brand-profile-logo/brandprofile/11982/logo/thumb-b5856bb5001b0c04fb9949a0748022c2.png" class="w-[100px] h-[100px]" alt="">
    </div>
<div class="w-full  mx-auto md:w-[540px]">
<h2 class=" !text-[28px]  text-center md:!text-[45px] !font-semibold  mb-[10px]  md:mb-[20px]">
  Collaboration with Purpose</h2>


</div>
<div class="w-full  mx-auto md:w-[540px]">
<p class="text-center md:text-[16px] text-[14px]">

      Be a beacon of longevity and vibrant living by joining forces with ProLon. Whether you are an Influencer, Blogger,
      Health Coach, Mom, Dad, or Student — we welcome everyone! Our program is tailored to you and will help elevate your
      success to new heights. Unleash the power of purpose-join us today!
</p>

</div>
<div class="flex items-center justify-center w-full  mx-auto md:w-[540px] ">
  <a href="/products/prolon-offer" class="site-nav__link site-nav__link--underline">
    <span
      class="h-[45px] flex justify-center items-center py-[10px] px-7 w-full text-base md:text-md leading-4 font-medium text-center rounded-md shadow-sm hover:bg-[#77A117] bg-[#77A117] text-white hover:!no-underline">Watch
      Apply now </span>
  </a>
</div>
<div class="text-center md:text-[16px] text-[14px] w-full  mx-auto md:w-[540px]">
  <p>Already a member?</p>

  <a href="https://api.collabs.shopify.com/creator/login/community_application/0CWrV-iJgcY?origin=THEME_EXTENSION"
    class="text-[#2c6ecb]">Log in</a>
</div>
<div class="cards !grid !grid-cols-2 md:!grid-cols-4 !gap-[10px] mx-auto    ">
  <div class="">
    <img src="https://uploads.dovetale.net/brand-profile-media/9bbdd29c007cbc32362c8065c57a4882.jpg"
      class="w-[200px] h-[200px]" alt="">
  </div>
  <div class="">
    <img src="https://uploads.dovetale.net/brand-profile-media/a05cdb4a5d845474ed0347e1da0b5473.jpg"
      class="w-[200px] h-[200px]" alt="">
  </div>
  <div class="">
    <img src="https://uploads.dovetale.net/brand-profile-media/18ff71580b3f2ba4a8fbb5f9427761be.jpg"
      class="w-[200px] h-[200px]" alt="">
  </div>
  <div class="">
    <img src="https://uploads.dovetale.net/brand-profile-media/cb458fe729039a97f6b22cc47ef7bf14.jpg"
      class="w-[200px] h-[200px]" alt="">
  </div>
</div>

<div class="w-full  mx-auto md:w-[540px]">
  <h2 class=" !text-[28px]  text-center md:!text-[45px] !font-semibold  mb-[10px]  md:mb-[20px]">
    Partnership opportunities</h2>
<ul class="flex flex-wrap justify-center " >

  <li class="py-[2px] px-[16px] bg-[#e4e5e7] text-[#65625c] md:text-[16px] text-[14px] m-1  ">Affiliate marketing</li>

  <li class="py-[2px] px-[16px] bg-[#e4e5e7] text-[#65625c] md:text-[16px] text-[14px] m-1 ">Gifting</li>

  <li class="py-[2px] px-[16px] bg-[#e4e5e7] text-[#65625c] md:text-[16px] text-[14px] m-1 ">Discount codes</li>

  <li class="py-[2px] px-[16px] bg-[#e4e5e7] text-[#65625c] md:text-[16px] text-[14px] m-1 ">Campaigns</li>

  <li class="py-[2px] px-[16px] bg-[#e4e5e7] text-[#65625c] md:text-[16px] text-[14px] m-1 ">Content creation</li>

  <li class="py-[2px] px-[16px] bg-[#e4e5e7] text-[#65625c] md:text-[16px] text-[14px] m-1 ">Usage rights</li>

  <li class="py-[2px] px-[16px] bg-[#e4e5e7] text-[#65625c] md:text-[16px] text-[14px] m-1 ">Additional opportunities</li>

</ul>

</div>


  </div>

</div>




</section>