<section>
<div class="contanir max-w-[1500px] mx-auto p-3 md:p-[36px] ">
  <h2 class=" !text-[28px] md:text-left text-center md:!text-[45px] !font-semibold  mb-[10px]  md:mb-[20px]">
    Fasting Week Schedule</h2>
    <h2 class=" !text-[28px]  text-center md:!text-[45px] !font-semibold  mb-[10px]  md:mb-[15px]">
      <strong><b>October 5- 9,&nbsp;</b>2020:</strong></h2>
<p class=" text-[14px] md:text-[16px] text-center mb-[18px] md:mb-[22px] ">
<strong>Monday,&nbsp;October 5: 10 a.m. PT. 足</strong>
<br>
Dr. Tracey Thomas, ND, FABNO, CNS:&nbsp;5 Secrets to a Successful ProLon Round
</p>
<p class=" text-[14px] md:text-[16px] text-center    mb-[18px] md:mb-[22px]">
  <strong>Tuesday, October 6: 10 a.m. PT.</strong>
  <br>
Victoria Hahn, MS, RDN: Why Can't I Work Out While on ProLon速 ?
</p>
<p class=" text-[14px] md:text-[16px] text-center    mb-[18px] md:mb-[22px]">
  <strong>Wednesday, October 7: 10 a.m. PT.</strong>
  <br>
Dr. James Kelley, MD, MBA: What Happens on Day 3 of
</p>
<p class=" text-[14px] md:text-[16px] text-center    mb-[18px] md:mb-[22px]">
  <strong>Thursday, October 8: 10 a.m. PT.</strong>
  <br>
  Dr. James Kelley, MD, MBA: What Happens on Day 4 and 5 of ProLon速 ?
</p>
<p class=" text-[14px] md:text-[16px] text-center   mb-[40px] md:mb-[60px]">
  <strong>Friday, October 9: 10 a.m. PT.足</strong>
  <br>
Dr. Kurt Hong, MD, PhD, FACN: What Happens During The Refeeding Period ?
</p>
<p class="text-[14px] md:text-[16px] text-center    md:mb-[10px]" > 
<strong>Join us each day at 10:00 a.m. PT to watch the series live on our Facebook page</strong>

</p>

<div class="flex items-center justify-center ">
<a href="/products/prolon-offer" class="site-nav__link site-nav__link--underline">
  <span
    class="h-[45px] flex justify-center items-center py-[10px] px-7 w-full text-base md:text-md leading-4 font-medium text-center rounded-md shadow-sm hover:bg-[#77A117] bg-[#77A117] text-white hover:!no-underline">Watch The Series Live </span>
</a>
</div>



</div>




</section>