<section>
<div class="p-5 my-0 text-lg text-left text-black normal-case md:p-10 md:my-0" style="background-color: #ffffff">
  <div class="max-w-3xl py-6 mx-auto text-center font-harmonia">
    <p class="my-3 text-3xl font-medium md:text-4xl" style="color: #2F6545;">5 REASONS PROLON BELONGS IN YOUR HEALTHY
      LIFESTYLE</p>
  </div>
</div>

</section>
<section>
<div class="relative overflow-hidden bg-white ">
  <div class="w-full sm:overflow-hidden">
    <img class="hidden object-cover object-center w-full h-full md:block md:object-top" style="max-height:" width="100%"
      height="100%" src="//subscriptions.prolonlife.com/cdn/shop/files/ProLon_LiveIntent_Hero_-_Desktop_1600x-2.png?v=1668241765">
    <img class="block object-cover object-center w-full h-full md:hidden md:object-top" style="max-height:" width="100%"
      height="100%" src="//subscriptions.prolonlife.com/cdn/shop/files/ProLon_LiveIntent_Hero_-_Mobile_900x_1.webp?v=1668241679">
  </div>
</div>

</section>

<section>

<div class="py-6 lg:overflow-hidden font-harmonia md:py-12" style="background-color: #ffffff">

  <div class="mx-auto max-w-screen-2xl lg:px-8">
    <div class="flex flex-col items-center justify-center md:flex-row" '="">
          <div class="w-full max-w-2xl px-4 mx-auto sm:px-6 lg:flex lg:items-center lg:px-0 md:w-1/2">
              <div class=""><p class="px-5 text-sm font-light tracking-tight text-center md:px-10 md:text-left font-harmonia"> </p><h2 class="px-5 my-4 text-3xl font-bold tracking-tight text-center md:px-10 md:text-left md:text-4xl sm:my-5 lg:my-6">
                    <span class="block text-center text-black md:text-left font-avant"><div class="flex flex-col items-center text-center jusity-center">
    <img class="w-28" src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/ProLon_5_Reasons_Numbers_-_1.svg?v=1649804402">

RESET
</div></span>
                </h2><div class="px-5 text-lg text-left text-black md:px-10 font-avenir">  
                  <p class="text-center">ProLon is designed to unlock the deepest level of fasting over a 5-day period, yielding benefits like weight loss, lean mass preservation, and cellular rejuvenation. </p>              
                </div><div class="items-start justify-start w-full max-w-sm px-5 mx-auto mt-5 md:px-10 sm:flex sm:max-w-none"></div>
              </div>
          </div>
          <div class="relative w-full py-6 mx-auto md:py-0 md:w-1/2" style="max-width:500px">

               
              <img class="object-cover object-right w-full h-full" width="100%" height="100%" src="//subscriptions.prolonlife.com/cdn/shop/files/ProLon_LiveIntent_Side_Images_-_ReSet_900x-2.png?v=1668242527">
              
 
          </div>
      </div>
  </div>
</div>


</section>

<section>

<div class="py-6 lg:overflow-hidden font-harmonia md:py-12" style="background-color: #ffffff">

  <div class="mx-auto max-w-screen-2xl lg:px-8">
    <div class="flex flex-col items-center justify-center md:flex-row md:flex-row-reverse" '="">
          <div class="w-full max-w-2xl px-4 mx-auto sm:px-6 lg:flex lg:items-center lg:px-0 md:w-1/2">
              <div class=""><p class="px-5 text-sm font-light tracking-tight text-center md:px-10 md:text-left font-harmonia"> </p><h2 class="px-5 my-4 text-3xl font-bold tracking-tight text-center md:px-10 md:text-left md:text-4xl sm:my-5 lg:my-6">
                    <span class="block text-center text-black md:text-left font-avant"><div class="flex flex-col items-center text-center jusity-center">
    <img class="w-28" src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/ProLon_5_Reasons_Numbers_-_2.svg?v=1649804402">

REJUVENATE
</div></span>
                </h2><div class="px-5 text-lg text-left text-black md:px-10 font-avenir">  
                  <p class="text-center">ProLon supports the body’s natural process of cellular clean-up, triggered when it’s in a prolonged fasting state.</p>              
                </div><div class="items-start justify-start w-full max-w-sm px-5 mx-auto mt-5 md:px-10 sm:flex sm:max-w-none"></div>
              </div>
          </div>
          <div class="relative w-full py-6 mx-auto md:py-0 md:w-1/2" style="max-width:500px">

               
              <img class="object-cover object-right w-full h-full" width="100%" height="100%" src="//subscriptions.prolonlife.com/cdn/shop/files/ProLon_LiveIntent_Side_Images_-_Rejuvenate_900x_cfaeb416-3a8f-45a5-83d1-abdf16272ccf.png?v=1668242879">
              
 
          </div>
      </div>
  </div>
</div>


</section>

<section>

<div class="py-6 lg:overflow-hidden font-harmonia md:py-12" style="background-color: #ffffff">

  <div class="mx-auto max-w-screen-2xl lg:px-8">
    <div class="flex flex-col items-center justify-center md:flex-row" '="">
          <div class="w-full max-w-2xl px-4 mx-auto sm:px-6 lg:flex lg:items-center lg:px-0 md:w-1/2">
              <div class=""><p class="px-5 text-sm font-light tracking-tight text-center md:px-10 md:text-left font-harmonia"> </p><h2 class="px-5 my-4 text-3xl font-bold tracking-tight text-center md:px-10 md:text-left md:text-4xl sm:my-5 lg:my-6">
                    <span class="block text-center text-black md:text-left font-avant"><div class="flex flex-col items-center text-center jusity-center">
    <img class="w-28" src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/ProLon_5_Reasons_Numbers-_3.svg?v=1649804402">

SCIENCE BACKED
</div></span>
                </h2><div class="px-5 text-lg text-left text-black md:px-10 font-avenir">  
                  <p class="text-center">Over 20 years of extensive preclinical and clinical studies sponsored by the National Institutes of Health (NIH) and conducted at the Longevity Institute of The University of Southern California (USC) resulted in the development of the first FMD® (ProLon®).</p>              
                </div><div class="items-start justify-start w-full max-w-sm px-5 mx-auto mt-5 md:px-10 sm:flex sm:max-w-none"></div>
              </div>
          </div>
          <div class="relative w-full py-6 mx-auto md:py-0 md:w-1/2" style="max-width:500px">

               
              <img class="object-cover object-right w-full h-full" width="100%" height="100%" src="//subscriptions.prolonlife.com/cdn/shop/files/ProLon_LiveIntent_Side_Images_-_Science_900x_067a9ba6-5510-4b4e-be13-0791e1f323b8.png?v=1668242958">
              
 
          </div>
      </div>
  </div>
</div>


</section>
<section>
<div class="relative overflow-hidden bg-white ">
  <div class="w-full sm:overflow-hidden">
    <img class="hidden object-cover object-center w-full h-full md:block md:object-top" style="max-height:600px"
      width="100%" height="100%"
      src="//subscriptions.prolonlife.com/cdn/shop/files/ProLon_-_LiveIntent_Slider_1728x_4ab7178d-1c80-43c6-b6dc-58a8dcd68960.png?v=1668243119">
    <img class="block object-cover object-center w-full h-full md:hidden md:object-top" style="max-height:600px"
      width="100%" height="100%"
      src="//subscriptions.prolonlife.com/cdn/shop/files/ProLon_-_LiveIntent_Slider_1728x_4ab7178d-1c80-43c6-b6dc-58a8dcd68960.png?v=1668243119">
  </div>
</div>


</section>

<section>
<div class="py-6 lg:overflow-hidden font-harmonia md:py-12" style="background-color: #ffffff">

  <div class="mx-auto max-w-screen-2xl lg:px-8">
    <div class="flex flex-col items-center justify-center md:flex-row md:flex-row-reverse" '="">
          <div class="w-full max-w-2xl px-4 mx-auto sm:px-6 lg:flex lg:items-center lg:px-0 md:w-1/2">
              <div class=""><p class="px-5 text-sm font-light tracking-tight text-center md:px-10 md:text-left font-harmonia"> </p><h2 class="px-5 my-4 text-3xl font-bold tracking-tight text-center md:px-10 md:text-left md:text-4xl sm:my-5 lg:my-6">
                    <span class="block text-center text-black md:text-left font-avant"><div class="flex flex-col items-center text-center jusity-center">
    <img class="w-28" src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/ProLon_5_Reasons_Numbers_-_4.svg?v=1649804402">

CONVENIENCE
</div></span>
                </h2><div class="px-5 text-lg text-left text-black md:px-10 font-avenir">  
                  <p class="text-center">Get many of the benefits of a 5-day fast without giving up food with ProLon, the first and only patented 5-day fasting mimicking program. ProLon gently guides you into a fasting state to achive many of the health benefits that come from a prolonged fast.</p>              
                </div><div class="items-start justify-start w-full max-w-sm px-5 mx-auto mt-5 md:px-10 sm:flex sm:max-w-none"></div>
              </div>
          </div>
          <div class="relative w-full py-6 mx-auto md:py-0 md:w-1/2" style="max-width:500px">

               
              <img class="object-cover object-right w-full h-full" width="100%" height="100%" src="//subscriptions.prolonlife.com/cdn/shop/files/ProLon_-5Days_1_720x_3635ed9d-1d71-4eca-a7f7-e2e8d854a993.gif?v=1668243216">
              
 
          </div>
      </div>
  </div>
</div>


</section>
<section>
<div class="py-6 lg:overflow-hidden font-harmonia md:py-12" style="background-color: #ffffff">

  <div class="mx-auto max-w-screen-2xl lg:px-8">
    <div
      class="flex flex-col items-center justify-center md:flex-row" '="">
          <div class="w-full max-w-2xl px-4 mx-auto sm:px-6 lg:flex lg:items-center lg:px-0 md:w-1/2">
              <div class=""><p class="px-5 text-sm font-light tracking-tight text-center md:px-10 md:text-left font-harmonia"> </p><h2 class="px-5 my-4 text-3xl font-bold tracking-tight text-center md:px-10 md:text-left md:text-4xl sm:my-5 lg:my-6">
                    <span class="block text-center text-black md:text-left font-avant"><div class="flex flex-col items-center text-center jusity-center">
    <img class="w-28" src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/ProLon_5_Reasons_Numbers_-_5.svg?v=1649804402">

FAT FOCUSED WEIGHT LOSS

</div></span>
                </h2><div class="px-5 text-lg text-left text-black md:px-10 font-avenir">  
                  <p class="text-center">Kickstart weight loss*, especially belly fat, while protecting lean body mass. You'
      ll average 1 pound of weight loss each day on ProLon!</p>
      <br>
      <p class="text-center">*Survey results report an average of 5.7 pounds when used once a month for three months.
      </p>
    </div>
    <div class="items-start justify-start w-full max-w-sm px-5 mx-auto mt-5 md:px-10 sm:flex sm:max-w-none"></div>
  </div>
</div>
<div class="relative w-full py-6 mx-auto md:py-0 md:w-1/2" style="max-width:500px">


  <img class="object-cover object-right w-full h-full" width="100%" height="100%"
    src="//subscriptions.prolonlife.com/cdn/shop/files/ProLon_LiveIntent_Side_Images_-_It_Works_720x_0881e608-4fbe-4f01-89b1-25a5dad7626a.png?v=1668243312">


</div>
</div>
</div>
</div>
</section>

<section>
<div class="p-5 my-0 text-lg text-left text-black normal-case md:p-10 md:my-0" style="background-color: #ffffff">
  <div class="max-w-3xl py-6 mx-auto text-center font-harmonia">
    <p class="my-3 text-xl font-normal md:text-2xl" style="color: #222;">Get an additional 20% off when you order your
      first box of ProLon and use code <b style="border-bottom: 2px solid black;">SELFLOVE</b></p>
    <a href="/products/prolon-offer-v1">
      <div
        class="inline-flex justify-center p-3 mt-5 text-base font-bold text-center text-white rounded font-avenir active:shadow-sm border-prolon_secondary bg-prolon_secondary w-60 md:w-52">
        GET STARTED
      </div>
    </a>
  </div>
</div>

</section>
<section>
<div class="relative overflow-hidden bg-white ">
  <div class="w-full sm:overflow-hidden">
    <img class="hidden object-cover object-center w-full h-full md:block md:object-top" style="max-height:" width="100%"
      height="100%"
      src="//subscriptions.prolonlife.com/cdn/shop/files/ProLon_LiveIntent_Footer_3024x_08b4de40-271e-4d76-9124-f152300271b9.png?v=1668243661">
    <img class="block object-cover object-center w-full h-full md:hidden md:object-top" style="max-height:" width="100%"
      height="100%"
      src="//subscriptions.prolonlife.com/cdn/shop/files/ProLon_LiveIntent_Footer_900x_5ef565d7-c1cf-4d09-9aba-2faf5bf82259.png?v=1668243661">
  </div>
</div>

</section>