<section class="relative overflow-hidden bg-white pt-28 pb-36 product-grid-section">
    <div class="w-full max-w-container relative z-10 px-4 mx-auto">
        <h2 class="mx-auto mb-6 text-xl font-bold leading-none text-center font-heading md:text-2xl md:text-4xl tracking-px-n xl:text-4xl"
        contenteditable="false"> 
        <div class="whitespace-nowrap">Continue your longevity journey</div>
    </h2>
    <p class="mx-auto mb-10 text-lg font-medium leading-normal text-center text-gray-900  max-w-7xl">The new L-Spread is paired with ProLon — The only scientifically tested fasting nutrition program backed by 20 years and $36 million in research and development. For a limited time as part of our ProLon family, receive your free three jar set with your pruchase of ProLon.   
 
    </p>     
        {% comment %} <div class="!grid md:grid-cols-2">
            <div class="!grid grid-cols-2 gap-3 mx-auto md:px-10 max-w-container"><img looading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/shutterstock_2088780301_1.jpg?v=1683220910"
                    class="py-2"><img looading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/shutterstock_326899193_b.jpg?v=1683312889"
                    class="py-2"><img looading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/shutterstock_1107544499_1.jpg?v=1683220911"
                    class="py-2"><img looading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/shutterstock_1109956826_b.jpg?v=1683312890"
                    class="py-2"><img looading="lazy"
                    src="  https://cdn.shopify.com/s/files/1/0126/2921/3243/files/shutterstock_2126319809_b.jpg?v=1683312950"
                    class="py-2"><img looading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/shutterstock_2160256737_1.jpg?v=1683222457"
                    class="py-2"></div>
            <div class="mt-4 mb-4">
                <p class="p1">
                    <meta charset="utf-8"><span>The L-Spread is made from selected almonds and cocoa to support the
                        Longevity Lifestyle of adults, the elderly, and children.</span><br><br><span>The L-Spread
                        contains 74% Almonds, one of the foods most consistently associated with human health and
                        longevity. Studies published in the New England Journal of Medicine show that consumption of
                        tree nuts, including almonds, is associated with reduced mortality from heart disease and
                        cancer.</span>
                </p>
                <p class="p1"><br><span>The Almonds selected in the L-Spread are sourced from an area in Italy known for
                        its concentration of villages with record numbers of Centenarians (people living &gt;100 years).
                        These almonds are also known for their specific exquisite taste. L-Spread longevity formulation
                        is based on the international bestseller book The Longevity Diet by Dr. Valter Longo (Longevity
                        Diet). This formulation maintains low-level factors that typically accelerate biological aging,
                        such as Insulin and IGF-1.</span></p>
                <p class="p1"><br><span>The L-Spread contains plant-based proteins, healthy fats, and low
                        carbs.&nbsp;</span><span>It is Gluten-Free, Soy-Free, Vegan, and Non-GMO.</span>&nbsp;</p>
                <br>
                <p class="p1"><span></span><strong>How to use L-Spread?<br></strong>&nbsp;</p>
                <p class="p1"><span>
                        <meta charset="utf-8"> <span dir="ltr" class="">The L-Spread can be used every day for
                            breakfast, as a snack, or as a dessert. You can take one or two spoons a day or spread it on
                            a piece of bread or add it to your bowl of fruits or your shakes/drinks. In addition, some
                            consumers creatively use it on cakes, crepes, and sandwiches.&nbsp;<br><br>As you can see,
                            the possibilities are endless!<br><br> The delicate and smooth texture of L-Spread makes it
                            a pleasure to taste. It has a mild creamy flavor with an exquisite balance of sweetness that
                            will delight your palate. Enjoy the benefits of healthy aging in every spoonful! Try it
                            today and experience its delightful sweet taste.</span>
                    </span></p>
            </div>
        </div> {% endcomment %}
        <div class="mx-auto mt-[60px] md:max-w-4xl">
            <div class="flex flex-wrap -m-5">
                <div class="w-full p-5 md:w-1/2">
                    <div class="bg-white border bg-opacity-90 border-blueGray-100 rounded-4xl shadow-9xl"
                        style="backdrop-filter: blur(46px);">
                        <div class="border-b border-blueGray-100">
                            <div><img
                                    src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/L-Sread_ProLon_PDP_400x.png?v=1683478703" class="w-full">
                            </div>
                            <div class="py-7 px-9"> 
                                <h3 class="mb-3 text-xl font-bold leading-snug text-gray-900">ProLon + Longevity
                                    Spread</h3>
                                <p class="font-medium leading-relaxed text-gray-500">Patented nutrition program backed
                                    by 20 years and $34 million in R&amp;D.


                                    1,000,000+ Kits sold worldwide — join us in proactivly caring for healthy futures.

                                </p>
                                <p>
                                </p>
                            </div> 
                        </div>
                        <div class="pt-8 pb-9 px-9">
                            <p class="mb-6 font-medium leading-relaxed text-gray-600">Benefits include:</p>
                            <ul class="mb-11">
                                <li class="flex items-center mb-4">
                                    <svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z"
                                            stroke="#73994a" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <p class="font-semibold leading-normal">Patented for its healthy aging effects


                                    </p>
                                </li>
                                <li class="flex items-center mb-4">
                                    <svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z"
                                            stroke="#73994a" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <p class="font-semibold leading-normal">Healthy, younger-looking skin</p>
                                </li>
                                <li class="flex items-center mb-4">
                                    <svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z"
                                            stroke="#73994a" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <p class="font-semibold leading-normal">Improved sense of well-being

                                    </p>
                                </li>
                              
                                <li class="flex items-center mb-4">
                                    <svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z"
                                            stroke="#73994a" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <p class="font-semibold leading-normal">Free Longevity Spread with every ProLon
                                        purchase

                                    </p>
                                </li>
                                <li class="flex items-center mb-4">
                                    <svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z"
                                            stroke="#73994a" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <p class="font-semibold leading-normal">L-Spread contains 74% Almonds & 14% Cacoa

                                    </p>
                                </li>
                                
                                
                            </ul>
                            
             
                            <add-to-cart-single
                             
                              variant-id="42252150472862"
                              handle="prolon-fasting-nutrition-extra"
                              subscription-variant-id="42252150505630"
                              product-handle="prolon-fasting-nutrition-extra"
                              data-option-index="2"
                              data-flavor-option-index="1"
                              data-option="3 Pack"
           
           
          
                            ></add-to-cart-single>
          
                         
                            {% comment %} <p class="mb-6 text-xl font-semibold leading-normal text-gray-500">
                                <span>Starting from</span>
                                <span class="text-gray-900">$49/mo</span>
                            </p> {% endcomment %}
                            {% comment %} <div class="md:inline-block">
                                <button
                                    class="bg-[#73994a] duration-200 ease-in-out focus:ring focus:ring-indigo-300 font-semibold hover:bg-indigo-700 px-10 py-4 rounded-xl text-white transition w-full"
                                    type="button">Start 14 days free trial</button>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div> 
                <div class="w-full p-5 md:w-1/2">
                    <div class="bg-white border bg-opacity-90 border-blueGray-100 rounded-4xl shadow-9xl"
                        style="backdrop-filter: blur(46px);">
                        <div class="border-b border-blueGray-100">
                            <div><img
                                    src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/L-Spread_Set_PDP_400x.png?v=1683478703" class="w-full"> 
                            </div>  
                            <div class="py-7 px-9">
                                <h3 class="mb-3 text-xl font-bold leading-snug text-gray-900">Longevity Spread 3 Jar Set</h3>
                                <p class="font-medium leading-relaxed text-gray-500">
                                    L-Spread longevity formulation is based on the international bestseller book The
                                    Longevity Diet by Dr. Valter Longo.<br><br>
                                </p>
                            </div>
                        </div>
                        <div class="pt-8 pb-9 px-9">
                            <p class="mb-6 font-medium leading-relaxed text-gray-600">Benefits Include:</p>
                            <ul class="mb-11">
                                <li class="flex items-center mb-4">
                                    <svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z"
                                            stroke="#73994a" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <p class="font-semibold leading-normal"> L-Spread contains 74% Almonds </p>
                                </li>
                                <li class="flex items-center mb-4">
                                    <svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z"
                                            stroke="#73994a" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <p class="font-semibold leading-normal"> L-Spread contains 14% Cacoa </p>
                                </li>
                                <li class="flex items-center mb-4">
                                    <svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z"
                                            stroke="#73994a" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <p class="font-semibold leading-normal">L-Spread longevity formulation</p>
                                </li>
                                <li class="flex items-center mb-4">
                                    <svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z"
                                            stroke="#73994a" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <p class="font-semibold leading-normal">Plant-based Proteins
                                    </p>
                                </li>
                                <li class="flex items-center">
                                    <svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z"
                                            stroke="#73994a" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <p class="font-semibold leading-normal">Healthy Fats, and Low Carbs

                                    </p>
                                </li>
                            </ul>
                            <add-to-cart-single
                            
                              variant-id="42569890824350"
                              handle="longevity-spread"
                              subscription-variant-id="42552869486750"
                              product-handle="longevity-spread"
                              data-option-index="2"
                              data-flavor-option-index="1"
                              data-option="3 Pack"
            
           
          
                            ></add-to-cart-single>
                            {% comment %} <p class="mb-6 text-xl font-semibold leading-normal text-gray-500">
                                <span>Starting from</span>
                                <span class="text-gray-900">$99/mo</span>
                            </p> {% endcomment %}
                            {% comment %} <div class="md:inline-block">
                                <button
                                    class="bg-[#73994a] duration-200 ease-in-out focus:ring focus:ring-indigo-300 font-semibold hover:bg-indigo-700 px-10 py-4 rounded-xl text-white transition w-full"
                                    type="button">Start 14 days free trial</button>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="absolute bg-[#fef4e4] bottom-0 left-0 py-90 w-full"></div>
</section>

 


{% schema %}
{ 
"name": "Longevity Journey",
"settings": [
{
"type": "text",
"id": "main_title",
"label": "Main Title",
"default": "LONGEVITY JOURNEY"
},
{
"type": "text",
"id": "subtitle",
"label": "Subtitle"

},
{
"type": "header",
"content": "Prolon + 3 Longevity Spread"
},
{
"type": "html",
"id": "prolon_description",
"label": "Prolon Description",
"default": "Lorem ipsum dolor sit amet, consect etur adipiscing maror."
},
{
"type": "header",
"content": "Longevity Spread"
},
{
"type": "html",
"id": "longevity_description",
"label": "Longevity Description",
"default": "Lorem ipsum dolor sit amet, consect etur adipiscing maror."
}
],
"blocks": [

{
"type": "product-section",
"name": "Product Section",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "text",
"id": "subtitle",
"label": "Subtitle"
},
{
"type": "html",
"id": "features",
"label": "Features"
},
{
"type": "text",
"id": "price",
"label": "Price"
},
{
"type": "text",
"id": "button",
"label": "Button"
},
{
"type": "url",
"id": "link",
"label": "Link"
},
{
"type": "url",
"id": "url",
"label": "Product Url"
},
{
"type": "text",
"id": "handle",
"label": "Product Handle"
},
{
"type": "text",
"id": "product_id",
"label": "Product Id"
},
{
"type": "text",
"id": "variant_id",
"label": "Variant Id"
},
{
"type": "text",
"id": "subscription_variant_id",
"label": "Subscription Variant Id"
}
]
}

]
}
{% endschema %}

<script src="{{'ck-product-grid-view.js' | asset_url }}" defer></script>
 