<link rel="stylesheet" href="{{"loyalty-program-page.css" | asset_url }}">
<!-- FIRST SECTION --> 
<!-- <div class="relative-parent-dvs__"> -->
<div class="page-main-wrapper-prolon-fast__">
<div class="__prolon-fast-dev-mainsec__">
  <div class="__prolon-fast-inner-row-wrapper">
    <div class="__col-image-wrap-pro-fast">
      <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/032819_647.png?v=1621537573" alt="">
    </div>
    <div class="__col-text-wrap-pro-fast">
      <div class="pro-fast-text-main-container">
      <div class="main-text-wrap-with__">
        <h3 class="font-avant">FREQUENT FASTER LOYALTY PROGRAM</h3>
        <p class="font-avant"><i>win</i> points while you <i>lose weight!</i></p>
      </div>
 <div class="prolon_middle-paragraph-wrap">
   <p class="font-avenir">Share your passion of fasting with ProLon and rack up the reward points to save big on your ProLon purchase.</p>
 </div>
        <div class="__prolon-fast-button-act-wrap">
          <div class="__prolon-btn-text-wrap-around">
            <a href="https://prolonfast.com/account/register" class="prolon_btn-join-hp">JOIN NOW</a>
            <div class="__text-below-button-center-prolon">
              <p class="font-avenir">Earn 500 Points
          for Joining</p>
            </div>
          </div>
          <a href="https://prolonfast.com/account/login?return_url=%2Faccount" class="prolon_btn-signin-hp font-avenir">LOGIN</a>
        </div>
        </div>
    </div>
  </div>
</div>
</div>


<!-- SECOND SECTION -->

<div class="__prolon-page-main-parent-wrapper">
  <svg class="svg-prolon-mb-hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="
    margin-bottom: -11px;
">
  <path fill="#0099ff" fill-opacity="1" d="M0,224L48,229.3C96,235,192,245,288,229.3C384,213,480,171,576,154.7C672,139,768,149,864,170.7C960,192,1056,224,1152,229.3C1248,235,1344,213,1392,202.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z" style="fill: #f5faea;"></path>
</svg>
<div class="prolon-fast-work-section-wrapper">
  <div class="__inside-child-container-prolon">
    <div class="__sec-title-prolon-wrapper-fast">
      <h2>How it works</h2>
    </div>
    <div class="__bottom-row-wrapper-sec-fast">
        <div class="_card-1-prolon-fast-work">
          <div class="__card-image-wrapper-fast">
            <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Group_2_1.png?v=1621577588">
          </div>
          <div class="__card-text-wrapper-fast">
            <h3>Create an account</h3>
            <p>and join Frequent Faster Loyalty Program</p>
          </div>
        </div>
        <div class="_card-1-prolon-fast-work">
          <div class="__card-image-wrapper-fast">
            <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Group_4_2.png?v=1621577599">
          </div>
          <div class="__card-text-wrapper-fast">
            <h3>EARN POINTS</h3>
            <p> follow, share or purchase ProLon</p>
          </div>
        </div>
        <div class="_card-1-prolon-fast-work">
          <div class="__card-image-wrapper-fast">
            <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Group_5_3.png?v=1621577599">
          </div>
          <div class="__card-text-wrapper-fast">
            <h3>Redeem Your points</h3>
            <p>for real money towards your purchases  </p>
          </div>
        </div>
    </div>
    
    <hr class="hr-line-green-prolon-fast-wrap"></hr>
  </div>
</div>
</div>

<!-- THIRD SECTION -->
<div class="__prolon-way-points-sec-wrapper">
  <div class="__insider-padding-way-points">
    <div class="main-title-way-points-wrap">
      <h2>Ways to Earn Points</h2>
    </div>
    
    
    <div class="row-card-first-points-wrapper">
      <div class="inside_row-wrapper-sec__prolon">
        
        
        <div class="__prolon-row-flex-wrap-sec">
          <div class="bottom-card-row-points-wrap prolon-left-margin-card__">
            <div class="title-card-inner-fast-points"><span>Fast</span></div>
            <div class="__para-sec-fast-points-wrapper">
              <p><b style="background:transparent">Earn 10 points per $1 spent</b> every time you purchase from ProLonFast.com.</p>
            </div>
            <div class="image-sec-fast-points-wrapper">
              <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/FAST.png?v=1621579756" alt="">
            </div>
          </div>
          <div class="bottom-card-row-points-wrap prolon-left-margin-card__">
            <div class="title-card-inner-fast-points"><span>Engage</span></div>
            <div class="__para-sec-fast-points-wrapper">
              <p><b style="background:transparent">Earn 100 points</b><br>when you follow us on FaceBook, Instagram or Twitter.</p>
            </div>
            <div class="image-sec-fast-points-wrapper __secon-img-bottom-card">
              <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/SM_icons.png?v=1621580721" alt="">
            </div>
          </div>
          <div class="bottom-card-row-points-wrap">
            <div class="title-card-inner-fast-points"><span>Share</span></div>
            <div class="__para-sec-fast-points-wrapper">
              <p><b style="background:transparent">Get 50 points</b><br>every time you share our content to your FaceBook, Instagram and Twitter accounts. (Limit: 5 posts per month)</p>
            </div>
            <div class="image-sec-fast-points-wrapper __thrd-sec-img">
              <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Share.png?v=1621580730" alt="">
            </div>
          </div>
        </div>
        <div class="__second-row-flex-wrap-points">
          <div class="sec__bottom-card-row-points-wrap prolon-left-margin-card__">
            <div class="title-card-inner-fast-points"><span>Refer-a-friend</span></div>
            <div class="__para-sec-fast-points-wrapper">
              <p><b style="background:transparent">Earn 1,000 points</b><br> when you refer ProLon to anyone. Just give them your code and when they purchase you will collect your points. (Don’t worry, they’ll get a little something too!)</p>
            </div>
            <div class="image-sec-fast-points-wrapper __sec-row-img-bottom-card">
              <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/REFER_A_FRIEND.png?v=1621592537" alt="">
            </div>
          </div>
          <div class="sec__bottom-card-row-points-wrap">
            <div class="title-card-inner-fast-points"><span>Birthday</span></div>
            <div class="__para-sec-fast-points-wrapper">
              <p><b style="background:transparent">Earn 200 points</b><br>Share your birthday with us and we will send you some birthday points. Happy Birthday!</p>
            </div>
            <div class="image-sec-fast-points-wrapper __sec-row-img-bottom-card">
              <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Birthday.png?v=1621592536" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <hr class="hr-line-green-prolon-fast-wrap"></hr>
  </div>
</div>

<!-- FOURTH SECTION -->
<div class="__prolon-cashing-section-main-wrapper">
  
  
  <div class="prolon_inner-cashing-padding-wrap">
    
   
    <div class="__cashing-main-title-wrap">
      <h2>CASHING IN</h2>
      <p>You earn real cash to use towards any purchase of ProLon.</p>
    </div>
    
    <div class="__card-mini-prolon-fast-justify">
      
      <div class="mini-card-prolon-wrap">
        <span class="price-text-pro-wrap">$10</span>
        <p>1,000 Points*</p>
      </div>
      
      <div class="mini-card-prolon-wrap">
        <span class="price-text-pro-wrap">$25</span>
        <p>2,500 Points*</p>
      </div>    
        
      <div class="mini-card-prolon-wrap">
        <span class="price-text-pro-wrap">$50</span>
        <p>5,000 Points*</p>
      </div>
      
    </div>
    
    <div class="redeem-box-prolon-wrap">
       <p class="top-para-line-sec">When you’re ready to redeem your points for real savings towards your purchase just:</p>
      
      <div class="prolon__mini-boxes-main-row">
        
       <a href="https://prolonfast.com/account/login?return_url=%2Faccount"><div class="mini-box-main-wrap-prolon margin-right-default-var">
          <div class="inside-child-wrap-mini-prolon">
            <div class="child-first-image-mini-wrap">
              <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Login.png?v=1621595579">
            </div>
            <div class="child-text-wrap-prolon-mini">
              <h3>Logon into your</h3>
              <p>L-NUTRA ACCOUNT</p>
            </div>
          </div>
        </div></a>
        
        <div class="mini-box-main-wrap-prolon margin-right-default-var">
          <div class="inside-child-wrap-mini-prolon">
            <div class="child-first-image-mini-wrap">
              <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/OPen.png?v=1621606173">
            </div>
            <div class="child-text-wrap-prolon-mini">
              <h3>Open the</h3>
              <p>rewards panel</p>
            </div>
          </div>
        </div>
        
        <div class="mini-box-main-wrap-prolon">
          <div class="inside-child-wrap-mini-prolon">
            <div class="child-first-image-mini-wrap">
              <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Click.png?v=1621606173">
            </div>
            <div class="child-text-wrap-prolon-mini">
              <h3>Click on</h3>
              <p>ALL REWARDS</p>
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="enough-points-redeem_prolon">
        <p>If you have enough points, a <b class="text-green-prolon">Redeem</b> button will appear<p>
      </div>
      
    </div>
    
    <div class="__doc-box-bottom-prolon-wrap">
      <p>Click the <b class="text-green-prolon">REDEEM</b> button to receive your <b class="text-green-prolon">COUPON CODE</b> <br class="only-dp-br-tag"> Click the <b class="text-green-prolon">Apply code</b> button to automatically apply that coupon code to the checkout
</p>
    </div>
    
    
     
    <span class="bottom-line-last-c">*Points never expire..</span>
  </div>
</div>
<svg class="svg-prolon-mb-hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="fill: #f5faeb;">
  <path fill="#0099ff" fill-opacity="1" d="M0,128L80,160C160,192,320,256,480,266.7C640,277,800,235,960,202.7C1120,171,1280,149,1360,138.7L1440,128L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z" style="fill: #f5faeb;"></path>
</svg>
<!-- FAQS -->
<div class="prolon-main-container-wrap">
  <div class="prolon_faq-title-faq-sec">
    <h2>Frequently Asked Questions</h2>
  </div>

  <div class="___prolon-faqs-main-wrapper">
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer">What is the Frequent Faster Loyalty Program?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>It’s a fun and exciting way to earn reward points that can be redeemed for
            cash to use on any ProLon purchase.
          </p>
        </div>
      </div>
    </div>
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-2" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-2">How do I join? Is it free?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>Yes, it’s free to join! Plus, you’ll receive 100 bonus points just for signing
            up. To get started, simply create your free L-Nutra account today! (link to
            sign up)
          </p>
        </div>
      </div>
    </div>
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-3">Can I use my Frequent Faster rewards during sales and with other promo codes?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>Yes, your reward points can be used at any time, including during
            promotions for even greater savings.
            A maximum of 5000 points can be used for each purchase.
          </p>
        </div>
      </div>
    </div>
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-4" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-4">How do I earn points?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
            There are many ways you can earn points in the Frequent Faster program.<br><br>
            1. Fast with ProLon and earn 1 point for every dollar spent on your
            ProLon purchase.<br><br>
            2. Engage with us on social media and earn 5 points for each
            engagement. (Limit 5 per month)<br><br>
            3. Share your ProLon related post on social media for 10 points. (Limit 5
            per month)<br><br>
            4. Refer a Friend and rack up 100 points when they make a purchase.<br><br>
            5. Celebrate your birthday and tack on another 100 points.
            The more you participate the more points you can receive.
          </p>
        </div>
      </div>
    </div>
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-5" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-5">How do I know how many points I have earned?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>Once your account is set up, all your earned points can be viewed by
            opening your Reward Panel.
          </p>
        </div>
      </div>
    </div>
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-6" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-6">How do I redeem my points?
      </label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
            Follow these simple steps to redeem your reward points:<br><br>
            1. Log onto your L-Nutra account
            <br><br>
            2. Open the Rewards Panel
            <br><br>
            3. Click on “ALL REWARDS”
            <br><br>
            4. Click the “REDEEM” button to receive your coupon code
            <br><br>
            5. Click the APPLY CODE button to automatically apply that coupon
            code to the checkout
          </p>
        </div>
      </div>
    </div>
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-7" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-7">I redeemed a discount voucher, but I did not use it. Can I use it on my next purchase?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>Yes, any unused discount voucher can be applied toward future purchases.
          </p>
        </div>
      </div>
    </div>
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-8" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-8">Do my points expire?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>No, your reward points will not expire, and can be used at any time. There
            are no blackout dates.
          </p>
        </div>
      </div>
    </div>
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-9" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-9">Are my points transferrable?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>Yes, you can give your reward points to others who can use them toward
            any ProLon purchase.
          </p>
        </div>
      </div>
    </div>
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-10" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-10">Is there a limit to how many points I can get?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>There is no limit to the number of points you can accrue over time. There is
            however a monthly point limit for some of the ways in which points can be earned.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="prolon_faq-title-faq-sec mob-margin-top-custome-class-prolon">
    <div class="__prolon-fast-button-act-wrap">
      <div class="__prolon-btn-text-wrap-around">
        <a href="https://prolonfast.com/account/register" class="prolon_btn-join-hp">JOIN NOW</a>
        <div class="__text-below-button-center-prolon">
          <p>Earn 100 Bonus Points
            for Joining</p>
        </div>
      </div>
      <a href="https://prolonfast.com/account/login?return_url=%2Faccount" class="prolon_btn-signin-hp">LOGIN</a>
    </div>
  </div>
</div>
<!-- bottom image -->
<div class="__bottom-faq-background-layout">

</div>