<link rel="stylesheet" href="{{" meredith-new-page.css" | asset_url }}">
<!-- Section 1 -->
<div class="page-main-wrapper-prolon__">
<div class="__prolon-fast-dev-mainsec">
  <div class="__prolon-inner-row-wrapper">
    <div class="__col-image-wrap-pro">
      <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/shutterstock-213515989_2x_5d0bb8ce-7007-4f74-b3c9-f97ea83d67ee.png?v=1620548737" alt="">
    </div>
    <div class="__col-text-wrap-pro">
      <div class="pro-text-main-container">
      <div class="image-wrap-with-line">
        <img src="https://cdn.shopify.com/s/files/1/0508/0625/9870/files/KickstartSVG.svg?v=1620689333" alt="Kickstart">
        <hr class="hr-line-col-text-wrap">
      </div>
        <span>
a healthier you in just<b> 5 days</b> with the <br class="mobile-hidden-br">
<b>Fasting and Nutrition Combo Pack</b>
<a href="#shopify-section-product-template-narrow" class="green-btn-prolon-dev btn-start">ORDER NOW</a>
</span>
        </div>
    </div>
  </div>
</div>


<div class="__prolon-sec-fast-second">
 <div class="iner-sec-col-wrapper-prolon">
  <div class="top-text-image-sec-prolon">
    <div class="col-text-left-prolon">
      <div class="__sec_title-prolon">
        <h2>The ProLon <br>
Fasting Mimicking Diet® (FMD®)</h2>
        
      </div>
      <p>Unlike any other meal program, ProLon FMD offers nutrition without activating the body's food-recognizing sensors, also known as Nutrient Sensing Pathways. It keeps these sensors below a certain threshold. So, you get to eat real, great tasting food, but your body “thinks” it’s on a 5-day fast.</p>
    </div>
    <div class="col-right-image-prolon">
      <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/pro-lon-full-kit_3x_7b657124-db16-4f08-b9f9-ea9365cdb272.png?v=1620552915" alt="">
    </div>
  </div>
   <div class="__bottom-text-sec-prolon">
     <h1>Ready to reset and renew after months <br class="mobile-hidden-br">
of unhealthy eating habits? 
 </h1>
     <span>Kick Things Off with ProLon Your Secret to Fasting with Food</span>
     <p>The ProLon Fasting Mimicking Diet is a revolutionary 5-day,<br class="mobile-hidden-br">
plant-based meal program designed to rejuvenate your body from the inside out. </p>
   </div>
  </div>
</div>




</div>

<!-- Section 2 -->
<div class="sec-2-pro-lon__dev">
<center>
  <h2 style="color:#A7D252;width:80%;">What You Can Expect From ProLon</h2>
<div style="display:flex;flex-wrap:wrap;justify-content: center;
    width: 100%;">
   <div class="column4a-new">
    <center>
      <h3 style="font-size: 1.5em;">

        <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/ProLon-OnTarget-Compressed.gif?v=1600327658" width="100" height="100" alt="Fat Focused Weight Loss" class="lazyload"><br>Weight Loss
      </h3>
      <p>Lose weight, 
especially belly fat, 
while protecting 
lean body mass.*
      </p>
    </center>
  </div>
  <div class="column4a-new">
    <h3 style="font-size: 1.5em;">
      <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/ProLon-Atom-Compressed.gif?v=1600326408" width="100" height="100" alt="Promote Cellular Renewal" class="lazyload"><br>Healthy Aging
    </h3>
    <p>Trigger cell 
rejuvenation, 
which supports 
healthy aging.*
    </p>
  </div>
<div class="column4a-new">
    <center>
      <h3 style="font-size: 1.5em;">

        <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/ProLon-Accelerate-Compressed.gif?v=1600327435" width="100" height="100" alt="Enhance Clarity and Performance" class="lazyload"><br>Enhance <br>Performance
      </h3>
      <p>Real users say it improves energy, and mental clarity and focus.
      </p>
    </center>
  </div>
  <div class="column4a-new">
    <h3 style="font-size: 1.5em;">

      <img style="width:100px" src="https://cdn.shopify.com/s/files/1/0508/0625/9870/files/ProLon-Plate_360x.gif?v=1604104019" width="100" height="100" alt="Support Metabolic Health" class="lazyload"><br>ESSENTIAL<br> NUTRITION
    </h3>
    <p>Keep your body 
nourished while in 
a fasting state.
    </p>
  </div>
<div class="column4a-new">
    <h3 style="font-size: 1.5em;">

      <img style="width:100px;" src="https://cdn.shopify.com/s/files/1/0508/0625/9870/files/ProLon-ThubsUp_180x_61edb514-fb83-42b5-9332-9b2aaecd63aa_360x.gif?v=1604104045" width="100" height="100" alt="Support Metabolic Health" class="lazyload"><br>GREAT TASTE
    </h3>
    <p>Enjoy delicious 
and convenient 
plant-based foods.
    </p>
  </div>
</div>
</center>

<p style="font-size:16px; width:100%;">*Benefits seen when using multiple consecutive cycles of ProLon</p>
</div>
<hr class="hr-bottom-line-custom">
<!-- section 3 -->
<center>
<div class="prolon-para-wrapper-sec__">
  <p>The tasty, specially designed food provided in the <b>ProLon 5-Day Meal Program</b>
offers nutrition without activating the body’s food-recognizing sensors, also known as 
Nutrient-Sensing Pathways. It keeps these sensors below a certain threshold. So, you get many 
of the benefits of a prolonged 5-day fast… ,<i>without giving up food or going hungry.</i> </p>
  <span>ProLon’s breakthrough nutri-technology was researched for over 20 years and developed by 
Dr. Valter Longo at the University of Southern California with tens of millions of dollars in funding support from many sources, including the National Institutes of Health (NIH). 
</span>
</div>
</center>

<!-- Section 4 -->
<div class="green-prolon-sec-wrapper__">
  <div class="__inner-padding-prolon-green">
    <div class="header-wrapper-title-green">
      <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Screenshot_2021-05-09_at_4.04.18_PM-removebg-preview.png?v=1620558487" alt="">
      <h3>THE FASTING AND NUTRITION COMBO PACK</h3>
    </div>
    <div class="image-scroll-wraper-green">
      <img src="https://cdn.shopify.com/s/files/1/0508/0625/9870/files/ProLon_-_Offer.png?v=1620686778" style="
      max-width: 420px;
  ">  + 
      <img class="shrink-image-fb" src="https://cdn.shopify.com/s/files/1/0508/0625/9870/files/10ct_-_Chips.png?v=1620770621"> +
      <img class="shrink-image" src="https://cdn.shopify.com/s/files/1/0508/0625/9870/files/Meredith_-_N4L.png?v=1620738433">
    </div>
    <div class="adding-pro-dev-green">
    <p>ProLon FMD w/FREE Health Coach Consult &nbsp + &nbsp FREE 10-Pack of Fast Bar &nbsp<br class="mobile-hidden-br">
+ &nbsp  $25 Credit for Nutrition for Longevity</p>
</div>
    <div class="price-sec-gren-wraper">
      <p> <strong>ALL THIS FOR JUST</strong><i>$169</i><br>
or <span>$159 </span>(with ProLon subscription)<br> a <span>$378 Value</span>
      </p>
      
    </div>
   <a href="#shopify-section-product-template-narrow" class="green-btn-prolon-dev">ORDER NOW</a>
  </div>
</div>

<!-- Section 5 -->
<div class="__prolon-main-image-text-wrapper">
  <div class="inner-padding-prolon-green-tw">
  <div class="image-wrap-prolon-green">
    <img src="https://cdn.shopify.com/s/files/1/0508/0625/9870/files/Meredith_-_Coaching_Call.png?v=1620687207">
     </div>
  <div class="text-wrap-prolon-green">
    <div class="title-left-gren-wrap">
      <h1>ProLon Health Coach</h1>
      <p>Your guide to starting healthy, new habits.</p>
    </div>
    <span>Our Certified Health Coaches—trained in the Johns Hopkins Patient Engagement Program method—provide you with ongoing support during your 5-day “fast” with ProLon. Our coaches are a source of continual inspiration and motivation to keep you on track and help you complete the program.</span>
    <div class="free-sec-wrap-text-green">
      <h1>FREE</h1>
      <p>20-Minute Health Coach Consult ($74 value) with purchase of ProLon combo pack.
</p>
    </div>
  </div>
    </div>
</div>

<!-- Section 6 -->
<div class="keep-helath-rolling-prolon">
  <div class="inner-padding-sec-top__">
    <div class="__header-title-section-inner-wrap">
    <h1>Keep the Healthy Habits Rolling,<br class="mobile-hidden-br">Post-ProLon</h1>
    
    <p>
Fast Bar® is a delicious nutrition bar designed<br class="mobile-hidden-br">specifically for intermittent fasting. </p>
</div>
     <div class="__center-image-wrapper-row">
    <div class="image-left-pro-wrap">
      <img src="https://cdn.shopify.com/s/files/1/0508/0625/9870/files/Meredith_-_Fast_Bar_Section.png?v=1620686778" alt="">
    </div>
    <div class="image-right-pro-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0508/0625/9870/files/Benefits_of_Fast_Bar.svg?v=1620688211" alt="Benefits Of Fast Bar">
    </div>
  </div>
  <div class="here-text-wrapper-center-ma">
      <h3>HERE'S WHY:</h3>
      <p>Fast Bar is the first and only bar formulated under
the patented Fasting Mimicking Diet principles. This new bio-hacking science nourishes the body while keeping it in a fasted state on a cellular level by avoiding triggering food detection pathways.*
</p>
    </div>
    <p class="benifet-pro-wrap-lon">*Benefits seen in a randomized, controlled study in 105 adults after a 15-hour overnight fast comparing the glucose and ketone results every hour for 4 hours in the Fast Bar group, breakfast group and water-fast group. Data on file.</p>
    <div class="free-code-wrap-block">
      <h1>FREE</h1>
      <p>10-Count Box of Fast Bar® ($30 value) with purchase of ProLon combo pack.
</p>
    </div>
  </div>
 
</div>

<!-- Sections 7 -->
<div class="___prolon-sec-image-text-wrapper">
  <div class="___inner-padding-prolon-green-sec">
  <div class="___text-wrap-prolon-sec">
    <div class="___title-left-sec-wrap">
      <h1>Nutrition for Longevity</h1>
      <p>The Best Foods to Put in Your Body <br class="mobile-hidden-br">
After Your ProLon Fast</p>
    <span>A healthy and delicious meal kit following recipes from  the Longevity regions of the world where people live the longest, healthiest lives. All produce is non-GMO, free of pesticides, herbicides and fungicides, and sourced from ancient seeds around the world. The food in every Nutrition for Longevity meal kit is clean, pure, nutrient-dense and ultra-fresh, delivered direct to your door within 48 hours of harvest.</span>
      
    </div>
    <div class="__prolon-bottom-sec-dray-wrap">
      <h2>INSTANT <span class="tfive-css-wrap">$25</span> CREDIT</h2>
      <P>on your first order of Nutrition For Longevity <br class="mobile-hidden-br">
with your purchase of ProLon combo pack</P>
    </div>
  </div>
    <div class="___image-wrap-prolon-sec">
    <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/dsc-07859_2x_0f49ffdf-6c13-45b3-98cf-42d15684c951.png?v=1620639516">
  </div>
    </div>
</div>

<!-- Section 8 -->
<div class="__green-prolon-sec-wrapper__">
  <div class="inner-padding-prolon-green">
    <div class="__header-wrapper-title-green">
      <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Screenshot_2021-05-10_at_3.29.33_PM-removebg-preview.png?v=1620642742" alt="">
      <h3>THE FASTING AND NUTRITION COMBO PACK</h3>
    </div>
    <div class="image-scroll-wraper-green">
      <img src="https://cdn.shopify.com/s/files/1/0508/0625/9870/files/ProLon_-_Offer.png?v=1620686778" class="shrink-image">  + 
      <img src="https://cdn.shopify.com/s/files/1/0508/0625/9870/files/10ct_-_Chips.png?v=1620770621" class="shrink-image-fb"> +
      <img src="https://cdn.shopify.com/s/files/1/0508/0625/9870/files/Meredith_-_N4L.png?v=1620738433" class="shrink-image">
    </div>
    <div class="adding-pro-dev-green">
    <p>ProLon FMD w/FREE Health Coach Consult &nbsp + &nbsp FREE 10-Pack of Fast Bar &nbsp<br class="mobile-hidden-br">
+ &nbsp  $25 Credit for Nutrition for Longevity</p></div>
    <div class="__price-sec-gren-wraper">
      <p><strong>ALL THIS FOR JUST</strong><i>$169</i><br>
or <span>$159 </span>(with ProLon subscription)<br> a <span>$378 Value</span>
      </p>
      
    </div>
    <a href="#shopify-section-product-template-narrow" class="green-btn-prolon-dev">ORDER NOW</a>
  </div>
</div>

<script>

$('a[href^="#"]').on('click', function(e) {
    e.preventDefault();

    const scrollTop = $($(this).attr('href')).position().top ;
 
    $('html, body').animate({ scrollTop });
})
</script> 