<section>
<div class="relative">
  <div class="absolute inset-0 w-full h-full">
    <video src="https://cdn.shopify.com/videos/c/o/v/87a7bfe936244a209cc7469090a4ac35.mp4" loop=" " autoplay="" muted=""
      class="blur-[2px] h-full object-cover w-full"></video>
  </div>
  <div class="relative z-10 flex flex-col items-center justify-center px-4 py-8 mx-auto text-white h-120" style="
    background: #00000070;
    backdrop-filter: blur(0px);
">
    <h2 class="mb-4 text-2xl font-bold md:text-4xl"></h2>
    <div class="prose">
      <p class="font-[600] text-2xl text-center uppercase">Nourishment for Our
      </p>
      <h1 class="pt-2 text-5xl font-bold text-center uppercase lg:text-6xl">
        SKIN's <span class="text-[#73994B]">Longevity</span>
      </h1>
    </div>
  </div>
</div>

</section>
<section>
<div class="bg-[#F4F1E9] py-16 lg:pb-0">
  <div class="max-w-[1600px]">

    <div class="">

      <p class="accent-subtitle text-center mx-auto bg-[#fdf3e4] w-fit p-1">
        ProLon
      </p>

      <h2 class="font-bold text-center">
        Nourishment for Our Skin's Longevity
      </h2>


    </div>

    <div class="flex flex-col justify-center mt-4 lg:flex-row lg:justify-between md:mt-12">
      <div class="inline-flex items-end justify-end flex-1 img-bg-circle">
        <img src="//subscriptions.prolonlife.com/cdn/shop/files/bg-preview-center-transformed_large.png?v=1685704596" alt="">
      </div>
      <div class="flex flex-col flex-1 p-4 content lg:pb-16 ">
        <p class="accent-subtitle bg-[#fdf3e4] w-fit p-1"> Revitalization truly comes from within! </p>
        <p class="h3 !font-bold"> Fasting Nutri-Technology: A Groundbreaking Innovation </p>
        <div class="text-base md:text-xl">
          <div class="rte featured-row__subtext">
            <p>Renowned institutions like The Longevity Institute at the University of Southern California, Stanford
              University, Leiden University, Heidelberg University, and 14 other prestigious research centers have
              recently examined a Nutritional Program that activates a cellular rejuvenation process called Autophagy.
              <br><br>
              Awarded the Nobel Prize in Medicine, Autophagy signifies the essence of cellular rejuvenation and
              metabolic reset, typically triggered by 3-5 days of fasting. This collaborative research effort from 18
              universities presents a groundbreaking 5-Day Nutritional Formulation called The ProLon 5-Day Nutrition.
              ProLon offers the rejuvenating benefits of fasting, such as cellular renewal, metabolic rest, muscle
              protection, skin hydration &amp; radiance, energy, and mental clarity.
            </p>
          </div>
        </div>
      </div>
    </div>



  </div>


</div>

</section>
<section>
<div class="py-8 mb-6 bg-center bg-no-repeat bg-cover">
  <div class="flex flex-col mx-auto container max-w-[697px] py-16 gap-16 ">


    <div class="flex flex-col gap-4 ">
      <div class="text-center">
        <p class="accent-subtitle text-center mx-auto bg-[#fdf3e4] w-fit p-1">Prolon
        </p>
        <h3 class="px-2 text-black lg:px-0">Nourishment for Our Skin's Longevity</h3>
      </div>
      <div class="text-base text-center md:text-xl"><span class="text-black">The skin, the largest organ in our body,
          mirrors our inner health. Its vitality, radiance, suppleness, and healthy against aging rely predominantly on
          the nutrition we ingest, more so than the creams we apply. Optimal nutrition impacts the whole skin surface of
          our body, not just the face and neck, representing merely 3.5% of the total skin.
        </span></div>

      <img src="//subscriptions.prolonlife.com/cdn/shop/files/shutterstock_437756866_1_large.jpg?v=1685732306"
        class="mx-auto rounded shadow" alt="">

    </div>

    <div class="flex flex-col gap-4 ">
      <div class="text-center">
        <h3 class="px-2 text-black lg:px-0">New Evidence: Skin, Confidence, &amp; Happiness</h3>
      </div>
      <div class="text-base text-center md:text-xl"><span class="text-black">On February 21, 2023, the Journal of
          Clinical Medicine published the skin and emotional results of a randomized clinical study on ProLon's 5-Day
          Fasting Nutrition. The study recruited 45 healthy women aged between 35 and 60 and found that the group that
          used ProLon three times over three months (5 days per month) reported significant improvements in skin
          hydration, health, texture, and roughness even after the first cycle. Moreover, study participants reported
          statistically significant improvements in confidence and happiness levels.
        </span></div>

      <img src="//subscriptions.prolonlife.com/cdn/shop/files/shutterstock_429797338_large.jpg?v=1685732315"
        class="mx-auto rounded shadow" alt="">

    </div>

    <div class="flex flex-col gap-4 ">
      <div class="text-center">
        <h3 class="px-2 text-black lg:px-0"> ProLon Regimen: The Science &amp; Patents
        </h3>
      </div>
      <div class="text-base text-center md:text-xl"><span class="text-black">
          ProLon's 5-Day Fasting Mimicking Diet, backed by over 30 clinical trials, is known for its benefits on
          metabolism, cardiovascular health, and supporting healthy aging. Recognized by the US and European patent
          offices with over 40 patents, including one for enhancing rejuvenation and longevity, the secret of ProLon
          lies in its formulation that does not spike pro-aging factors in the blood and goes undetected by the cells.
          Indeed this precision formulation is made of plant-based clean ingredients that do not trigger the Cellular
          Nutrient Sensing Pathways, tricking the cells into believing they are fasting while they are nourished. This
          Novel fasting with-food method induces physiological fasting and its benefits while the body is consuming
          nutrition.
          <br><br>
          Many ProLon users report emotional benefits such as improved confidence, happiness, mental clarity, energy,
          and sleep. Additionally, they often experience a change in their relationship with food, expressed as lower
          cravings, reduced late-night snacking, and less need for large food portions. The ProLon 5-Day Fasting
          Nutrition was even awarded in 2022 as one of the best three products for employee wellness. Click here to read
          the Fasting Mimicking Diet Patents or here for the published clinical trials.

        </span></div>

      <img src="//subscriptions.prolonlife.com/cdn/shop/files/fasting_benefits_infographic_04_post_large.jpg?v=1684259713"
        class="mx-auto rounded shadow" alt="">

    </div>

    <div class="flex flex-col gap-4 ">
      <div class="text-center">
        <h3 class="px-2 text-black lg:px-0"> How often should you undertake the ProLon regimen?</h3>
      </div>
      <div class="text-base text-center md:text-xl"><span class="text-black">For skin rejuvenation, you only need to
          complete 3 ProLon regimens per year. To amplify the weight loss and healthy aging benefits, you can take the
          regimen once every quarter or four times yearly.

        </span>

        <a href="#ck-product-form" class="btn block mx-auto max-w-[350px] mt-5 js-no-transition">
          <span style="color: white;">Start your three ProLon Regimens</span>
        </a>
      </div>



    </div>




  </div>

</div>

</section>
<section>
<div class="bg-[#fdf3e4]">
  <div class="max-w-[1125px] py-16 mx-auto">
    <h2 class="pb-4 font-bold text-center lg:pb-8">
      Unveiling the Secret
    </h2>
    <div class="flex flex-col items-center gap-16 p-4 mx-auto lg:flex-row">
      <div class="flex-1 text-base md:text-xl">

        <div class="flex flex-col gap-4">

          <p>The secret lies in Autophagy–a biological miracle rooted in our epigenetics, observed in our ancestors and
            contemporary centenarians (people living 100 and beyond). <span class="font-bold">Autophagy, a cellular
              cleansing, detoxing, and rejuvenating process</span> activated by fasting, is a practice that was
            prevalent in our ancestors' lives. With our current dietary habits, the practice of fasting has been lost,
            and our cells, including skin cells, have started to age biologically faster, losing their vibrance and
            hydration.</p>
          <p>For over a decade, the National Institute for Health has sponsored researchers at the Longevity Institute
            of the <span class="font-bold">University of Southern California</span> to develop a specialized 5-day diet
            that supports people to eat a healthy plant-based, gluten-free, low glycemic index formulation that mimics
            fasting in the body and provides its benefits. This novel fasting-mimicking formulation was then examined by
            18 universities to showcase its myriad health benefits.</p>
        </div>

      </div>
      <div class="flex-1">
        <img
          src="//subscriptions.prolonlife.com/cdn/shop/files/usc-california_800x800_crop_center_4f101ee2-e936-4d3a-8db3-f88a7aadbb88_500x600_crop_center.jpg?v=1685987242"
          alt="" class="object-cover w-full h-full rounded">
      </div>
    </div>
  </div>

</div>


</section>

<section>
<div
  class="bg-no-repeat bg-cover py-8 bg-[url('//subscriptions.prolonlife.com/cdn/shop/files/shutterstock_116150530_1600x.jpg?v=1685732311')]  mb-6 bg-center">
  <div class="flex flex-col mx-auto container max-w-[697px] py-16 gap-16 ">


    <div class="flex flex-col gap-4 px-8 py-16 backdrop-blur-sm bg-white/60">
      <div class="text-center">
        <h3 class="px-2 text-black lg:px-0">ProLon: More Than Just a Product</h3>
      </div>
      <div class="text-base text-center md:text-xl"><span class="text-black">At L-Nutra, our mission is fueled by a deep
          commitment to human health and longevity. By pioneering advanced Nutri Technology, we strive to empower
          everyone to support their biological age and potentially reverse the aging process. With ProLon, we have
          harnessed the potent benefits of fasting and packaged it into a convenient and delicious 5-day program.
          <br><br>
          ProLon is not merely about radiant skin; it is about embracing a holistic approach to health, embodying
          confidence, and thriving with happiness. The carefully crafted ProLon regimen supports cellular rejuvenation,
          improves skin quality, and enhances mental clarity. Join our community of ProLoners and start your journey
          towards better health, improved skin, and a renewed sense of well-being.
          <br><br>
          <span class="font-bold">ProLon also cares about the environment and sustainability and therefore does not use
            animal or chemical source ingredients. </span>
          <br><br>
          Be a part of the revolution–the ProLon revolution to support your and the planet's health and longevity.

        </span>

        <a href="#ck-product-form" class="btn block mx-auto max-w-[350px] mt-5 js-no-transition">
          <span style="color: white;">Start your three ProLon Regimens</span>
        </a>
      </div>



    </div>




  </div>

</div>


</section>

<section>
<div data-section-id="template--14579530301486__ff302e7f-d680-457f-bb8f-434f7904c7f9" data-section-type="promo-grid">
  <div class="page-width">
    <style data-shopify="">
      .flex-grid--template--14579530301486__ff302e7f-d680-457f-bb8f-434f7904c7f9 {
        margin-top: -20px;
        margin-left: -20px;

      }

      .flex-grid--template--14579530301486__ff302e7f-d680-457f-bb8f-434f7904c7f9 .flex-grid--gutters {
        margin-top: -20px;
        margin-left: -20px;
      }

      .flex-grid--template--14579530301486__ff302e7f-d680-457f-bb8f-434f7904c7f9 .flex-grid__item {
        padding-top: 20px;
        padding-left: 20px;
      }

      @media only screen and (max-width: 589px) {
        .flex-grid--template--14579530301486__ff302e7f-d680-457f-bb8f-434f7904c7f9 {
          margin-top: -10px;
          margin-left: -10px;

        }

        .flex-grid--template--14579530301486__ff302e7f-d680-457f-bb8f-434f7904c7f9 .flex-grid--gutters {
          margin-top: -10px;
          margin-left: -10px;
        }

        .flex-grid--template--14579530301486__ff302e7f-d680-457f-bb8f-434f7904c7f9 .flex-grid__item {
          padding-top: 10px;
          padding-left: 10px;
        }
      }
    </style>
    <div class="promo-grid promo-grid--space-bottom">
      <div
        class="flex-grid flex-grid--gutters flex-grid--template--14579530301486__ff302e7f-d680-457f-bb8f-434f7904c7f9">
        <style data-shopify="">
          .flex-grid__item--6aed546b-b64a-4737-b222-e290aa48d47c .btn {
            background: !important;
            border: none !important;
          }
        </style>
        <div
          class="flex-grid__item flex-grid__item-- flex-grid__item--6aed546b-b64a-4737-b222-e290aa48d47c type-banner">
          <div class="promo-grid__container color-scheme-2">
            <div class="scheme-minimal-wave"></div>
            <div class="text-center type-banner__content bg-[#fdf3e4] py-4 rounded-xl ">
              <div class="type-banner__text">
                <p class="h3">The only scientifically tested fasting nutrition program.</p>
                <p>Backed by 20 years and $36 million in research &amp; development</p>
              </div>
            </div>
          </div>
        </div>
        <style data-shopify="">
          .flex-grid__item--eee560d2-080d-4d58-be4c-8c516275e4a7 .btn {
            background: !important;
            border: none !important;
          }
        </style>
        <div
          class="flex-grid__item flex-grid__item--50 flex-grid__item--eee560d2-080d-4d58-be4c-8c516275e4a7 type-image">
          <div class="promo-grid__container">
            <div class="image-wrap" style="height: 0; padding-bottom: 57.155399473222126%;"><img
                class="lazyautosizes lazyloaded" data-widths="[360, 540, 720, 900, 1080, 1600]"
                data-aspectratio="1.749615975422427" data-sizes="auto" role="presentation" alt=""
                data-srcset="//subscriptions.prolonlife.com/cdn/shop/files/Science_-_1_360x.png?v=1667905014 360w, //subscriptions.prolonlife.com/cdn/shop/files/Science_-_1_540x.png?v=1667905014 540w, //subscriptions.prolonlife.com/cdn/shop/files/Science_-_1_720x.png?v=1667905014 720w, //subscriptions.prolonlife.com/cdn/shop/files/Science_-_1_900x.png?v=1667905014 900w, //subscriptions.prolonlife.com/cdn/shop/files/Science_-_1_1080x.png?v=1667905014 1080w, //subscriptions.prolonlife.com/cdn/shop/files/Science_-_1_1600x.png?v=1667905014 1600w"
                sizes="700px"
                srcset="//subscriptions.prolonlife.com/cdn/shop/files/Science_-_1_360x.png?v=1667905014 360w, //subscriptions.prolonlife.com/cdn/shop/files/Science_-_1_540x.png?v=1667905014 540w, //subscriptions.prolonlife.com/cdn/shop/files/Science_-_1_720x.png?v=1667905014 720w, //subscriptions.prolonlife.com/cdn/shop/files/Science_-_1_900x.png?v=1667905014 900w, //subscriptions.prolonlife.com/cdn/shop/files/Science_-_1_1080x.png?v=1667905014 1080w, //subscriptions.prolonlife.com/cdn/shop/files/Science_-_1_1600x.png?v=1667905014 1600w">
              <noscript>
                <img class="lazyloaded" src="//subscriptions.prolonlife.com/cdn/shop/files/Science_-_1_600x.png?v=1667905014" alt="">
              </noscript>
            </div>
          </div>
        </div>
        <style data-shopify="">
          .flex-grid__item--eb389369-ef60-4cbd-8130-53283ad85265 .btn {
            background: !important;
            border: none !important;
          }
        </style>
        <div
          class="flex-grid__item flex-grid__item--50 flex-grid__item--eb389369-ef60-4cbd-8130-53283ad85265 type-image">
          <div class="promo-grid__container">
            <div class="image-wrap" style="height: 0; padding-bottom: 57.25593667546174%;"><img
                class="lazyautosizes lazyloaded" data-widths="[360, 540, 720, 900, 1080, 1600]"
                data-aspectratio="1.7465437788018434" data-sizes="auto" role="presentation" alt=""
                data-srcset="//subscriptions.prolonlife.com/cdn/shop/files/Science_2_360x.png?v=1667905043 360w, //subscriptions.prolonlife.com/cdn/shop/files/Science_2_540x.png?v=1667905043 540w, //subscriptions.prolonlife.com/cdn/shop/files/Science_2_720x.png?v=1667905043 720w, //subscriptions.prolonlife.com/cdn/shop/files/Science_2_900x.png?v=1667905043 900w, //subscriptions.prolonlife.com/cdn/shop/files/Science_2_1080x.png?v=1667905043 1080w, //subscriptions.prolonlife.com/cdn/shop/files/Science_2_1600x.png?v=1667905043 1600w"
                sizes="700px"
                srcset="//subscriptions.prolonlife.com/cdn/shop/files/Science_2_360x.png?v=1667905043 360w, //subscriptions.prolonlife.com/cdn/shop/files/Science_2_540x.png?v=1667905043 540w, //subscriptions.prolonlife.com/cdn/shop/files/Science_2_720x.png?v=1667905043 720w, //subscriptions.prolonlife.com/cdn/shop/files/Science_2_900x.png?v=1667905043 900w, //subscriptions.prolonlife.com/cdn/shop/files/Science_2_1080x.png?v=1667905043 1080w, //subscriptions.prolonlife.com/cdn/shop/files/Science_2_1600x.png?v=1667905043 1600w">
              <noscript>
                <img class="lazyloaded" src="//subscriptions.prolonlife.com/cdn/shop/files/Science_2_600x.png?v=1667905043" alt="">
              </noscript>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



</section>





<section>
  <div class="index-section color-scheme-none">
    <div class="page-width">
      <div class="text-center section-header 5">
        <h2>Give your body and your cells the rejuvenation they need!</h2>
      </div>
      <div class="theme-grid grid--uniform grid--flush-bottom">
        <div class="text-center grid__item medium-up--one-third">
          <div class="rte-setting rte--block text-spacing">
            <div class="row"
              style="background-color: #f5f7f3; text-align: center; padding: 50px; border-radius: 15px; min-height: 420px;">
              <center>
                <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Clean_Up.svg?v=1664301738"
                  style="width: 70px; margin-bottom: 8px; background-color: white; border-radius: 50px;">
                <h3>Cellular Rejuvenation
                  (Autophagy)</h3>
                <p style="padding-top: 20px;">A fasting induced miracle of biology called autophagy (which won the Nobel
                  Prize in Medicine in 20), cellular rejuvenation is key to your vibrance, emotions, performance, mental
                  clarity,healthy aging and longevity.</p>
              </center>
            </div>
          </div>
        </div>
        <div class="text-center grid__item medium-up--one-third">
          <div class="rte-setting rte--block text-spacing">
            <div class="row"
              style="background-color: #f5f7f3; text-align: center; padding: 50px; border-radius: 15px; min-height: 420px;">
              <center>
                <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Precise_Nutrition.svg?v=1664301738"
                  style="width: 70px; margin-bottom: 8px; background-color: white; border-radius: 50px;">
                <h3>Changed Relationship<br>with Food</h3>
                <p style="padding-top: 20px;">In this 5-day journey, ProLon helps you to understand, appreciate, and
                  change your relationship with food. You can successfully function without all the mindless eating and
                  extra calories.</p>
              </center>
            </div>
          </div>
        </div>
        <div class="text-center grid__item medium-up--one-third">
          <div class="rte-setting rte--block text-spacing">
            <div class="row"
              style="background-color: #f5f7f3; text-align: center; padding: 50px; border-radius: 15px; min-height: 420px;">
              <center>
                <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Energy.svg?v=1664301738"
                  style="width: 70px; margin-bottom: 8px; background-color: white; border-radius: 50px;">
                <h3>Improved Sense<br>of Well-being</h3>
                <p style="padding-top: 20px;">Your emotional well being is a huge benefit as most people after ProLon
                  feel
                  successful vs the other long term diets that set you up to quit. Feel empowered, rejuvenated, vibrant,
                  and with more mental clarity.</p>
              </center>
            </div>
          </div>
        </div>
        <div class="text-center grid__item medium-up--one-third">
          <div class="rte-setting rte--block text-spacing">
            <div class="row"
              style="background-color: #f5f7f3; text-align: center; padding: 50px; border-radius: 15px; min-height: 420px;">
              <center>
                <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Clarity.svg?v=1664301738"
                  style="width: 70px; margin-bottom: 8px; background-color: white; border-radius: 50px;">
                <h3>Healthier, Younger<br>Looking Skin</h3>
                <p style="padding-top: 20px;">Clinically shown after 3 cycles of ProLon (15 days total), to reduce fine
                  lines and wrinkles. Your skin is rejuvenating from the insdie out, which users come to love!</p>
              </center>
            </div>
          </div>
        </div>
        <div class="text-center grid__item medium-up--one-third">
          <div class="rte-setting rte--block text-spacing">
            <div class="row"
              style="background-color: #f5f7f3; text-align: center; padding: 50px; border-radius: 15px; min-height: 420px;">
              <center>
                <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Convenient.svg?v=1664301738"
                  style="width: 70px; margin-bottom: 8px; background-color: white; border-radius: 50px;">
                <h3>Convenient, Fits Into
                  Every Lifestyle</h3>
                <p style="padding-top: 20px;">The beauty of ProLon Fasting Nutrition is it is in 5-day cycles. We
                  recommend doing at least 3 cycles a year (only 15 days). You can include ProLon into your already
                  healthy routine with minimal disruption.</p>
              </center>
            </div>
          </div>
        </div>
        <div class="text-center grid__item medium-up--one-third">
          <div class="rte-setting rte--block text-spacing">
            <div class="row"
              style="background-color: #f5f7f3; text-align: center; padding: 50px; border-radius: 15px; min-height: 420px;">
              <center>
                <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Weight_Loss.svg?v=1664301738"
                  style="width: 70px; margin-bottom: 8px; background-color: white; border-radius: 50px;">
                <h3>Fat Focused <br>Weight Loss</h3>
                <p style="padding-top: 20px;">Kickstart weight loss (on average 5 pounds), especially belly fat, while
                  protecting lean body mass, (which althletes and performance minded will love). The key is your body
                  thinks your fasting, while you're staying nourished.</p>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section>
<div class="rte">

  <div class="bg-[#fdf3e4]">
    <div class="max-w-4xl text-[18px] lg:text-[20px] mx-auto prose">
      <h2 class="pt-10 mx-auto text-4xl text-center ">
        L-Nutra Reports First-Ever Study Showing ProLon® Improves Skin Health, Happiness, and Confidence

      </h2>
      <p class="max-w-4xl py-5 mx-auto text-left"><b>SANTA MONICA, Calif., February 27, 2023 (Newswire.com) - L-Nutra
          Inc.</b>, a leading nutrition technology company that pioneers the discovery, design, and commercialization of
        novel nutrition programs that impact cellular rejuvenation and support healthy aging, announced the results of a
        first-ever study evaluating the impact of its Fasting Mimicking Diet (ProLon®) on skin hydration, texture, and
        psychological well-being in women.
        <br>
      </p>
      <p class="max-w-4xl py-5 mx-auto text-left">The study, which was published in the <a
          href="https://stats.newswire.com/x/html?final=aHR0cHM6Ly93d3cubWRwaS5jb20vMjA3Ny0wMzgzLzEyLzUvMTcxMA&amp;hit%2Csum=WyIzdG5qN2EiLCIzdG5qN2IiLCIzdG5qNzkiXQ"
          target="_blank" class="underline js-no-transition">Journal of Clinical Medicine</a>, is the first randomized
        controlled trial demonstrating the efficacy of a five-day Fasting Mimicking Diet (FMD) Nutrition protocol on
        enhancing skin quality, smoothness, hydration, and key components of psychological well-being. Skin health and
        mental wellbeing are common concerns among women, and this research provides compelling evidence for the
        effectiveness of FMD Nutrition in improving overall health.&nbsp;</p>
      <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/ProLon_Skin_27.jpg?v=1685992254"
        class="justify-center max-w-4xl py-10 mx-auto">

      <p class="max-w-4xl py-5 mx-auto text-left">"This study demonstrates the holistic and systemic impact of the
        Fasting Mimicking Technology affecting cellular rejuvenation from as deep as the inner organ systems to the
        surface tissue like skin. Together with other published FMD studies in diabetes and cancer, this research
        further validates that FMD Nutrition is a powerful tool in Lifestyle medicine to improve overall health," said
        William Hsu, MD, Chief Medical Officer of L-Nutra Inc.&nbsp;</p>
      <p class="max-w-4xl py-5 mx-auto text-left">The researchers recruited 45 female participants, ranging from 35 to
        60 years old. The group that used the FMD Nutrition five days per month for three consecutive months had
        significant improvements in skin hydration as measured by Corneometer, as well as maintenance of skin texture,
        smoothness and tone evenness, compared to individuals in the standard of care group. Participants also reported
        significant improvements in feelings of happiness, confidence and empowerment to take control of their health,
        as well as optimism about the future.&nbsp;</p>
      <p class="max-w-4xl py-5 mx-auto text-left">&nbsp;"This successful clinical trial is another testimony for the
        rejuvenative power of the Fasting Mimicking Diet. Our goal is to help everyone live a long and healthy life by
        keeping our biological age younger than our chronological age. Through this trial, we have demonstrated what
        many of our ProLon® consumers have reported for years, a healthier looking, glowing skin, which helps people
        around the world feel happy and confident about their lives," said Joseph Antoun, M.D., Ph.D., CEO and Chairman
        of L-Nutra Inc.&nbsp;&nbsp;</p>







    </div>
  </div>
  <hr class="border border-1 border-[#73994b] border-solid dotted max-w-2xl mt-8 mx-auto my-6">

</div>


</section>

