<section>
  <div class="relative ">
    <div class="absolute inset-0 w-full sm:overflow-hidden">
      <div class="object-cover w-full h-full">
        <img class="object-cover object-right w-full h-full md:object-center" width="100%" height="100%"
          src="https://subscriptions.prolonlife.com/cdn/shop/files/MicrosoftTeams-image_3_3024x_1.jpg?v=1668604131">
      </div>
    </div>
    <div
      class="flex mx-auto max-w-screen-2xl sm:px-6 lg:px-8 font-harmonia md:items-end md:justify-start h-96 md:h-140">
      <div
        class="relative flex flex-col items-center justify-center max-w-xl px-4 py-8 my-12 bg-transparent rounded-3xl sm:px-6">
        <h1 class="justify-start w-full py-3 text-3xl font-light leading-snug tracking-tight text-left md:text-40">
          <span class="block font-bold font-harmonia" style="color:#000000">
            <p class="text-2xl font-medium md:text-3xl" style="line-height: 1.3;">ProLon® provides benefits of Weight
              Loss, Healthy Aging, Metabolic Health, and More.</p>

            <div class="flex items-start justify-start w-full max-w-sm mt-5 sm:flex sm:max-w-none">
              <div>
                <a href="/products/prolon-offer-v2" data-acsb-clickable="true" data-acsb-navigable="true"
                  data-acsb-now-navigable="true">
                  <div
                    class="inline-flex justify-center p-3 text-base font-bold text-center text-white rounded font-avenir active:shadow-sm border-prolon_secondary bg-prolon_secondary w-60 md:w-72">
                    Order Now + Free Shipping
                  </div>
                  <span class="acsb-sr-only" data-acsb-sr-only="true" data-acsb-force-visible="true"
                    aria-label="Order Now + Free Shipping" aria-hidden="false" data-acsb-hidden="false"></span>
                </a>
              </div>

            </div>
          </span>
        </h1>
        <div class="justify-start text-xl text-left text-black font-harmonia">

        </div>
      </div>
    </div>
  </div>
</section>
<section>

  <div class="w-full py-12" style="background-color: #ffffff">
    <div class="px-4 mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
      <div class="text-center">
        <p class="mt-2 text-3xl font-bold leading-8 tracking-tight text-black sm:text-4xl font-harmonia"></p>
        <p class="text-2xl font-medium md:text-3xl">ProLon Benefits</p>
        <p></p>
      </div>

      <div class="mt-10">
        <div class="flex flex-col flex-wrap items-start justify-center md:flex-row">


          <div class="relative flex flex-col items-center justify-center w-full p-6 bg-transparent md:p-10 md:w-1/3">
            <div class="flex items-center justify-center w-20 h-20 text-white bg-transparent rounded-md"
              style="width: 80px; height: 80px;">
              <!-- card.settings.image_overide_url  -->

              <img class="object-contain object-center w-full h-full" width="100%" height="100%"
                src="//subscriptions.prolonlife.com/cdn/shop/files/Pro_Lon_Healthy_Leaves_180x_9b48c3d7_b84f_42d1_8626_fc0e61852037_256x256_1_180x_8fa4f9d842_300x.gif?v=1665498288">

            </div>
            <p class="w-full mt-2 text-2xl font-bold leading-9 text-center text-black font-avant font-harmonia">
            </p>
            <p class="text-2xl font-medium md:text-3xl">Rejuvenate</p>
            <p></p>
            <p class="mt-4 text-base text-center text-black font-harmonia">
              ProLon supports the body’s natural process of cellular clean-up, triggered when it’s in a prolonged
              fasting
              state.
            </p>
          </div>

          <div class="relative flex flex-col items-center justify-center w-full p-6 bg-transparent md:p-10 md:w-1/3">
            <div class="flex items-center justify-center w-20 h-20 text-white bg-transparent rounded-md"
              style="width: 80px; height: 80px;">
              <!-- card.settings.image_overide_url  -->

              <img class="object-contain object-center w-full h-full" width="100%" height="100%"
                src="//subscriptions.prolonlife.com/cdn/shop/files/Heart_Pro_Lon_180x_180x_e529a37b_49c9_4500_9b18_f12d2c432b09_180x_a6206e810d_300x.gif?v=1665498288">

            </div>
            <p class="w-full mt-2 text-2xl font-bold leading-9 text-center text-black font-avant font-harmonia">
            </p>
            <p class="text-2xl font-medium md:text-3xl">Weight Loss</p>
            <p></p>
            <p class="mt-4 text-base text-center text-black font-harmonia">
              ProLon has been tested to help people lose an average of 5.7 lbs. of fat and 1.6 inches of waist
              circumference, while preserving lean body mass.*
              <br>
              <em>*Benefits seen in a clinical study of the 5-day ProLon cycle once a month for three consecutive
                months.&nbsp;</em>
            </p>
          </div>

          <div class="relative flex flex-col items-center justify-center w-full p-6 bg-transparent md:p-10 md:w-1/3">
            <div class="flex items-center justify-center w-20 h-20 text-white bg-transparent rounded-md"
              style="width: 80px; height: 80px;">
              <!-- card.settings.image_overide_url  -->

              <img class="object-contain object-center w-full h-full" width="100%" height="100%"
                src="//subscriptions.prolonlife.com/cdn/shop/files/Pro_Lon_Plantbased_256x256_b21f4370_6d0f_49d8_a997_490640d58961_180x_a968f98519_300x.gif?v=1665498288">

            </div>
            <p class="w-full mt-2 text-2xl font-bold leading-9 text-center text-black font-avant font-harmonia">
            </p>
            <p class="text-2xl font-medium md:text-3xl">Plant-Based</p>
            <p></p>
            <p class="mt-4 text-base text-center text-black font-harmonia">
              ProLon is gluten-free and uses primarily plant-based ingredients like olives, vegetables, fruit, nuts, and
              more.
            </p>
          </div>

          <div class="relative flex flex-col items-center justify-center w-full p-6 bg-transparent md:p-10 md:w-1/3">
            <div class="flex items-center justify-center w-20 h-20 text-white bg-transparent rounded-md"
              style="width: 80px; height: 80px;">
              <!-- card.settings.image_overide_url  -->

              <img class="object-contain object-center w-full h-full" width="100%" height="100%"
                src="//subscriptions.prolonlife.com/cdn/shop/files/107_box_package_open_outline_180x_1_180x_a858ecf09c_300x.gif?v=1665498288">

            </div>
            <p class="w-full mt-2 text-2xl font-bold leading-9 text-center text-black font-avant font-harmonia">
            </p>
            <p class="text-2xl font-medium md:text-3xl">Convenient</p>
            <p></p>
            <p class="mt-4 text-base text-center text-black font-harmonia">
              ProLon meals come in 5 easy, ready-to-eat boxes with a variety of delicious options.
            </p>
          </div>

          <div class="relative flex flex-col items-center justify-center w-full p-6 bg-transparent md:p-10 md:w-1/3">
            <div class="flex items-center justify-center w-20 h-20 text-white bg-transparent rounded-md"
              style="width: 80px; height: 80px;">
              <!-- card.settings.image_overide_url  -->

              <img class="object-contain object-center w-full h-full" width="100%" height="100%"
                src="//subscriptions.prolonlife.com/cdn/shop/files/Pro_Lon_Thubs_Up_180x_180x_0d00dc8f_889d_49ba_9c12_68d4ba82c0f8_180x_25549c0e1a_300x.gif?v=1665498288">

            </div>
            <p class="w-full mt-2 text-2xl font-bold leading-9 text-center text-black font-avant font-harmonia">
            </p>
            <p class="text-2xl font-medium md:text-3xl">Great Taste</p>
            <p></p>
            <p class="mt-4 text-base text-center text-black font-harmonia">
              ProLon was created in collaboration with top food scientists and chefs to provide delicious Fasting
              Mimicking meals.
            </p>
          </div>

          <div class="relative flex flex-col items-center justify-center w-full p-6 bg-transparent md:p-10 md:w-1/3">
            <div class="flex items-center justify-center w-20 h-20 text-white bg-transparent rounded-md"
              style="width: 80px; height: 80px;">
              <!-- card.settings.image_overide_url  -->

              <img class="object-contain object-center w-full h-full" width="100%" height="100%"
                src="//subscriptions.prolonlife.com/cdn/shop/files/Pro_Lon_Plate_180x_1_180x_2010c8cbef_300x.gif?v=1665498288">

            </div>
            <p class="w-full mt-2 text-2xl font-bold leading-9 text-center text-black font-avant font-harmonia">
            </p>
            <p class="text-2xl font-medium md:text-3xl">Precision Nutrition</p>
            <p></p>
            <p class="mt-4 text-base text-center text-black font-harmonia">
              ProLon uses a rigorous, scientifically tested method to provide nutrition that doesn’t break your fast.
            </p>
          </div>

        </div>
        <div class="justify-center max-w-sm mx-auto mt-4 sm:flex sm:max-w-none md:justify-center">

        </div>
      </div>
    </div>
  </div>

</section>

<section>

  <div class="p-5 my-0 text-lg text-left text-black normal-case md:p-10 md:my-0" style="background-color: #ffffff">
    <div style="max-width: 1280px; margin: auto; padding: 30px 0px;">
      <h3 style="font-size: 34px; text-align: center; font-weight:500;">
        Join the health trend of fasting with food™.
      </h3>
      <br>
      <p style="font-size: 20px; text-align: center;">The ProLon Fasting Mimicking Diet is the first and only meal
        program
        that has gone through clinical trials at
        the University of Southern California and been patented for its healthy-aging effects!&nbsp; This 5-day meal
        program provides scientifically researched micro- and macro-nutrients in precise quantities and combinations
        that nourish you, but are not recognized as food by your body and therefore mimics a fasting state!&nbsp;
      </p>
    </div>
  </div>


</section>

<section>


  <div class="py-6 lg:overflow-hidden font-harmonia md:py-12" style="background-color: #ffffff">

    <div class="mx-auto max-w-screen-2xl lg:px-8">
      <div class="flex flex-col items-center justify-center md:flex-row md:flex-row-reverse" '="">
          <div class="w-full max-w-2xl px-4 mx-auto sm:px-6 lg:flex lg:items-center lg:px-0 md:w-1/2">
              <div class=""><p class="px-5 text-sm font-light tracking-tight text-center md:px-10 md:text-left font-harmonia"> </p><h2 class="px-5 my-4 text-3xl font-bold tracking-tight text-center md:px-10 md:text-left md:text-4xl sm:my-5 lg:my-6">
                    <span class="block text-center text-black md:text-left font-avant"><p class="text-2xl font-medium md:text-3xl">How Does ProLon  <span class="text-lime">Work?</span></p></span>
                </h2><div class="px-5 text-lg text-left text-black md:px-10 font-avenir">  
                  ProLon is unlike any other diet program. The tasty, specially designed food gives you essential nutrition but doesn’t activate your body’s food sensing system. In other words, you get to eat, but your body “thinks” it’s on a 5-day fast. Essentially, it’s a “fast with food.” If that sounds easier than fasting by starvation, that’s because it is. What makes ProLon so special is, simply put, the science. It’s based on over 20 years of scientific research sponsored by the National Institutes of Health and the USC Longevity Institute.              
                </div><div class="items-start justify-start w-full max-w-sm px-5 mx-auto mt-5 md:px-10 sm:flex sm:max-w-none"></div>
              </div>
          </div>
          <div class="relative w-full py-6 mx-auto md:py-0 md:w-1/2" style="max-width:500px">

               
              <img class="object-cover object-right w-full h-full" width="100%" height="100%" src="//subscriptions.prolonlife.com/cdn/shop/files/ProLon_-_Open_Box_-_What_s_inside_30d94650-cc9d-4f13-9ad5-d9ebe997c5ae_1600x_1.png?v=1668604993">
              
 
          </div>
      </div>
  </div>
</div>




</section>



<section>

  <div class="p-5 my-0 text-lg text-left text-black normal-case md:p-10 md:my-0" style="background-color: #fefbf6">
    <style>
      .day1 {
        padding: 50px;
        background-color: #fbfdff;
        margin: 0 5px;
        border: 3px solid #9bca38;
        height: 380px;
        transition: transform .3s;

      }

      .day1:hover {
        background-color: #fff0;
        transform: scale(1.1);
        border: none;
      }

      .day2 {
        padding: 50px;
        background-color: #fbfdff;
        margin: 0 5px;
        border: 3px solid #fd6e0d;
        height: 380px;
        transition: transform .2s;
      }

      .day2:hover {
        background-color: #fff0;
        transform: scale(1.1);
        border: none;
      }

      .day3 {
        padding: 50px;
        background-color: #fbfdff;
        margin: 0 5px;
        border: 3px solid #ffb132;
        height: 380px;
        transition: transform .2s;
      }

      .day3:hover {
        background-color: #fff0;
        transform: scale(1.1);
        border: none;
      }

      .day4 {
        padding: 50px;
        background-color: #fbfdff;
        margin: 0 5px;
        border: 3px solid #4a8bca;
        height: 380px;
        transition: transform .2s;
      }

      .day4:hover {
        background-color: #fff0;
        transform: scale(1.1);
        border: none;
      }

      .day5 {
        padding: 50px;
        background-color: #fbfdff;
        margin: 0 5px;
        border: 3px solid #c534a3;
        height: 380px;
        transition: transform .2s;
      }

      .day5:hover {
        background-color: #fff0;
        transform: scale(1.1);
        border: none;
      }

      .zoom1 {
        padding: 50px;
        background-color: #fbfdff;
        margin: 0 5px;
        border: 3px solid #759A4B;
        height: 380px;
        padding: 50px;
        background-color: green;
        transition: transform .2s;
        width: 200px;
        height: 200px;
        margin: 0 auto;
      }

      .zoom:hover {
        transform: scale(1.5);
      }

      @media only screen and (min-width: 769px) and (max-width: 1099px) {

        .day1,
        .day2,
        .day3,
        .day4,
        .day5 {
          padding: 30px;
        }
      }
    </style>

    <div class="text-center page-width">

      <div class="section-header">
        <h2>
          <div class="text-2xl section md:text-3xl" style="max-width: 900px; margin: auto;">Unlock the deepest level of
            fasting<br>
            <p style="font-size: .5em; font-weight: 500; line-height: 1.6em;">
              ProLon Fasting Mimicking Diet triggers “autophagy,” your body’s natural way of cleaning house. Your cells
              clean and recycle old and damaged parts, resulting in a profound benefit — <b>cellular rejuvenation.</b>
            </p>
          </div>
        </h2>
      </div>

      <div class="flex items-start justify-start w-full overflow-x-auto testimonials-slider-custom">

        <div class="flex-shrink-0 w-full max-w-xl testimonials-slide--custom" data-aos="row-of-5">
          <blockquote class="testimonials-slider__text">
            <span class="quote-icon" style="display:none;"><svg aria-hidden="true" focusable="false" role="presentation"
                class="icon icon-quote" viewBox="0 0 41 35">
                <path
                  d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"
                  fill="#000" fill-rule="evenodd"></path>
              </svg></span>

            <div class="rte-setting text-spacing">
              <div class="day1 ">
                <center>
                  <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/ProLon_Day_1.png?v=1600302123"
                    width="80" height="80" alt="Day 1" class=" lazyloaded">
                  <h3>Transforming to<br> a Fasting State</h3>
                  <p>The body transitions to a fasting state &amp; fat-burning mode, and begins preparation for cellular
                    clean-up.</p>
                </center>
              </div>
            </div>



          </blockquote>
        </div>

        <div class="flex-shrink-0 w-full max-w-xl testimonials-slide--custom" data-aos="row-of-5">
          <blockquote class="testimonials-slider__text">
            <span class="quote-icon" style="display:none;"><svg aria-hidden="true" focusable="false" role="presentation"
                class="icon icon-quote" viewBox="0 0 41 35">
                <path
                  d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"
                  fill="#000" fill-rule="evenodd"></path>
              </svg></span>

            <div class="rte-setting text-spacing">
              <div class="day2">
                <center>
                  <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/ProLon_Day_2.png?v=1600302123"
                    width="80" height="80" alt="Day2" class=" lazyloaded">
                  <h3>Fat Burning &amp; Ketogenesis</h3>
                  <p>Fat-burning ramps up, contributing to the initiation of ketogenesis (ketone production). By the end
                    of this day (48hrs), ketosis may occur.</p>
                </center>
              </div>
            </div>



          </blockquote>
        </div>

        <div class="flex-shrink-0 w-full max-w-xl testimonials-slide--custom" data-aos="row-of-5">
          <blockquote class="testimonials-slider__text">
            <span class="quote-icon" style="display:none;"><svg aria-hidden="true" focusable="false" role="presentation"
                class="icon icon-quote" viewBox="0 0 41 35">
                <path
                  d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"
                  fill="#000" fill-rule="evenodd"></path>
              </svg></span>

            <div class="rte-setting text-spacing">
              <div class="day3">
                <center>
                  <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/ProLon_Day_3.png?v=1600302123"
                    width="80" height="80" alt="Day3" class=" lazyloaded">
                  <h3>Autophagy<br>Clean Up State</h3>
                  <p>Cellular clean-up (autophagy) begins. Fat-burning and ketone production/ utilization continues and
                    increases.<br></p>
                </center>
              </div>
            </div>



          </blockquote>
        </div>

        <div class="flex-shrink-0 w-full max-w-xl testimonials-slide--custom" data-aos="row-of-5">
          <blockquote class="testimonials-slider__text">
            <span class="quote-icon" style="display:none;"><svg aria-hidden="true" focusable="false" role="presentation"
                class="icon icon-quote" viewBox="0 0 41 35">
                <path
                  d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"
                  fill="#000" fill-rule="evenodd"></path>
              </svg></span>

            <div class="rte-setting text-spacing">
              <div class="day4">
                <center>
                  <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/ProLon_Day_4.png?v=1600302123"
                    width="80" height="80" alt="Day 4" class=" lazyloaded">
                  <h3>Cellular<br> Rejuvenation</h3>
                  <p>Cellular cleaning/renewal &amp; fat-burning continues. You're in the final stretch!</p>
                </center>
              </div>
            </div>



          </blockquote>
        </div>

        <div class="flex-shrink-0 w-full max-w-xl testimonials-slide--custom" data-aos="row-of-5">
          <blockquote class="testimonials-slider__text">
            <span class="quote-icon" style="display:none;"><svg aria-hidden="true" focusable="false" role="presentation"
                class="icon icon-quote" viewBox="0 0 41 35">
                <path
                  d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"
                  fill="#000" fill-rule="evenodd"></path>
              </svg></span>

            <div class="rte-setting text-spacing">
              <div class="day5">
                <center>
                  <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/ProLon_Day_5.png?v=1600302123"
                    width="80" height="80" alt="Day 5 and Beyond" class="lazyload;">
                  <h3>Renewal &amp; Change</h3>
                  <p>Fast completed, cellular renewal continues beyond Day 5.</p>
                </center>
              </div>
            </div>



          </blockquote>
        </div>

      </div>

    </div>
  </div>

</section>

<section>

<div class="p-5 my-0 text-lg text-left text-black normal-case md:p-10 md:my-0" style="background-color: #ffffff">
  <p style="text-align:center; font-weight:700; font-size: 34px;">What the Experts have to Say</p>
</div>


</section>

<section>

<div class="py-6 lg:overflow-hidden font-harmonia md:py-12" style="background-color: #ffffff">

  <div class="mx-auto max-w-screen-2xl lg:px-8">
    <div class="flex flex-col items-center justify-center md:flex-row md:flex-row-reverse" '="">
          <div class="w-full max-w-2xl px-4 mx-auto sm:px-6 lg:flex lg:items-center lg:px-0 md:w-1/2">
              <div class=""><p class="px-5 text-sm font-light tracking-tight text-center md:px-10 md:text-left font-harmonia">TRIPLE BOARDED IN INTERNAL, INTEGRATIVE AND OBESITY MEDICINE </p><h2 class="px-5 my-4 text-3xl font-bold tracking-tight text-center md:px-10 md:text-left md:text-4xl sm:my-5 lg:my-6">
                    <span class="block text-center text-black md:text-left font-avant"><p class="text-2xl font-medium md:text-3xl">Dr. Amy Savagian, MD</p></span>
                </h2><div class="px-5 text-lg text-left text-black md:px-10 font-avenir">  
                  “I love the science supporting ProLon, and I love that the science has been published in multiple peer reviewed journals. It allows me to suggest ProLon with confidence. I have used fasting and time restricted eating in my practice for years; ProLon augments this and takes it to the next level.”              
                </div><div class="items-start justify-start w-full max-w-sm px-5 mx-auto mt-5 md:px-10 sm:flex sm:max-w-none"></div>
              </div>
          </div>
          <div class="relative w-full py-6 mx-auto md:py-0 md:w-1/2" style="max-width:500px">

               
              <img class="object-cover object-right w-full h-full" width="100%" height="100%" src="//subscriptions.prolonlife.com/cdn/shop/files/Dr._Amy_Savagian_720x_1.png?v=1665683756">
              
 
          </div>
      </div>
  </div>
</div>


</section>

<section>
<div class="py-6 lg:overflow-hidden font-harmonia md:py-12" style="background-color: #ffffff">

  <div class="mx-auto max-w-screen-2xl lg:px-8">
    <div class="flex flex-col items-center justify-center md:flex-row" '="">
          <div class="w-full max-w-2xl px-4 mx-auto sm:px-6 lg:flex lg:items-center lg:px-0 md:w-1/2">
              <div class=""><p class="px-5 text-sm font-light tracking-tight text-center md:px-10 md:text-left font-harmonia">CHIEF MEDICAL OFFICER, L-NUTRA, INC  FORMER PROFESSOR OF MEDICINE, HARVARD </p><h2 class="px-5 my-4 text-3xl font-bold tracking-tight text-center md:px-10 md:text-left md:text-4xl sm:my-5 lg:my-6">
                    <span class="block text-center text-black md:text-left font-avant"><p class="text-2xl font-medium md:text-3xl">Dr. William Hsu, M.D</p></span>
                </h2><div class="px-5 text-lg text-left text-black md:px-10 font-avenir">  
                  “ProLon carries so many weight, metabolic and cellular benefits that not only do I recommend it, but I decided to join the company’s mission full time as Chief Medical Officer”              
                </div><div class="items-start justify-start w-full max-w-sm px-5 mx-auto mt-5 md:px-10 sm:flex sm:max-w-none"></div>
              </div>
          </div>
          <div class="relative w-full py-6 mx-auto md:py-0 md:w-1/2" style="max-width:500px">

               
              <img class="object-cover object-right w-full h-full" width="100%" height="100%" src="//subscriptions.prolonlife.com/cdn/shop/files/Dr._William_HSU_720x_1.png?v=1665683827">
              
 
          </div>
      </div>
  </div>
</div>
</section>
<section>
<div class="py-6 lg:overflow-hidden font-harmonia md:py-12" style="background-color: #ffffff">

  <div class="mx-auto max-w-screen-2xl lg:px-8">
    <div class="flex flex-col items-center justify-center md:flex-row md:flex-row-reverse" '="">
          <div class="w-full max-w-2xl px-4 mx-auto sm:px-6 lg:flex lg:items-center lg:px-0 md:w-1/2">
              <div class=""><p class="px-5 text-sm font-light tracking-tight text-center md:px-10 md:text-left font-harmonia">ENDOCRINOLOGY, DIABETES &amp; METABOLISM L-NUTRA AMBASSADOR </p><h2 class="px-5 my-4 text-3xl font-bold tracking-tight text-center md:px-10 md:text-left md:text-4xl sm:my-5 lg:my-6">
                    <span class="block text-center text-black md:text-left font-avant"><p class="text-2xl font-medium md:text-3xl">Dr. Maria Tulpan, M.D.</p></span>
                </h2><div class="px-5 text-lg text-left text-black md:px-10 font-avenir">  
                  “Not only do I recommend ProLon as a frequent nutritional intervention, I’ve done it myself numerous times. I love this product so much, I invested in the company.”              
                </div><div class="items-start justify-start w-full max-w-sm px-5 mx-auto mt-5 md:px-10 sm:flex sm:max-w-none"></div>
              </div>
          </div>
          <div class="relative w-full py-6 mx-auto md:py-0 md:w-1/2" style="max-width:500px">

               
              <img class="object-cover object-right w-full h-full" width="100%" height="100%" src="//subscriptions.prolonlife.com/cdn/shop/files/Dr._Maria_Tulpan_720x_1.png?v=1665683857">
              
 
          </div>
      </div>
  </div>
</div>


</section>