{% assign data = section.settings %}
<!-- TWGoldenText -Haider -->
<div class="flex justify-center items-center w-full bg-[{{data.bgcolor}}]">
  <div class="flex flex-col items-center justify-center w-full py-8 text-center text-white">
    <h1 class="px-5 text-3xl font-bold">{{ data.title }}</h1>
    <p class="max-w-4xl px-5 pt-4 text-lg">{{ data.details }}</p>
    {% if data.imagepro %}
      <div class="flex mt-5 mb-5 md:my-10">
        <img src="{{data.imagepro | img_url: '3000x'}}">
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Text with Image Below TW",
  "settings": [
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "details",
      "label": "Details"
    },
    {
      "type": "image_picker",
      "id": "imagepro",
      "label": "Image"
    }
  ]
}
{% endschema %}
