<section class="bg-[#f5f7f2]">
  <div class="flex flex-wrap-reverse contanir md:flex-nowrap">
    <div class="text w-full md:w-[40%] p-[30px] md:p-[5vw] md:my-auto">
      <h2 class=" !text-[28px] md:text-left text-center md:!text-[45px] !font-semibold  mb-[10px]  md:mb-[20px]">
        Essential to a vibrant <i>cellular life</i></h2>
      <p class=" text-[14px] md:text-[1.3em] md:text-left text-center ">Scientifically developed and tested to achieve
        the benefits of prolonged fasting, with food
        - welcome to ProLon.</p>
    </div>
    <div class="img md:w-[60%]  w-full ">
      <img src="https://subscriptions.prolonlife.com/cdn/shop/files/Hero_-_whatisprolon_1296x.png?v=1668357275" alt=""
        class="object-cover md:h-full">
    </div>
  </div>
</section>
<section class="bg-[#f5f7f2]">
  <div class="contanir flex md:flex-nowrap justify-between flex-wrap py-[40px] md:py-[60px] mx-auto  max-w-[1420px]">
    <div class="img md:w-[700px]  w-full p-3 md:p-0">
      <img src="https://subscriptions.prolonlife.com/cdn/shop/files/ProLon_-_Tranistion_box_1080x.png?v=1668356506" alt="" class="">
    </div>


    <div class="text w-full md:w-[43%] px-6 p-3 md:pl-[60px] md:pr-[100px] my-auto  mx-auto">
      <h2 class=" !text-[28px] md:text-left  md:!text-[35px] !font-semibold  mb-[10px] md:mb-[20px]">What is ProLon?
      </h2>


      <p class=" text-[14px] md:text-[16px] md:text-left  ">ProLon® is a 5-day Nutri-Technology program carefully
        researched and developed to transition your body into and keep
        it in a fasting state, while nourishing it with specific nutrients so to not activate your food sensing
        pathways. This
        scientific breakthrough allows you to reap the benefits of a prolonged fast (&gt;3 days) while still eating.
        <br><br>ProLon's 5-day program is natural, clean, plant-based, gluten-free, and low glycemic index. Support
        healthy
        aging, cellular rejuvenation, metabolic balance, weight loss while maintaining lean muscle, improved
        relationship with
        food and more. <br><br> Prolon’s revolutionary formula has been awarded more than 40 patents around the world,
        tested
        in 16 human trials at L-Nutra, University of Southern California, Stanford University, Mayo Clinic, University
        of
        Genoa Berlin University, Heidelberg University, Leiden University, and many others.
      </p>

    </div>

  </div>

</section>
<section class="bg-[#f5f7f2]">
  <div class="cards-contanir max-w-[1420px] mx-auto py-[40px]  md:py-[60px]">
    <div class="!grid !grid-cols-1  md:!grid-cols-3 flex-wrap ">
      <div class="m-3">
        <div class="first-cards   bg-white p-[50px] rounded-xl min-h-[420px]">
          <div class="img ">
            <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Convenient.svg?v=1664301738"
              class="w-[70px] h-[70px] mx-auto" alt="" loading="lazy">

          </div>
          <h2 class=" !text-[28px] text-center pt-1  md:!text-[35px] !font-semibold  ">Real Food <br> Premium
            Ingredients</h2>
          <p class="pt-[15px] text-center text-[16px]">ProLon® meals come in 5 small boxes (one for each day) that
            include plant-based energy
            bars, functional soups, snacks such as olives and kale crackers, herbal teas, and supplements.</p>
        </div>
      </div>
      <div class="m-3">
        <div class="first-cards   bg-white p-[50px] min-h-[420px] rounded-xl ">
          <div class="img ">
            <img src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/Clean_Up.svg?v=1664301738%22"
              class="w-[70px] h-[70px] mx-auto" alt="" loading="lazy">

          </div>
          <h2 class=" !text-[28px] text-center pt-1  md:!text-[35px] !font-semibold  ">Nutrient Sensing Pathways</h2>
          <p class="pt-[15px] text-center text-[16px]">Scientifically identify cellular radars that detect nutrition,
            called Nutrient Sensing Pathways, and to develop a 5 day
            Nutrition Program that nourishes the body while the pathways are not triggered and therefore providing the
            prolonged
            fasting benefits.</p>
        </div>
      </div>
      <div class="m-3">
        <div class="first-cards   bg-white p-[50px] rounded-xl min-h-[420px]">

          <div class="text">
            <p class="flex">
              <span class="mr-2"><img
                  src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/done-mini_2.png?v=1667761816"
                  class="w-[30px]" alt=""></span>
              <span class="font-semibold"> Mostly Plant Based</span>

            </p>
            <br>
            <hr class="text-gray-200">
            <br>
            <p class="flex">
              <span class="mr-2"><img
                  src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/done-mini_2.png?v=1667761816"
                  class="w-[30px]" alt=""></span>
              <span class="font-semibold"> Gluten Free</span>
            </p>
            <br>
            <hr class="text-gray-200">
            <br>
            <p class="flex">
              <span class="mr-2"><img
                  src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/done-mini_2.png?v=1667761816"
                  class="w-[30px]" alt=""></span>
              <span class="font-semibold"> Low Glycemic Index</span>
            </p>
            <br>
            <hr class="text-gray-200">
            <br>
            <p class="flex">
              <span class="mr-2"><img
                  src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/done-mini_2.png?v=1667761816"
                  class="w-[30px]" alt=""></span>
              <span class="font-semibold"> Non-GMO</span>
            </p>
            <br>
            <hr class="text-gray-200">
            <br>
            <p class="flex">
              <span class="mr-2"><img
                  src="https://cdn.shopify.com/s/files/1/0126/2921/3243/files/done-mini_2.png?v=1667761816"
                  class="w-[30px]" alt=""></span>
              <span class="font-semibold"> Premium Sourced Ingredients</span>
            </p>
            

          </div>

        </div>
      </div>



    </div>





  </div>



</section>
<section class="bg-[#f5f7f2]">

  <div class="contanir flex md:flex-nowrap justify-between flex-wrap-reverse py-[40px]  md:py-[60px] mx-auto  max-w-[1420px]">
   
  
    <div class="text w-full md:w-[43%] px-6 p-3 md:pl-[60px] md:pr-[100px] my-auto  mx-auto">
      <h2 class=" !text-[28px] md:text-left  md:!text-[35px] !font-semibold  mb-[10px] md:mb-[20px]">Rooted in Science
      </h2>
  
  
      <p class=" text-[14px] md:text-[16px] md:text-left mb-[25px] ">
        Over 20 years of extensive preclinical and clinical studies sponsored by the National Institutes of Health (NIH) and
        conducted at the Longevity Institute and Diabetes and Obesity Research Institute of The University of Southern
        California (USC) resulted in the development of the Fasting Mimicking Technology which is shown:</p>
        <ul class=" text-[14px] md:text-[16px]" >
          <li>• High level of protection and stress resistance in cells</li>
          <li>• Supports metabolic health</li>
          <li>• Triggers autophagy - the clean-up of cellular debris</li>
          <li>
            • Helps reduce visceral fat for a trimmer waistline</li>
        </ul>
      
  
    </div>
    <div class="img md:w-[700px]  w-full p-3 md:p-0">
      <img src="https://subscriptions.prolonlife.com/cdn/shop/files/ProLon_Square_rounded_-Science_750x.png?v=1668359674" alt="" class="">
    </div>

</section>
<section>
<div class="contanir max-w-[1420px] mx-auto py-[40px]  md:py-[60px]  ">
  <div class="p-3">
  <h1 class="flex justify-center bg-[#fef3e4] text-center px-2 rounded-xl py-7  !text-[28px]   md:!text-[35px] !font-semibold ">
Backed by 20 years and $36 million in research & development

  </h1></div>
  <div class="  !grid md:grid-cols-2 grid-cols-1 gap-5  p-3">
    <div class="img md:pt-[20px] ">
      <img src="https://subscriptions.prolonlife.com/cdn/shop/files/Science_-_1_1080x.png?v=1667905014" alt="">
    </div>
    <div class="img md:pt-[20px]">
<img src="https://subscriptions.prolonlife.com/cdn/shop/files/Science_2_1600x.png?v=1667905043" alt="">

    </div>




  </div>





</div>





</section>
<section class="bg-[#f5f7f2]"   >

  <div class="contanir flex md:flex-nowrap justify-between flex-wrap py-[40px] md:py-[60px] mx-auto  max-w-[1420px]">
    <div class="img md:w-[700px]  w-full p-3 md:p-0">
      <img src="https://subscriptions.prolonlife.com/cdn/shop/files/ProLon_Square_rounded_-_Science_1080x.png?v=1668361256" alt="" class="">
    </div>
  
  
    <div class="text w-full md:w-[43%] px-6 p-3 md:pl-[60px] md:pr-[100px] my-auto  mx-auto">
      <h2 class=" !text-[28px] md:text-left  md:!text-[35px] !font-semibold  mb-[10px] md:mb-[20px]">Clinical Study Methodology
      </h2>
  
  
      <p class=" text-[14px] md:text-[16px] md:text-left  ">
        Randomized controlled trial of subjects, completed 3 cycles of the ProLon Fasting Nutrition Program either in a
        randomized (n=39) or after being crossed over from a control diet group to the Fasting Mimicking Program group (N=32).
        Control subjects continued their normal diet. ProLon participants consumed the fasting mimicking diet for 5 consecutive
        days per month for three months. Measurements were performed prior to the diet (Before) and during the recovery period
        after the third cycle (After).
      </p>
  
    </div>
  
  </div>




</section>