<section>
  <div class="relative md:pt-32 md:-mt-40">
    <div class="absolute inset-0 w-full sm:overflow-hidden">
      <div class="object-cover w-full h-full">
        <img class="object-cover object-right w-full h-full md:object-center" width="100%" height="100%"
          src="//subscriptions.prolonlife.com/cdn/shop/files/handcup4_3024x_f402c51a-aca6-49cf-9479-7dfd8886dd93.jpg?v=1668511163">
      </div>
    </div>
    <div
      class="flex mx-auto max-w-screen-2xl sm:px-6 lg:px-8 font-harmonia md:items-center md:justify-center h-96 md:h-140">
      <div
        class="relative flex flex-col items-center justify-center max-w-xl px-4 py-8 my-12 rounded-3xl sm:px-6 backdrop-blur-sm bg-white/25">
        <h1 class="justify-center w-full py-3 text-3xl font-light leading-snug tracking-tight text-center md:text-40">
          <span class="block font-bold font-harmonia" style="color:">
            <p class="font-medium">Find out why everyone’s talking about the ProLon® Fasting Mimicking Diet®</p>
          </span>
        </h1>
        <div class="justify-center text-xl text-center text-black font-harmonia">

        </div>
      </div>
    </div>
  </div>


</section>
<section>
  <div class="py-6 lg:overflow-hidden font-harmonia md:py-12" style="background-color: #ffffff">

    <div class="mx-auto max-w-screen-2xl lg:px-8">
      <div class="flex flex-col items-center justify-center md:flex-row" '="">
          <div class="w-full max-w-2xl px-4 mx-auto sm:px-6 lg:flex lg:items-center lg:px-0 md:w-1/2">
              <div class=""><p class="px-5 text-sm font-light tracking-tight text-center md:px-10 md:text-left font-harmonia"> </p><h2 class="px-5 my-4 text-3xl font-bold tracking-tight text-center md:px-10 md:text-left md:text-4xl sm:my-5 lg:my-6">
                    <span class="block text-center text-black md:text-left font-avant"></span>
                </h2><div class="px-5 text-lg text-left text-black md:px-10 font-avenir">  
                  ProLon® Fasting Mimicking Diet® is a 5-day program of scientifically designed, delicious food.  The nutrients in the food nourish you, but don’t alert your body’s internal food sensing system, so your cells “think” you’re fasting. In other words, it’s a “fast with food!™”  
<br><br>
Harnessing the power of fasting is an integral part of the ProLon mission: to help people live healthier, all the way to 100.              
                </div><div class="items-start justify-start w-full max-w-sm px-5 mx-auto mt-5 md:px-10 sm:flex sm:max-w-none"></div>
              </div>
          </div>
          <div class="relative w-full py-6 mx-auto md:py-0 md:w-1/2" style="max-width:">

               
              <img class="object-cover object-right w-full h-full" width="100%" height="100%" src="//subscriptions.prolonlife.com/cdn/shop/files/ProLon_-_Open_Box_-_What_s_inside_900x_c5bcc7fd-b536-48fe-8dd8-f53f054c1213.png?v=1668511421">
              
 
          </div>
      </div>
  </div>
</div>



</section>
<section>
<div class="py-6 lg:overflow-hidden font-harmonia md:py-12" style="background-color: #ffffff">

  <div class="mx-auto max-w-screen-2xl lg:px-8">
    <div class="flex flex-col items-center justify-center md:flex-row md:flex-row-reverse" '="">
        <div class="w-full max-w-2xl px-4 mx-auto sm:px-6 lg:flex lg:items-center lg:px-0 md:w-1/2">
          <div class="">
            <p class="px-5 text-sm font-light tracking-tight text-center md:px-10 md:text-left font-harmonia"> </p>
            <h2
              class="px-5 my-4 text-3xl font-bold tracking-tight text-center md:px-10 md:text-left md:text-4xl sm:my-5 lg:my-6">
              <span class="block text-center text-black md:text-left font-avant">Healthy Aging</span>
            </h2>
            <div class="px-5 text-lg text-left text-black md:px-10 font-avenir">
              The cell rejuvenation process, or “autophagy,” is one of the most profound benefits of ProLon because it
              can help people live healthier for longer.
              <br><br>
              ProLon can trigger cell rejuvenation because it is stealth to your body’s food sensing pathways and causes
              your cells to think they’re in a prolonged fast. This usually occurs on Day 3 of the diet. That’s the
              point when cells turn to themselves for nourishment. They gather their old, worn-out parts that are
              dragging on their inner workings, break them down, and recycle them. The end result is rejuvenated cells.
              <br><br>
              ProLon is more than a diet. It will help your body rejuvenate for healthy aging.
            </div>
            <div class="items-start justify-start w-full max-w-sm px-5 mx-auto mt-5 md:px-10 sm:flex sm:max-w-none">
            </div>
          </div>
        </div>
        <div class="relative w-full py-6 mx-auto md:py-0 md:w-1/2" style="max-width:500px">


          <img class="object-cover object-right w-full h-full" width="100%" height="100%"
            src="//subscriptions.prolonlife.com/cdn/shop/files/5Day_Meal_Plan_900x_a7bf2ab3-db61-401e-8c00-f53d102b4b1d.jpg?v=1668511519">


        </div>
      </div>
    </div>
  </div>


</section>
<section>

  <div class="py-6 lg:overflow-hidden font-harmonia md:py-12" style="background-color: #ffffff">

    <div class="mx-auto max-w-screen-2xl lg:px-8">
      <div class="flex flex-col items-center justify-center md:flex-row" '="">
          <div class="w-full max-w-2xl px-4 mx-auto sm:px-6 lg:flex lg:items-center lg:px-0 md:w-1/2">
              <div class=""><p class="px-5 text-sm font-light tracking-tight text-center md:px-10 md:text-left font-harmonia"> </p><h2 class="px-5 my-4 text-3xl font-bold tracking-tight text-center md:px-10 md:text-left md:text-4xl sm:my-5 lg:my-6">
                    <span class="block text-center text-black md:text-left font-avant">Healthier Eating Habits</span>
                </h2><div class="px-5 text-lg text-left text-black md:px-10 font-avenir">  
                  These days, it’s harder to stay on track with healthy eating habits.  Why? Because we’re all at home more, which means that we have constant access to our pantries.  We snack when we’re hungry, we snack when we’re not hungry, we snack when we’re bored. 
<br><br>
Yes, we snack a lot these days.  And, because most gyms still are still closed, we can’t work out like we used to. 
<br><br>
The good news though, is that one of the profound benefits of ProLon is that it can lead to healthier eating habits. Most ProLon users say that they enjoyed less food cravings, were better able to resist sugary foods, and control their meal portions after doing one cycle of ProLon. Most users also say that they’re more motivated to adopt a healthier lifestyle in general.              
                </div><div class="items-start justify-start w-full max-w-sm px-5 mx-auto mt-5 md:px-10 sm:flex sm:max-w-none"></div>
              </div>
          </div>
          <div class="relative w-full py-6 mx-auto md:py-0 md:w-1/2" style="max-width:500px">

               
              <img class="object-cover object-right w-full h-full" width="100%" height="100%" src="//subscriptions.prolonlife.com/cdn/shop/files/What_is_Prolon_900x_e9fb9410-53ae-4c9c-81ed-a755ba296ab9.jpg?v=1668511621">
              
 
          </div>
      </div>
  </div>
</div>

</section>

<section>
<div class="py-6 lg:overflow-hidden font-harmonia md:py-12" style="background-color: #ffffff">

  <div class="mx-auto max-w-screen-2xl lg:px-8">
    <div class="flex flex-col items-center justify-center md:flex-row md:flex-row-reverse" '="">
        <div class="w-full max-w-2xl px-4 mx-auto sm:px-6 lg:flex lg:items-center lg:px-0 md:w-1/2">
          <div class="">
            <p class="px-5 text-sm font-light tracking-tight text-center md:px-10 md:text-left font-harmonia"> </p>
            <h2
              class="px-5 my-4 text-3xl font-bold tracking-tight text-center md:px-10 md:text-left md:text-4xl sm:my-5 lg:my-6">
              <span class="block text-center text-black md:text-left font-avant">Weight Loss</span>
            </h2>
            <div class="px-5 text-lg text-left text-black md:px-10 font-avenir">
              If you’re looking for healthier eating habits, you probably also care about your weight. The two go hand
              in hand.
              <br><br>
              ProLon is a quick start to weight loss. In fact, if you do three cycles of ProLon in three months, the
              benefits truly are amazing:
              <br><br>
              <b>
                • Quick start to weight loss and maintenance of lean body mass*
                <br><br>
                • Healthier eating habits
                <br><br>
                • Supports healthy aging
                <br><br>
                • Supports cell rejuvenation
                <br><br>
                • Better energy and mental clarity
                <br><br>
                • Supports metabolic health</b>
            </div>
            <div class="items-start justify-start w-full max-w-sm px-5 mx-auto mt-5 md:px-10 sm:flex sm:max-w-none">
            </div>
          </div>
        </div>
        <div class="relative w-full py-6 mx-auto md:py-0 md:w-1/2" style="max-width:500px">


          <img class="object-cover object-right w-full h-full" width="100%" height="100%"
            src="//subscriptions.prolonlife.com/cdn/shop/files/Girl-on-Scale-Isolated-1108x1500_900x_5a4462ca-bbba-4696-8fa2-e18d0fb313a2.png?v=1668511670">


        </div>
      </div>
    </div>
  </div>



</section>

<section>
  <div class="relative ">
    <div class="absolute inset-0 w-full sm:overflow-hidden">
      <div class="object-cover w-full h-full">
        <img class="object-cover object-right w-full h-full md:object-center" width="100%" height="100%"
          src="//subscriptions.prolonlife.com/cdn/shop/files/ProLon_Mobile_Hero-Lime_3024x_abce1b5c-305e-4179-88ed-74e9d3a5e219.png?v=1668512368">
      </div>
    </div>
    <div
      class="flex mx-auto max-w-screen-2xl sm:px-6 lg:px-8 font-harmonia md:items-center md:justify-center h-96 md:h-140">
      <div
        class="relative flex flex-col items-center justify-center max-w-xl px-4 py-8 my-12 bg-transparent rounded-3xl sm:px-6">
        <h1 class="justify-center w-full py-3 text-3xl font-light leading-snug tracking-tight text-center md:text-40">
          <span class="block font-bold font-harmonia" style="color:"><span
              class="text-2xl font-medium md:text-4xl">There’s never been a better time to try ProLon</span></span>
        </h1>
        <div class="justify-center text-xl text-center text-black font-harmonia">

        </div>
        <div class="justify-center max-w-sm mx-auto mt-4 text-center sm:flex sm:max-w-none">

          <div>


            <a href="/products/prolon-offer-v2">
              <div
                class="inline-flex justify-center p-3 text-base font-bold text-center text-white rounded font-avenir active:shadow-sm border-prolon_secondary bg-prolon_secondary w-60 md:w-52">
                ORDER NOW
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>


</section>
<section>

<div class="relative my-0 md:my-0">
  <div class="relative inset-0 w-full md:absolute sm:overflow-hidden">
    <div class="object-cover w-full md:h-full">
      <img class="object-cover object-top w-full h-full" width="100%" height="100%"
        src="//subscriptions.prolonlife.com/cdn/shop/files/The_Longevity_Diet_-_2_1080x_4969237b-819a-45ce-be0f-0c9100a7b2a8.png?v=1668512912">
    </div>
  </div>
  <div
    class="flex items-center justify-center w-full mx-auto md:max-w-screen-xl 2xl:max-w-screen-2xl font-harmonia md:justify-start">
    <div class="relative sm:overflow-hidden">
      <div class="relative w-full px-4 py-10 bg-white md:my-16 md:max-w-sm sm:px-6 md:py-10 md:px-8">
        <h3 class="w-full text-sm text-center text-black md:text-left md:pt-0"></h3>
        <h1 class="py-3 font-bold tracking-tight text-center text-black md:text-left text-28">
          <span class="block text-center text-black md:text-left">Scientifically Tested</span>
        </h1>
        <div class="text-lg text-center text-black md:text-left">
          The creator of the diet, Dr. Valter Longo, and the University of Southern California Longevity Institute, was
          awarded $36 million in funding and put over 20 years into research and development of this Fasting Mimicking
          Diet. The great news is that it was worth it - several clinical studies show that use of ProLon supports
          healthy aging.*
        </div>
      </div>
    </div>
  </div>
</div>


</section>