<style>
  
  .section-survey {
    background-image: url(src='https://cdn.shopify.com/s/files/1/0126/2921/3243/files/032819-754_1.png?v=1627681755');
  }
  
</style>


<div class="section-survey">
  
  
  <div class="page-width page-content">

  {%- render 'breadcrumbs' -%}

	<div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>

      <div class="rte rte--nomargin">
        {{ page.content }}
      </div>

    </div>
  </div>

</div>
</div>
