{% include 'filter-section'%}

<div class="weight-loss-content page-new-content" >
  {% section 'page-sections-template-weight-loss' %}


</div> 
 
<div class="cleanse-content page-new-content" style="display: none;" >

   {% section 'page-sections-template-cleanse' %}
  
</div> 

<div class="detox-content page-new-content" style="display: none;" >
   {% section 'page-sections-template-detox' %}
  
</div>
