{{ 'registration.scss.css' | asset_url | stylesheet_tag }}
{% include 'aaa_mem_helper' with 'page' %}
<div class="page-width page-content">
  {%- render 'breadcrumbs' -%}

  <div class="grid">
    <div
      class="grid__item medium-up--three-quarters medium-up--push-one-eighth registration-custom-content"
    >
      <!--
        <header class="section-header">
          <h1 class="section-header__title">{{ page.title }}</h1>
        </header>
      -->

      <div class="rte rte--nomargin">
        {{ page.content }}
      </div>
      {% comment %} <div data-tf-widget="WnRFnkYd" data-tf-opacity="100" data-tf-inline-on-mobile data-tf-iframe-props="title=Professional Registration" data-tf-transitive-search-params data-tf-auto-focus data-tf-medium="snippet" data-tf-full-screen></div><script src="//embed.typeform.com/next/embed.js"></script> {% endcomment %}

      <form
        method="post"
        action=""
        class="custom-membership_form registration-form"
        enctype="multipart/form-data"
      >
        <input type="hidden" name="container_id" value=""
        ><input
          type="hidden"
          name="form_id"
          value="4496"
        >
        <input
          type="hidden"
          name="form_domain"
          value="prolon-pro.myshopify.com"
        >
        <input
          type="hidden"
          name=""
          value="Thank You!"
          class="success_msg"
        >
        <input
          type="hidden"
          name=""
          value=""
          class="aaa_thankyoupageurl"
        >
        <input type="hidden" name="type" value="HCP">
        <div class="">
          <h1
            type="h1"
            class="header"
            name=""
            id=""
            style="color: rgb(0, 0, 0)"
          >
            Licensed Health Professional
          </h1>
        </div>
        <div class="">
          <hr type="hr" class="aaadivider" name="" id="">
        </div>
        <div class="">
          <h2
            type="h2"
            class="header"
            name=""
            id=""
            style="color: rgb(0, 0, 0)"
          >
            1. Begin Registration
          </h2>
        </div>
        <div class="membership-text form-group field-first-name">
          <label
            for="First_Name"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >First Name <span class="required">*</span>
          </label>
          <input
            type="text"
            required=""
            class="form-control"
            name="First_Name"
            id="First_Name"
            aria-required="true"
          >
        </div>
        <div class="membership-text form-group field-last-name">
          <label
            for="Last_Name"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >Last Name <span class="required">*</span>
          </label>
          <input
            type="text"
            required=""
            class="form-control"
            name="Last_Name"
            id="Last_Name"
            aria-required="true"
          >
        </div>
        <div class="membership-email form-group field-replyemail">
          <label
            for="Email"
            class="membership-email-label"
            style="color: rgb(0, 0, 0)"
            >Email Address <span class="required">*</span>
          </label>
          <input
            type="email"
            required=""
            class="form-control"
            name="Email"
            id="Email"
            aria-required="true"
          >
        </div>
        <div class="membership-password form-group field-customer-password">
          <label
            for="Password"
            class="membership-password-label"
            style="color: rgb(0, 0, 0)"
            >Password <span class="required">*</span>
          </label>
          <input
            type="password"
            required=""
            class="form-control"
            name="Password"
            id="Password"
            aria-required="true"
          >
        </div>
         
        <div
          class="membership-select form-group field-select-language-preference"
        >
          <label
            for="Language_Preference"
            class="membership-select-label"
            style="color: rgb(0, 0, 0)"
            >Language Preference <span class="required">*</span> </label
          ><select
            type="select"
            required=""
            class="form-control"
            name="Language_Preference"
            id="Language_Preference"
            aria-required="true"
          >
            <option selected="true">--</option>
            <option value="english">English</option>
          </select>
        </div>
        <div
          class="membership-radio form-group field-radio-group-1603816450847"
        >
          <label
            for="Will_there_be_more_than_one_person_in_the_business"
            class="membership-radio-group-label"
            style="color: rgb(0, 0, 0)"
            >WILL THERE BE MORE THAN ONE PERSON IN THE BUSINESS?
            <span class="required">*</span>
          </label>
          <div class="radio-group">
            <input
              value="no"
              type="radio"
              required=""
              class="radio-group"
              name="Will_there_be_more_than_one_person_in_the_business"
              id="Will_there_be_more_than_one_person_in_the_business-0"
              aria-required="true"
              checked=""
            >
            <label
              for="Will_there_be_more_than_one_person_in_the_business-0"
              style="color: rgb(0, 0, 0)"
              >No</label
            ><br>
            <input
              value="yes"
              type="radio"
              required=""
              class="radio-group"
              name="Will_there_be_more_than_one_person_in_the_business"
              id="
                WILL THERE BE MORE THAN ONE PERSON IN
                THE BUSINESS?*-1
              "
              aria-required="true"
            >
            <label
              for="Will_there_be_more_than_one_person_in_the_business-1"
              style="color: rgb(0, 0, 0)"
              >Yes</label
            ><br>
          </div>
        </div>
        <div class="">
          <h3
            type="h3"
            class="header"
            name=""
            id=""
            style="color: rgb(0, 0, 0)"
          >
            2. Account Information
          </h3>
        </div>
        <div class="membership-text form-group field-text-1603817124022">
          <label
            for="Type_of_Practice"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >Practice Name <span class="required">*</span>
          </label>
          <input
            type="text"
            required=""
            class="form-control"
            name="Type_of_Practice"
            id="Type_of_Practice"
            aria-required="true"
          >
        </div>
        <div class="membership-text form-group field-text-1603817215609">
          <label
            for="Resale_License_No"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >License No. <span class="required">*</span>
          </label>
          <input
            type="text"
            required=""
            class="form-control"
            name="Resale_License_No"
            id="Resale_License_No"
            aria-required="true"
          >
        </div>
        <div class="membership-select form-group field-select-1603817242697">
          <label
            for="Discipline"
            class="membership-select-label"
            style="color: rgb(0, 0, 0)"
            >Discipline <span class="required">*</span> </label
          ><select
            type="select"
            required=""
            placeholder="Please select discipline"
            class="form-control"
            name="Discipline"
            id="Discipline"
            aria-required="true"
          >
            <option disabled="" selected="">Please select discipline</option>
            <option>--</option>
            <option value="Medical Doctor (Physician)">Medical Doctor (Physician)</option>
            <option value="Doctor of Osteopathy (Physician)">Doctor of Osteopathy (Physician)</option>
            <option value="Physician Assistant">Physician Assistant</option>
            <option value="Nurse Practitioner">Nurse Practitioner</option>
            <option value="Registered Nurse">Registered Nurse</option>
            <option value="Naturopathic Doctor (Physician)">Naturopathic Doctor (Physician)</option>
            <option value="Registered/Licensed Dietitian Nutritionist">
              Registered/Licensed Dietitian Nutritionist
            </option>
            <option value="Acupuncturist">Acupuncturist</option>
            <option value="Pharmacist">Pharmacist</option>
            <option value="Doctor of Dental Surgery/Doctor of Dental Medicine">
              Doctor of Dental Surgery/Doctor of Dental Medicine
            </option>
            <option value="Doctor of Chiropractic">Doctor of Chiropractic</option>
          </select>
        </div>

        <div class="membership-file form-group field-file-1603887227770">
          <label
            for="Resale_Certificate"
            class="membership-file-label"
            style="color: rgb(0, 0, 0)"
            >RESALE CERTIFICATE
          </label>
          <input
            type="file"
            class="form-control"
            name="Resale_Certificate"
            id="Resale_Certificate"
          >
        </div>

        <div class="membership-select form-group field-select-1603817435124">
          <label
            for="Speciality"
            class="membership-select-label"
            style="color: rgb(0, 0, 0)"
            >SPECIALTY <span class="required">*</span> </label
          ><select
            type="select"
            required=""
            placeholder="Please select speciality"
            class="form-control"
            name="Speciality"
            id="Speciality"
            aria-required="true"
          >
            <option disabled="" selected="">Please select speciality</option>
            <option value="Allergy/Immunology">Allergy/Immunology</option>
            <option value="Cardiology">Cardiology</option>
            <option value="Dermatology">Dermatology</option>
            <option value="Emergency Medicine">Emergency Medicine</option>
            <option value="Endocrinology">Endocrinology</option>
            <option value="Functional/Integrative Medicine">Functional/Integrative Medicine</option>
            <option value="Gastroenterology">Gastroenterology</option>
            <option value="Internal Medicine (General)">Internal Medicine (General)</option>
            <option value="Nephrology">Nephrology</option>
            <option value="Neurology">Neurology</option>
            <option value="Obstetrics/Gynecology">Obstetrics/Gynecology</option>
            <option value="Oncology">Oncology</option>
            <option value="Ophthalmology">Ophthalmology</option>
            <option value="Orthopedic surgery">Orthopedic surgery</option>
            <option value="Otorhinolaryngology">Otorhinolaryngology</option>
            <option value="Physical Medicine/Rehab">Physical Medicine/Rehab</option>
            <option value="Psychiatry">Psychiatry</option>
            <option value="Pulmonology">Pulmonology</option>
            <option value="Rheumatology">Rheumatology</option>
            <option value="Surgery (General)">Surgery (General)</option>
            <option value="Surgery (Cardio Vascular)">Surgery (Cardio Vascular)</option>
            <option value="Urology">Urology</option>
            <option value="Other (please specify)">Other (please specify)</option>
          </select>
        </div>
        <div class="membership-tel form-group field-text-202010270422">
          <label
            for="Mobile"
            class="membership-tel-label"
            style="color: rgb(0, 0, 0)"
            >Phone <span class="required">*</span>
          </label>
          <input
            type="tel"
            required=""
            class="form-control"
            name="Mobile"
            id="Mobile"
            aria-required="true"
          >
        </div>
        <div class="">
          <h3
            type="h3"
            class="header"
            name=""
            id=""
            style="color: rgb(0, 0, 0)"
          >
            Office Address
          </h3>
        </div>
        <div class="membership-text form-group field-text-1603818259115">
          <label
            for="Street"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >Street Address <span class="required">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            name="Street"
            id="Street"
            required
          >
        </div>
        <div class="membership-text form-group field-text-1603818270548">
          <label
            for="Suite_Unit_Apt"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >Address Line 2
          </label>
          <input
            type="text"
            class="form-control"
            name="Suite_Unit_Apt"
            id="Suite_Unit_Apt"
          >
        </div>
        <div class="membership-text form-group field-text-2020102725622">
          <label
            for="City"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >City <span class="required">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            name="City"
            id="City"
            required
          >
        </div>
        <div class="membership-text form-group field-text-1603818400859">
          <label
            for="State"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            required
            >State / Province / Region <span class="required">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            name="State"
            id="State"
            required
          >
        </div>
        <div class="membership-text form-group field-text-1603818439230">
          <label
            for="Zip_Code"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >Zip / Postal Code <span class="required">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            name="Zip_Code"
            id="Zip_Code"
            required
          >
        </div>
        <div
          class="membership-select form-group field-aaa-form-builder-country"
        >
          <label
            for="Country"
            class="membership-select-label"
            style="color: rgb(0, 0, 0)"
            >Country <span class="required">*</span> </label
          ><select
            type="select"
            class="form-control"
            name="Country"
            id="Country"
            required
          >
            <option value="United States" selected="true">United States</option>
            <option value="Canada">Canada</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
            <option value="Antigua And Barbuda">Antigua And Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Aruba">Aruba</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Bahrain">Bahrain</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Barbados">Barbados</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Belize">Belize</option>
            <option value="Benin">Benin</option>
            <option value="Bermuda">Bermuda</option>
            <option value="Bhutan">Bhutan</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Bosnia And Herzegovina">Bosnia And Herzegovina</option>
            <option value="Botswana">Botswana</option>
            <option value="Brazil">Brazil</option>
            <option value="Brunei">Brunei</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="New Caledonia">New Caledonia</option>
            <option value="Cambodia">Cambodia</option>
            <option value="Republic of Cameroon">Republic of Cameroon</option>
            <option value="Cayman Islands">Cayman Islands</option>
            <option value="Chile">Chile</option>
            <option value="Colombia">Colombia</option>
            <option value="Comoros">Comoros</option>
            <option value="Congo">Congo</option>
            <option value="Congo  The Democratic Republic Of The">Congo, The Democratic Republic Of The</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="Côte d'Ivoire">Côte d'Ivoire</option>
            <option value="Croatia">Croatia</option>
            <option value="Curaçao">Curaçao</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Dominica">Dominica</option>
            <option value="Dominican Republic">Dominican Republic</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Egypt">Egypt</option>
            <option value="El Salvador">El Salvador</option>
            <option value="Estonia">Estonia</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="Equatorial Guinea">Equatorial Guinea</option>
            <option value="Faroe Islands">Faroe Islands</option>
            <option value="Fiji">Fiji</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="Gabon">Gabon</option>
            <option value="Gambia">Gambia</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Ghana">Ghana</option>
            <option value="French Polynesia">French Polynesia</option>
            <option value="Gibraltar">Gibraltar</option>
            <option value="Greece">Greece</option>
            <option value="Greenland">Greenland</option>
            <option value="Grenada">Grenada</option>
            <option value="Guadeloupe">Guadeloupe</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Guernsey">Guernsey</option>
            <option value="Guyana">Guyana</option>
            <option value="Haiti">Haiti</option>
            <option value="Honduras">Honduras</option>
            <option value="Hong Kong">Hong Kong</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Ireland">Ireland</option>
            <option value="Isle Of Man">Isle Of Man</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <option value="Jersey">Jersey</option>
            <option value="Jordan">Jordan</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kenya">Kenya</option>
            <option value="Kosovo">Kosovo</option>
            <option value="Kuwait">Kuwait</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
            <option value="Latvia">Latvia</option>
            <option value="Lebanon">Lebanon</option>
            <option value="Lesotho">Lesotho</option>
            <option value="Liberia">Liberia</option>
            <option value="Liechtenstein">Liechtenstein</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Macao">Macao</option>
            <option value="Macedonia  Republic Of">Macedonia, Republic Of</option>
            <option value="Madagascar">Madagascar</option>
            <option value="Malawi">Malawi</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Maldives">Maldives</option>
            <option value="Malta">Malta</option>
            <option value="Martinique">Martinique</option>
            <option value="Mauritius">Mauritius</option>
            <option value="Mexico">Mexico</option>
            <option value="Moldova  Republic of">Moldova, Republic of</option>
            <option value="Monaco">Monaco</option>
            <option value="Mongolia">Mongolia</option>
            <option value="Montenegro">Montenegro</option>
            <option value="Morocco">Morocco</option>
            <option value="Mozambique">Mozambique</option>
            <option value="Myanmar">Myanmar</option>
            <option value="Namibia">Namibia</option>
            <option value="Nepal">Nepal</option>
            <option value="Netherlands Antilles">Netherlands Antilles</option>
            <option value="Netherlands">Netherlands</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Nicaragua">Nicaragua</option>
            <option value="Niger">Niger</option>
            <option value="Nigeria">Nigeria</option>
            <option value="Norway">Norway</option>
            <option value="Oman">Oman</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Palestinian Territory  Occupied">Palestinian Territory, Occupied</option>
            <option value="Panama">Panama</option>
            <option value="Papua New Guinea">Papua New Guinea</option>
            <option value="Paraguay">Paraguay</option>
            <option value="Peru">Peru</option>
            <option value="Philippines">Philippines</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Qatar">Qatar</option>
            <option value="Reunion">Reunion</option>
            <option value="Romania">Romania</option>
            <option value="Russia">Russia</option>
            <option value="Rwanda">Rwanda</option>
            <option value="Saint Kitts And Nevis">Saint Kitts And Nevis</option>
            <option value="Saint Lucia">Saint Lucia</option>
            <option value="Saint Martin">Saint Martin</option>
            <option value="Sao Tome And Principe">Sao Tome And Principe</option>
            <option value="Samoa">Samoa</option>
            <option value="Saudi Arabia">Saudi Arabia</option>
            <option value="Senegal">Senegal</option>
            <option value="Serbia">Serbia</option>
            <option value="Seychelles">Seychelles</option>
            <option value="Singapore">Singapore</option>
            <option value="Sint Maarten">Sint Maarten</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Slovenia">Slovenia</option>
            <option value="Solomon Islands">Solomon Islands</option>
            <option value="South Africa">South Africa</option>
            <option value="South Korea">South Korea</option>
            <option value="Spain">Spain</option>
            <option value="Sri Lanka">Sri Lanka</option>
            <option value="St. Vincent">St. Vincent</option>
            <option value="Sudan">Sudan</option>
            <option value="Suriname">Suriname</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Syria">Syria</option>
            <option value="Taiwan">Taiwan</option>
            <option value="Tanzania  United Republic Of">Tanzania, United Republic Of</option>
            <option value="Thailand">Thailand</option>
            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
            <option value="Tunisia">Tunisia</option>
            <option value="Turkey">Turkey</option>
            <option value="Turkmenistan">Turkmenistan</option>
            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
            <option value="Uganda">Uganda</option>
            <option value="Ukraine">Ukraine</option>
            <option value="United Arab Emirates">United Arab Emirates</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Uzbekistan">Uzbekistan</option>
            <option value="Vanuatu">Vanuatu</option>
            <option value="Venezuela">Venezuela</option>
            <option value="Vietnam">Vietnam</option>
            <option value="Virgin Islands  British">Virgin Islands, British</option>
            <option value="Yemen">Yemen</option>
            <option value="Zambia">Zambia</option>
            <option value="Zimbabwe">Zimbabwe</option>
            <option value="Aland Islands">Aland Islands</option>
            <option value="Anguilla">Anguilla</option>
            <option value="Bouvet Island">Bouvet Island</option>
            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
            <option value="Burkina Faso">Burkina Faso</option>
            <option value="Burundi">Burundi</option>
            <option value="Cape Verde">Cape Verde</option>
            <option value="Central African Republic">Central African Republic</option>
            <option value="Chad">Chad</option>
            <option value="Christmas Island">Christmas Island</option>
            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
            <option value="Cook Islands">Cook Islands</option>
            <option value="Cuba">Cuba</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Eritrea">Eritrea</option>
            <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
            <option value="French Guiana">French Guiana</option>
            <option value="French Southern Territories">French Southern Territories</option>
            <option value="Guinea">Guinea</option>
            <option value="Guinea Bissau">Guinea Bissau</option>
            <option value="Heard Island And Mcdonald Islands">Heard Island And Mcdonald Islands</option>
            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
            <option value="Iran  Islamic Republic Of">Iran, Islamic Republic Of</option>
            <option value="Iraq">Iraq</option>
            <option value="Kiribati">Kiribati</option>
            <option value="Korea  Democratic People's Republic Of">Korea, Democratic People's Republic Of</option>
            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
            <option value="Mali">Mali</option>
            <option value="Mauritania">Mauritania</option>
            <option value="Mayotte">Mayotte</option>
            <option value="Montserrat">Montserrat</option>
            <option value="Nauru">Nauru</option>
            <option value="Niue">Niue</option>
            <option value="Norfolk Island">Norfolk Island</option>
            <option value="Pitcairn">Pitcairn</option>
            <option value="Saint Barthélemy">Saint Barthélemy</option>
            <option value="Saint Helena">Saint Helena</option>
            <option value="Saint Pierre And Miquelon">Saint Pierre And Miquelon</option>
            <option value="San Marino">San Marino</option>
            <option value="Sierra Leone">Sierra Leone</option>
            <option value="Somalia">Somalia</option>
            <option value="South Georgia And The South Sandwich Islands">
              South Georgia And The South Sandwich Islands
            </option>
            <option value="Svalbard And Jan Mayen">Svalbard And Jan Mayen</option>
            <option value="Swaziland">Swaziland</option>
            <option value="Tajikistan">Tajikistan</option>
            <option value="Timor Leste">Timor Leste</option>
            <option value="Togo">Togo</option>
            <option value="Tokelau">Tokelau</option>
            <option value="Tonga">Tonga</option>
            <option value="Tuvalu">Tuvalu</option>
            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
            <option value="Wallis And Futuna">Wallis And Futuna</option>
            <option value="Western Sahara">Western Sahara</option>
          </select>
        </div>
        <div class="membership-select form-group field-select-1603818481919">
          <label
            for="Preferred_Method_Of_Communication"
            class="membership-select-label"
            style="color: rgb(0, 0, 0)"
            >WHAT IS YOUR PREFERRED METHOD OF COMMUNICATION <span class="required">*</span> </label
          ><select
            type="select"
            required=""
            class="form-control"
            name="Preferred_Method_Of_Communication"
            id="Preferred_Method_Of_Communication"
            aria-required="true"
          >
            <option value="E-Mail" selected="true">E-Mail</option>
            <option value="Fax">Fax</option>
            <option value="Phone">Phone</option>
            <option value="Text">Text</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="">
          <h3
            type="h3"
            class="header"
            name=""
            id=""
            style="color: rgb(0, 0, 0)"
          >
            3. PROLON IN YOUR PRACTICE
          </h3>
        </div>
        <div
          class="how-did-you-hear membership-select form-group field-select-1603818905469"
        >
          <label
            for="How_did_you_Hear_about_us1"
            class="membership-select-label"
            style="color: rgb(0, 0, 0)"
            >HOW DID YOU HEAR ABOUT US? <span class="required">*</span> </label
          ><select
            type="select"
            required
            required=""
            class="form-control"
            name="How_did_you_Hear_about_us1"
            id="How_did_you_Hear_about_us1"
            aria-required="true"
          >
            <option value="L-Nutra Employee" selected="true">L-Nutra Employee</option>
            <option value="A4M">A4M</option>
            <option value="BioTE">BioTE</option>
            <option value="Colleague">Colleague</option>
            <option value="Trade show">Trade show</option>
            <option value="Podcasts/ Interviews">Podcasts/ Interviews</option>
            <option value="The Longevity Diet Book">The Longevity Diet Book</option>
            <option value="Emerson - Wellevate">Emerson - Wellevate</option>
            <option value="Fasting Documentary">Fasting Documentary</option>
            <option value="Webinar">Webinar</option>
            <option value="Patient">Patient</option>
            <option value="Social Media">Social Media</option>
            <option value="Get Healthy Store">Get Healthy Store</option>
            <option value="MDVIP Member">MDVIP Member</option>
            <option value="Sachin Patel">Sachin Patel</option>
            <option value="Mark Hyman Podcast">Mark Hyman Podcast</option>
            <option value="Athena Health/Epocrates">Athena Health/Epocrates</option>
            <option value="ReachMD">ReachMD</option>
            <option value="Print Ad">Print Ad</option>
            <option value="Article">Article</option>
            <option value="Today's Dietitian">Today's Dietitian</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div
          class="membership-radio form-group field-radio-group-1603819052996"
        >
          <label
            for="Recommend_products_in_practice"
            class="membership-radio-group-label"
            style="color: rgb(0, 0, 0)"
            >DO YOU CURRENTLY RECOMMEND PRODUCTS IN YOUR PRACTICE?
            <span class="required">*</span>
          </label>
          <div class="radio-group">
            <input
              required
              value="yes"
              type="radio"
              required=""
              class="radio-group"
              name="Recommend_products_in_practice"
              id="Recommend_products_in_practice-0"
              aria-required="true"
            >
            <label
              for="Recommend_products_in_practice-0"
              style="color: rgb(0, 0, 0)"
              >Yes</label
            ><br>
            <input
              value="no"
              type="radio"
              required=""
              class="radio-group"
              name="Recommend_products_in_practice"
              id="DO YOU CURRENTLY RECOMMEND PRODUCTS IN YOUR PRACTICE?-1"
              aria-required="true"
            >
            <label
              for="DO YOU CURRENTLY RECOMMEND PRODUCTS IN YOUR PRACTICE?-1"
              style="color: rgb(0, 0, 0)"
              >No</label
            ><br>
          </div>
        </div>
        <div
          class="membership-radio form-group field-radio-group-1603819080414"
        >
          <label
            for="Sell_products_buy_and_bill_in_your_practice"
            class="membership-radio-group-label"
            style="color: rgb(0, 0, 0)"
            >DO YOU CURRENTLY SELL PRODUCTS (BUY-AND-BILL) IN YOUR PRACTICE?
            <span class="required">*</span>
          </label>
          <div class="radio-group">
            <input
              value="yes"
              type="radio"
              required=""
              class="radio-group"
              name="Sell_products_buy_and_bill_in_your_practice"
              id="Sell_products_buy_and_bill_in_your_practice-0"
              aria-required="true"
            >
            <label
              for="Sell_products_buy_and_bill_in_your_practice-0"
              style="color: rgb(0, 0, 0)"
              >Yes</label
            ><br>
            <input
              value="no"
              type="radio"
              required=""
              class="radio-group"
              name="Sell_products_buy_and_bill_in_your_practice"
              id="Sell_products_buy_and_bill_in_your_practice-1"
              aria-required="true"
            >
            <label
              for="Sell_products_buy_and_bill_in_your_practice-1"
              style="color: rgb(0, 0, 0)"
              >No</label
            ><br>
          </div>
        </div>
        <div
          class="membership-radio form-group field-radio-group-1603819106589"
        >
          <label
            for="Why_did_you_decide_to_register_today"
            class="membership-radio-group-label"
            style="color: rgb(0, 0, 0)"
            >WHY DID YOU DECIDE TO REGISTER TODAY?*
            <span class="required">*</span>
          </label>
          <div class="radio-group">
            <input
              value="TO ACCESS EDUCATION"
              type="radio"
              required=""
              class="radio-group"
              name="Why_did_you_decide_to_register_today"
              id="Why_did_you_decide_to_register_today-0"
              aria-required="true"
              checked=""
            >
            <label
              for="Why_did_you_decide_to_register_today-0"
              style="color: rgb(0, 0, 0)"
              >TO ACCESS EDUCATION</label
            ><br>
            <input
              value="PERSONAL USE ONLY"
              type="radio"
              required=""
              class="radio-group"
              name="Why_did_you_decide_to_register_today"
              id="Why_did_you_decide_to_register_today-1"
              aria-required="true"
            >
            <label
              for="Why_did_you_decide_to_register_today-1"
              style="color: rgb(0, 0, 0)"
              >PERSONAL USE ONLY</label
            ><br>
            <input
              value="TO VERBALLY RECOMMEND PROLON TO MY PATIENTS OR REFER THEM TO A PROLON WEBSITE (EXCLUDES SELLING PROLON)"
              type="radio"
              required=""
              class="radio-group"
              name="Why_did_you_decide_to_register_today"
              id="Why_did_you_decide_to_register_today-2"
              aria-required="true"
            >
            <label
              for="Why_did_you_decide_to_register_today-2"
              style="color: rgb(0, 0, 0)"
              >TO VERBALLY RECOMMEND PROLON TO MY PATIENTS OR REFER THEM TO A PROLON WEBSITE (EXCLUDES SELLING PROLON)</label
            ><br>
            <input
              value="TO OFFER PROLON FOR SALE TO MY PATIENTS IN MY PRACTICE (EXCLUDES VERBAL RECOMMENDATION OR REFERRAL TO A PROLON WEBSITE)"
              type="radio"
              required=""
              class="radio-group"
              name="Why_did_you_decide_to_register_today"
              id="Why_did_you_decide_to_register_today-3"
              aria-required="true"
            >
            <label
              for="Why_did_you_decide_to_register_today-3"
              style="color: rgb(0, 0, 0)"
              >TO OFFER PROLON FOR SALE TO MY PATIENTS IN MY PRACTICE (EXCLUDES VERBAL RECOMMENDATION OR REFERRAL TO A
              PROLON WEBSITE)</label
            ><br>
          </div>
        </div>
        <div
          class="membership-checkbox form-group field-checkbox-group-1603819160365"
        >
          <label
            for="How_would_you_prefer_to_learn_more_about_ProLon"
            class="membership-checkbox-group-label"
            style="color: rgb(0, 0, 0)"
            >HOW WOULD YOU PREFER TO LEARN MORE ABOUT PROLON?
          </label>
          <div class="checkbox-group">
            <input
              value="PRIVATE WEBINARS WITH L-NUTRA STAFF"
              type="checkbox"
              class="checkbox-group"
              name="How_would_you_prefer_to_learn_more_about_ProLon[]"
              id="How_would_you_prefer_to_learn_more_about_ProLon-0"
              checked=""
            >
            <label
              for="How_would_you_prefer_to_learn_more_about_ProLon-0"
              style="color: rgb(0, 0, 0)"
            >
              PRIVATE WEBINARS WITH L-NUTRA STAFF</label
            ><br>
            <input
              value="GROUP WEBINARS WITH L-NUTRA STAFF"
              type="checkbox"
              class="checkbox-group"
              name="How_would_you_prefer_to_learn_more_about_ProLon[]"
              id="How_would_you_prefer_to_learn_more_about_ProLon-1"
            >
            <label
              for="How_would_you_prefer_to_learn_more_about_ProLon-1"
              style="color: rgb(0, 0, 0)"
            >
              GROUP WEBINARS WITH L-NUTRA STAFF</label
            ><br>
            <input
              value="GROUP WEBINARS WITH KEY OPINION LEADERS"
              type="checkbox"
              class="checkbox-group"
              name="How_would_you_prefer_to_learn_more_about_ProLon[]"
              id="How_would_you_prefer_to_learn_more_about_ProLon-2"
            >
            <label
              for="How_would_you_prefer_to_learn_more_about_ProLon-2"
              style="color: rgb(0, 0, 0)"
            >
              GROUP WEBINARS WITH KEY OPINION LEADERS</label
            ><br>
            <input
              value="IN-OFFICE WITH LOCAL L-NUTRA STAFF"
              type="checkbox"
              class="checkbox-group"
              name="How_would_you_prefer_to_learn_more_about_ProLon[]"
              id="How_would_you_prefer_to_learn_more_about_ProLon-3"
            >
            <label
              for="How_would_you_prefer_to_learn_more_about_ProLon-3"
              style="color: rgb(0, 0, 0)"
            >
              IN-OFFICE WITH LOCAL L-NUTRA STAFF</label
            ><br>
            <input
              value="ROUND TABLE DINNER DISCUSSIONS"
              type="checkbox"
              class="checkbox-group"
              name="How_would_you_prefer_to_learn_more_about_ProLon[]"
              id="How_would_you_prefer_to_learn_more_about_ProLon-4"
            >
            <label
              for="How_would_you_prefer_to_learn_more_about_ProLon-4"
              style="color: rgb(0, 0, 0)"
            >
              ROUND TABLE DINNER DISCUSSIONS</label
            ><br>
            <input
              value="OTHER"
              type="checkbox"
              class="checkbox-group"
              name="How_would_you_prefer_to_learn_more_about_ProLon[]"
              id="How_would_you_prefer_to_learn_more_about_ProLon-5"
            >
            <label
              for="How_would_you_prefer_to_learn_more_about_ProLon-5"
              style="color: rgb(0, 0, 0)"
              >OTHER</label
            ><br>
            <input
              value="N/A"
              type="checkbox"
              class="checkbox-group"
              name="How_would_you_prefer_to_learn_more_about_ProLon[]"
              id="How_would_you_prefer_to_learn_more_about_ProLon-6"
            >
            <label
              for="How_would_you_prefer_to_learn_more_about_ProLon-6"
              style="color: rgb(0, 0, 0)"
              >N/A</label
            ><br>
          </div>
        </div>
        <div class="">
          <p
            type="p"
            class="paragraph"
            name=""
            id=""
            style="color: rgb(0, 0, 0)"
          >
            PLEASE DESCRIBE YOUR PAYOR MIX (VALUE BETWEEN 0 TO 100)
          </p>
        </div>
        <div class="membership-text form-group field-text-1603819292681">
          <label
            for="Can_you_describe_your_payor_mix_Cash_Pay"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >CASH-PAY <span class="required">*</span>
          </label>
          <input
            type="text"
            required=""
            placeholder="CASH-PAY"
            class="form-control"
            name="Can_you_describe_your_payor_mix_Cash_Pay"
            id="Can_you_describe_your_payor_mix_Cash_Pay"
            aria-required="true"
          >
        </div>
        <div class="membership-text form-group field-text-1603819313360">
          <label
            for="Can_you_describe_your_payor_mix_Medicare_Medical"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >Medicare/ Medicaid <span class="required">*</span>
          </label>
          <input
            type="text"
            required=""
            placeholder="Medicare/ Medicaid"
            class="form-control"
            name="Can_you_describe_your_payor_mix_Medicare_Medical"
            id="Can_you_describe_your_payor_mix_Medicare_Medical"
            aria-required="true"
          >
        </div>
        <div class="membership-text form-group field-text-1603819331151">
          <label
            for="Can_you_describe_your_payor_mix_Commercial"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >Commercial insurance <span class="required">*</span>
          </label>
          <input
            type="text"
            required=""
            placeholder="Commercial insurance"
            class="form-control"
            name="Can_you_describe_your_payor_mix_Commercial"
            id="Can_you_describe_your_payor_mix_Commercial"
            aria-required="true"
          >
        </div>
        <div
          class="membership-radio form-group field-radio-group-1603819354923"
        >
          <label
            for="How_many_patients_do_you_see_in_a_day"
            class="membership-radio-group-label"
            style="color: rgb(0, 0, 0)"
            >APPROXIMATELY HOW MANY PATIENTS DO YOU SEE IN YOU ON A NORMAL DAY?
          </label>
          <div class="radio-group">
            <input
              value="0-5"
              type="radio"
              class="radio-group"
              name="How_many_patients_do_you_see_in_a_day"
              id="How_many_patients_do_you_see_in_a_day-0"
              checked=""
            >
            <label
              for="How_many_patients_do_you_see_in_a_day-0"
              style="color: rgb(0, 0, 0)"
              >0-5</label
            ><br>
            <input
              value="6-10"
              type="radio"
              class="radio-group"
              name="How_many_patients_do_you_see_in_a_day"
              id="How_many_patients_do_you_see_in_a_day-1"
            >
            <label
              for="How_many_patients_do_you_see_in_a_day-1"
              style="color: rgb(0, 0, 0)"
              >6-10</label
            ><br>
            <input
              value="11-30"
              type="radio"
              class="radio-group"
              name="How_many_patients_do_you_see_in_a_day"
              id="How_many_patients_do_you_see_in_a_day-2"
            >
            <label
              for="How_many_patients_do_you_see_in_a_day-2"
              style="color: rgb(0, 0, 0)"
              >11-30</label
            ><br>
            <input
              value="31-50"
              type="radio"
              class="radio-group"
              name="How_many_patients_do_you_see_in_a_day"
              id="How_many_patients_do_you_see_in_a_day-3"
            >
            <label
              for="How_many_patients_do_you_see_in_a_day-3"
              style="color: rgb(0, 0, 0)"
              >31-50</label
            ><br>
            <input
              value="51+"
              type="radio"
              class="radio-group"
              name="How_many_patients_do_you_see_in_a_day"
              id="How_many_patients_do_you_see_in_a_day-4"
            >
            <label
              for="How_many_patients_do_you_see_in_a_day-4"
              style="color: rgb(0, 0, 0)"
              >51+</label
            ><br>
          </div>
        </div>
        <div class="">
          <p
            type="p"
            class="paragraph"
            name=""
            id=""
            style="color: rgb(0, 0, 0)"
          >
            IF YOU’D LIKE TO ADD SOMEONE ON YOUR TEAM TO BE NOTIFIED ABOUT SPECIAL PRICING OFFERS, EDUCATIONAL EVENTS,
            MARKETING OPTIONS, OR OTHER RELEVANT UPDATES, ENTER THEIR DETAILS BELOW.
          </p>
        </div>
        <div class="membership-text form-group field-text-1603819457354">
          <label
            for="Notified_about_special_pricing_offers_Name"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >Name
          </label>
          <input
            type="text"
            class="form-control"
            name="Notified_about_special_pricing_offers_Name"
            id="Notified_about_special_pricing_offers_Name"
          >
        </div>
        <div class="membership-text form-group field-text-1603819458336">
          <label
            for="Notified_about_special_pricing_offers_Title"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >Title
          </label>
          <input
            type="text"
            class="form-control"
            name="Notified_about_special_pricing_offers_Title"
            id="Notified_about_special_pricing_offers_Title"
          >
        </div>
        <div class="membership-text form-group field-text-1603819459159">
          <label
            for="Notified_about_special_pricing_offers_Email"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >Email
          </label>
          <input
            type="text"
            class="form-control"
            name="Notified_about_special_pricing_offers_Email"
            id="Notified_about_special_pricing_offers_Email"
          >
        </div>
        <div class="membership-text form-group field-text-1603819459751">
          <label
            for="Notified_about_special_pricing_offers_Phone"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >Phone #
          </label>
          <input
            type="text"
            class="form-control"
            name="Notified_about_special_pricing_offers_Phone"
            id="Notified_about_special_pricing_offers_Phone"
          >
        </div>
        <div class="membership-text form-group field-text-1603819509034">
          <label
            for="To_help_us_best_support_you"
            class="membership-text-label"
            style="color: rgb(0, 0, 0)"
            >TO HELP US BEST SUPPORT YOU AND YOUR PRACTICE PLEASE LET US KNOW IF THERE IS ANYTHING THAT YOU’D LIKE OUR
            ACCOUNT MANAGEMENT TEAM TO FOLLOW-UP ON BEFORE WE REACH OUT TO YOU.
          </label>
          <input
            type="text"
            class="form-control"
            name="To_help_us_best_support_you"
            id="To_help_us_best_support_you"
          >
        </div>
        <div class="membership-submit form-group field-button-1497336985158">
          <button
            type="submit"
            class="button-input btn btn-primar btn-registration-submit"
            id="button-1497336985158"
          >
            Submit
          </button>
        </div> 
        <input type="hidden" name="Lead_Type" id="Lead_Type" value="HealthCare">

      </form>
      <style type="text/css">
        .custom-membership_form .membership-submit button {
          background-color: #000000 !important;
        }

        .custom-membership_form .membership-submit button {
          color: #ffffff !important;
        }

        .custom-membership_form .membership-submit button {
          font-size: 14px !important;
        }
      </style>
      <style>
        .custom-membership_form input[type='text'],
        .custom-membership_form input[type='search'],
        .custom-membership_form input[type='password'],
        .custom-membership_form input[type='email'],
        .custom-membership_form input[type='file'],
        .custom-membership_form input[type='number'],
        .custom-membership_form input[type='tel'],
        .custom-membership_form textarea,
        .custom-membership_form select {
          width: 100% !important;
          margin: 0;
          border: 1px solid #ccc;
        }
      </style>
    </div>
    {% include 'registration-js-2023' %}
  </div>
</div>
