{% include 'shop-pay-tw-175' %}
 
{% include 'product-description-new' %}
{% include 'product-choice-new-live' %} 


{% if collection %}
  <div class="text-center page-content page-content--bottom">
    <a href="{% if collection.handle == 'frontpage' %}/{% else %}{{ collection.url }}{% endif %}" class="btn btn--small return-link">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-arrow-left" viewBox="0 0 50 15"><path d="M50 5.38v4.25H15V15L0 7.5 15 0v5.38z"/></svg> {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{% endif %}


<script>
  document.addEventListener('DOMContentLoaded', function() {
  	$('input[type=radio][name=Quantity]').change(function() {
		if (this.value.includes('Subscribe & Save')) {
	      addSubscriptionOptions();
		} else {
          $( "#subscription_plans" ).remove();
		}
	});
    
    $('input[type=radio][name=Quantity]').each(function() {
      if (this.value.includes('Subscribe & Save')) {
        if($(this).prop('checked')){
          addSubscriptionOptions();
        }
      } else {
        $( "#subscription_plans" ).remove();
      }
    }); 
  }); 
   
  function addSubscriptionOptions() {
    $( "form fieldset[name=Quantity]").append( 
		'<div id="subscription_plans" style="margin-left: 4px;">' + 
      	'<input type="hidden" name="properties[shipping_interval_unit_type]" value="Months">'+
		'<select name="properties[shipping_interval_frequency]">' +
		'  <option data-charge_interval_frequency="1" value="1" data-end="0">Deliver every month</option>' +
		'  <option data-charge_interval_frequency="2" value="2" data-end="0">Deliver every 2 months</option>' +
		'  <option data-charge_interval_frequency="3" value="3" data-end="0">Deliver every 3 months</option>' + 
		'  <option data-charge_interval_frequency="4" value="4" data-end="0">Deliver every 4 months</option>' +
		'  <option data-charge_interval_frequency="1" value="1" data-end="3">Deliver every month for 3 months</option>' +
		'</select>' +
		'</div>');   
  }
  $('[href="#product-choice"]').click(function(e){
e.preventDefault();
 $('html, body').animate({
        scrollTop: $("#product-choice").offset().top - 100
      }, 2000);
});
</script>{% render 'product_infox' %}<!-- brontoBrowseObject:start -->
